[2019-08-30 15:36] balmas commented on #232
hmm. I wonder if it that happens if you submit the login request from the extension twice? i.e. clicking it quickly twice?

[2019-08-30 15:51] monzug commented on #232
it was my first attempt to login to test this issue. I don't think I
clicked twice to login

On Fri, Aug 30, 2019 at 11:37 AM Bridget Almas <notifications@github.com>
wrote:

[2019-08-30 19:54] balmas commented on #232
hmm. Not sure what to do about this. Can you reproduce the behavior?

[2019-09-03 13:25] monzug commented on #232
Nope, I cannot reproduce.

[2019-09-03 13:25] #232 closed

[2019-09-10 15:38] balmas opened #236 "Safari login form doesn't get updated after login"
the MacOS app login form does not get updated after successful login.

The username and password box remain present and filled in, and the message on the form says "You are logged out" even though the App Extension shows the correct user information on the tab and indicates that the user is logged in.

[2019-09-10 15:38] balmas commented on #236
I think the username and password boxes should go away when the user is logged in, replaced with their nickname.

[2019-09-10 16:00] balmas opened #237 "Add tip about creating an account to Safari app login page"
Can we add some instructional text to the login form on the Safari MacOS application screen:

"To create your Alpheios account, please go to https://texts.alpheios.net/login and click the SignUp tab. Note that you must create an Alpheios user account. Log In via Google does not work for the Safari Alpheios Browser Extension."

[2019-09-10 16:20] balmas opened #238 "safari: don't send logout message before login occurs"
Right now, it looks like the MacOS app sends a logout message to the app extension before the user even tries to login. When you first launch the browser extension, it shows the Log Out notification message.

Is it possible to prevent this? And only send the Log Out notification when the user actually logs out?

[2019-09-10 17:38] kirlat commented on #236
This is some of the quirks of the Safari app, I think. Once we send a login message to the Safari app extension, it gets focus automatically (this is part of the messaging functionality and is generally a nice thing) but as a result of this a containing app window (the one with the form) loses focus and goes to the background. As a result text changes that are made there will not be visible unless

[2019-09-10 17:39] kirlat commented on #236
Maybe we should also hide Log in or Log out buttons depending on the authentication state? What do you think?

[2019-09-10 17:41] balmas commented on #236
agree

[2019-09-10 17:42] balmas commented on #236
that is very annoying.  I don't have any good ideas.

[2019-09-11 12:12] monzug commented on #236
![Screen Shot 2019-09-11 at 2 03 52 PM](https://user-images.githubusercontent.com/41396793/64696197-198b6d80-d49e-11e9-80cb-ecde1c7d0d7f.png)

[2019-09-11 12:13] monzug commented on #236
can we also add information on the required field for id/psw? I did enter an invalid one and did not get any feedback

[2019-09-11 12:14] monzug commented on #238
same screenshot as per #236
![Screen Shot 2019-09-11 at 2 03 52 PM](https://user-images.githubusercontent.com/41396793/64696346-7850e700-d49e-11e9-94cb-8bbb1ad02562.png)

[2019-09-11 12:21] kirlat commented on #236
Working on improving this part right now...

[2019-09-11 12:24] monzug commented on #236
Thanks

[2019-09-13 08:32] kirlat commented on #238
When a page with a content script is loaded for the first time, or reloaded, an app extensions is sending a state message to it. This message includes an authentication status, among other things. For the "Logged out" status we were mistakenly calling a logout method of an auth module that was causing the message mentioned above to appear. We should be doing nothing instead. This is the fix I did.

[2019-09-13 08:44] kirlat commented on #236
This shall be working as desired with the latest changes introduced in the UI. I've seen occasional quirks in behavior here and there such as unreasonable long delay in UI updates or a focus halo for the element hidden. I don't understand their true reason. They happen not often and on an irregular basis. I will keep an eye on it and will fix whatever I can.

[2019-09-13 17:35] kirlat commented on #237
After discussion with @balmas we agreed that for better UX we can just add a "Sign up" button to the containing app's UI. This button will open a sign up page of Auth0 directly.

[2019-09-13 18:39] #237 closed

[2019-09-16 15:00] monzug opened #239 "remove Greek short definition, lexical data is loading goes on and on"
tested on mobile and desktop. if I remove the lexicon short definition for Greek and either I do a lookup or a double click on any Greek words, the related morphology popup will show the lexical data is loading again and again. Not sure when this has been introduced but I am pretty sure we used to show No definitions found.

![IMG_4001](https://user-images.githubusercontent.com/41396793/64969016-2

[2019-09-18 13:49] #226 closed

[2019-09-19 14:11] balmas commented on #212
done.

[2019-09-19 14:11] #212 closed

[2019-09-19 14:13] balmas opened #241 "Safari: after closing app logout messages aren't received anymore"
To reproduce:

Open Safari
Activate alpheios for a page
Open Alpheios App
Login to Alpheios user account
See that Alpheios app extension has the user information
Close Alpheios App
Launch a new instance of the Alpheios app
See that you are still logged in
Logout
The user remains active in the Alpheios app extension

[2019-09-19 14:40] kirlat commented on #241
Would that be fixed if you refresh a browser page before logout in an app (i.e. launch an app, refresh a browser page, log out)? I suspect this can be an issue with a Safari App Extension has been deactivated due to inactivity (this can be checked in the console app). As a result, it cannot receive a logout message from a containing app.
Will test it on my Mac too but it's better to have a feedbac

[2019-09-19 15:10] balmas commented on #241
ah yes. The following sequence works:

Login
Close App
Refresh browser
Open App
Logout

[2019-09-19 16:36] kirlat commented on #241
In my tests it does work sometimes without a browser refresh, but sometimes it does not.

I think it all boils down to the lifecycle of a Safari App Extension, represented by a SafariExtensionHandler class. This is a class that listens to messages from the containing app. This class has a special `messageReceivedFromContainingApp` method for that. No other class can listen for the containing app m

[2019-09-19 17:02] balmas commented on #241
hmm. yes I see what you mean. sometimes it works and sometimes it doesn't.

Does the app have any way of knowing if its message is received?

[2019-09-19 17:31] kirlat commented on #241
There is a completion handler: https://developer.apple.com/documentation/safariservices/sfsafariapplication/2823941-dispatchmessage. It's not clear what it does, but it takes error as an argument so maybe we can use to identify calls that failed.

The following phrase in docs caught my attention:

That holds true in my tests. If to close both Safari and the containing app, then open the containing

[2019-09-19 19:11] balmas commented on #236
Safari build QA-3.0.0.70 (in Dropbox)

[2019-09-19 19:11] balmas commented on #238
Safari build QA-3.0.0.70 (in Dropbox)

[2019-09-19 19:11] #238 closed

[2019-09-19 19:11] #236 closed

[2019-09-20 13:31] monzug commented on #236
thanks for adding te check on id/psw. see the message truncated

![Screen Shot 2019-09-20 at 3 29 50 PM](https://user-images.githubusercontent.com/41396793/65330770-a9769900-dbbb-11e9-8b1b-b99b593e6d14.png)

[2019-09-20 13:32] balmas commented on #236
that's in the Auth0 supplied form. I'm not sure we can do too much about it. I'll move it to a new issue.

[2019-09-20 13:33] balmas opened #242 "Safari: Auth0 SignUp form truncates tooltip for password input"
see the message truncated

![Screen Shot 2019-09-20 at 3 29 50 PM](https://user-images.githubusercontent.com/41396793/65330770-a9769900-dbbb-11e9-8b1b-b99b593e6d14.png)

_Originally posted by @monzug in https://github.com/alpheios-project/webextension/issues/236#issuecomment-533554821_

[2019-09-20 13:34] balmas commented on #242
this is in the Auth0 signup form. Will have to investigate if we can control this with the settings for the universal login.

[2019-09-20 13:51] monzug commented on #238
first we have: please enter your credentials to log in
if wrong id/psw: wrong email or password  or if  id/psw is missing:
Missing required parameter: username/password
when logged in it says: you are logged in as xxxx with the Log out button

[2019-09-20 18:31] balmas opened #243 "Safari: login form changes"
A few cosmetic tweaks to the login form in the app:

1. change "Please enter your credentials to log in" to "Login to save your wordlist."
2. Add a link below that text which says "User Account Tutorial" This should link to "https://alpheios.net/pages/tutorials#safari-user-account" (but please put this address in the separate env file that we have the api links in)

[2019-09-20 19:45] balmas opened #244 "check accessToken expiration before issuing api requests"
I would like to increase the expiration on the access tokens to the maximum (30 days) to help ease the pain of the Safari authentication process.

Before I do that though, we should probably test that the current expiration, of 2 hours, works properly.

@monzug right now, the user should be logged out after 2 hours. Can you verify that behavior in all 3 browsers?

[2019-09-23 12:39] monzug commented on #244
Firefox: user test-login-1, access at 8.33am
Chrome: user coco, access at 8.39 am

[2019-09-23 12:41] monzug commented on #244
Safari: user monicaz, access at 8.41am

[2019-09-23 15:02] monzug commented on #244
Chrome: user Coco still logged in after more than 2 hours
FF: user test-login-1 still logged in after 2 hours
Safari: same as above
I logged in in teh 3 browser, lookup few words and then leave the browser open with Alpheios on and still logged in. after more than 2 hours I checked the status by performing a double-click. in all the browser I was still logged in and the words saved in user word li

[2019-09-23 15:09] balmas commented on #244
hmm. that's interesting. There are 2 possibilities:
1) I am misunderstanding which timeout is used for these tokens. There are 2 possible, one which is set for 24 hours and another which is set for 2. I thought our workflow would produce the one that times out in 2 hours but it could be the other.

2) the token is timed out but we are still allowing it to be used.

3) the token is timed is timed o

[2019-09-23 15:32] monzug commented on #244
in FF, they are saved in word list after logged out and logged in again.

[2019-09-23 15:37] monzug commented on #244
same in Chrome and Safari.

[2019-09-23 16:38] balmas commented on #244
ok, taking this back for further investigation on my part. Thank you!

[2019-09-23 16:44] balmas commented on #244
ah, yes it seems that the 24 hour expiration is what is applied.

@monzug can you leave this overnight and retest?

[2019-09-23 17:21] balmas commented on #241
@monzug fyi I think we cannot fix this one for the release, because the behavior of the os is very unstable but we'll include in the FAQ. However, please be aware of it while testing.

[2019-09-23 18:19] balmas commented on #242
I'm afraid this one is beyond my css hacking skills.

this popup appears in a div with the class auth0-lock-password-strength

Per the Auth0 css, on everything except small screens (min-width 481px) it gets positioned as a popup with the following additional css properties:

[code]

the problem is that on the signup form without the tabs and the google login, there isn't enough room in the parent

[2019-09-24 05:55] monzug commented on #244
will do tonite! I just saw your comment, sorry.

[2019-09-24 12:06] monzug commented on #164
to retest in incremental build

[2019-09-24 13:06] kirlat commented on #242
Found a way to fix this by updating an overflow rule of a parent element located far away in a hierarchy.

[2019-09-24 17:54] balmas opened #245 "Safari: password reset"
I just realized we didn't implement password reset in the Safari extension. Is this available in the Swift api? I tried to see how I could do it with the universal login form, but I don't see a way to do it :-(

[2019-09-25 06:49] monzug commented on #244
FF: after almost 25 hours I am still logged as user test-login-1.

[2019-09-25 12:19] monzug commented on #242
looks good! see in safari

![Screen Shot 2019-09-25 at 2 17 10 PM](https://user-images.githubusercontent.com/41396793/65600021-83783c80-df9f-11e9-944f-13b4b9145f9a.png)

[2019-09-25 12:29] monzug commented on #242
tested also in chrome and FF

[2019-09-25 12:56] kirlat commented on #243
We can't put a link to the UI of a macOS app because there is no visual element like that. We shall also follow the HID guidelines in creating our interface: https://developer.apple.com/design/human-interface-guidelines/macos/overview/themes/. Using the guidelines, the most appropriate control, on my opinion, will be a button. It executes an action: opens a help page in the browser window and I th

[2019-09-25 12:57] balmas commented on #243
yes, I agree. Thanks!

[2019-09-25 13:05] #242 closed

[2019-09-25 19:33] #199 closed

[2019-09-25 19:34] balmas commented on #243
QA 3.0.1.72 (Safari build in Dropbox)

[2019-09-25 19:34] #243 closed

[2019-09-26 13:23] monzug opened #247 "Safari: after sign up successful message, no where to go"
tested in build Safari 3.0.0.70. after successfully sign up to Alpheios, I get the message but not indication where to go next. If I close the tab from the browser, I end up back in the previous situation with the option to log in to Alpheios. Shouldn't I automatically log in when signing up as a new user?
see screenshots

![Screen Shot 2019-09-26 at 3 20 21 PM](https://user-images.githubuserconte

[2019-09-26 13:27] balmas commented on #247
Ideally yes, but it's not possible in this implementation. We will have to list it in the FAQ and cover it in the tutorial. That's the best we can do for now.

[2019-09-26 13:31] monzug opened #248 "Morphology pop-up is sticky to last word after activate/deactivate Alpheios while still logged in"
tested in Safari 3.0.1.72 and developer build. to repro:
1) log in and double click on some latin words from https://www.thelatinlibrary.com/martial/mart12.shtml.
2) close Alpheios, while still logged in.
3) Reactivate Alpheios and double click on any latin word from above text. The morphology pop-up is the one of the last word lookup before closing Alpheios.
4) any subsequent double-click does sh

[2019-09-26 13:32] monzug commented on #247
we should add to FAQ or to tutorial as it's not really friendly

On Thu, Sep 26, 2019 at 3:27 PM Bridget Almas <notifications@github.com>
wrote:

[2019-09-26 13:34] balmas commented on #248
@kirlat Monica says this is new in the latest build.

[2019-09-26 13:35] balmas commented on #247
agree. Very little about the Safari authentication process is friendly...

[2019-09-26 13:37] monzug commented on #247
We all know very well....

On Thu, Sep 26, 2019 at 3:35 PM Bridget Almas <notifications@github.com>
wrote:

[2019-09-26 13:38] monzug commented on #248
I think it's new but not 100% sure

On Thu, Sep 26, 2019 at 3:34 PM Bridget Almas <notifications@github.com>
wrote:

[2019-09-26 16:23] kirlat commented on #248
I can reproduce the problem, will work on fixing it

[2019-09-26 17:02] kirlat commented on #248
This is a truly weird issue. We have a `createSelectionFromPoint()` function that creates a range for a selected word. On Safari it uses `doc.caretRangeFromPoint()` to create start and end ranges. Usually it works without any problem, but if to disable an Alpheios UI controller and enable it again after that (no matter logged in or not), this function returns a null object. As a result, selection

[2019-09-26 17:43] kirlat commented on #248
I think I've found a solution.

When we disable an Alpheios, we assign to the page body a class that prevents word selection. This is to prevent user from doing any word selection while an Alpheios is deactivated. However, we were not always removing this class after Alpheios is reactivated. This prevented `caretRangeFromPoint()` from working properly.

A simple fix with couple of lines of code sh

[2019-09-26 17:59] kirlat commented on #248
@monzug I think this is a great catch! This code was there for like almost forever and we were not noticing; yet you've found a scenario where it showed.

[2019-09-26 20:55] balmas commented on #244
and still able to save words to the list?

[2019-09-27 07:02] kirlat commented on #248
The fixes has been merged into `components#master`. It will require rebuilding a webextnesion in order for them be available in Safari.

[2019-09-27 11:24] balmas commented on #248
qa 3.0.1.73/components 1.2.48 (Safari build in dropbox)

[2019-09-27 11:24] #248 closed

[2019-09-27 12:25] monzug commented on #244
yes. will also test chrome and safari over the weekend. it's difficult to
leave it there for 24 hours...

On Thu, Sep 26, 2019 at 4:55 PM Bridget Almas <notifications@github.com>
wrote:

[2019-09-27 12:34] balmas commented on #244
understood. Here's what I would expect to happen:

based upon the code, here are the various scenarios that I think would happen

Scenario (1) - session times out while alpheios is deactivated
user loads page in browser
user activates alpheios
session check fails so user is not logged in

Scenario (2) - session times out while alpheios is active but not in use
user loads page in browser
session ch

[2019-09-27 12:44] monzug commented on #248
fixed. Thanks!
@balmas, question: in the user word list, when I limited by this session, I found the list of words from first login and second login. is it ok?

[2019-09-27 13:07] balmas commented on #244
(the simplest solution in the short term would probably be to allow expired tokens on the words and settings apis)

[2019-09-27 13:33] monzug commented on #243
both changes are in.

[2019-09-27 17:06] balmas commented on #248
@monzug I think that's okay for now, but probably we ought to fix it in a future release. Will convert to a new issue.

[2019-09-30 06:36] monzug commented on #244
so, after more than 24 hours, I was still logged in. however in Safari, the
ON icon was missing from he alpheios icon. I could perform double click and
added words to word list but word list did not have the context reference
for these new added words. Let me explain, context icon was there but when
clicking on it there was no reference text (empty). when back to word list,
the icon was not longer

[2019-09-30 11:37] balmas commented on #244
this is really odd. Ok, I'm going to take this back and try to setup an environment that is easier to test and debug. Thank you!

[2019-09-30 12:08] monzug commented on #244
let me know if I can test anything else with this one.

On Mon, Sep 30, 2019 at 1:37 PM Bridget Almas <notifications@github.com>
wrote:

[2019-09-30 12:29] balmas commented on #244
thanks! I think we will have code for you soon to test :-)

[2019-09-30 13:33] balmas commented on #244
per discussion with @kirlat and @irina060981 today, we should store the expirate date of the access token along with the access token in the auth data module, and check it before every call to the user apis (wordlist and settings). If it's expired, we can notify the user that their session is expired and bring them to the user tab.

@kirlat when you implement this, can you also implement a back-do

[2019-10-01 17:19] kirlat commented on #244
I've added a support for an expiration date into the webextension, into the `webext-i244-token-expiration` branch.

A `sessionDuration` URL parameter that specifies session duration in seconds (e.g. `sessionDuration=20`) can be used to decrease an expiration period for testing. There is one limitation in using the parameter though: expired session will not survive a page reload. This is because au

[2019-10-01 18:33] balmas commented on #244
@kirlat I think this looks great. I was initially surprised by the use of setTimeout , as I was thinking we would make this check only whenever we did something that required a session but believe your approach is better. The only concern I have is whether setting a timeout with a long duration has any negative performance implications. I haven't seen it used in this way before myself

I do think

[2019-10-02 11:06] kirlat commented on #244
Thanks for testing it!
I believe timeout approach is simple because it allows to update the state once, at the exact time of timeout expiration. It also allow to eliminate the need for multiple checks in different places which can be more troublesome and error-prone. AFAIK timeout does not have any performance implications because it does not do much work: https://stackoverflow.com/questions/30351

[2019-10-02 11:51] balmas commented on #244
ok, thanks. Then please go ahead and issue a PR to master. Thanks!

[2019-10-03 12:33] kirlat commented on #244
All changes has been merged into master.

[2019-10-03 13:02] balmas commented on #244
Safari/FF/Chrome Webext qa-3.0.1.75/components-1.3.0 (Safari build in Dropbox)
texts-text embed-lib 3.1.1.42/components-1.3.0

@monzug to test the timeout, activate alpheios, and then reload the page with the additional sessionDuration query parameter set to the number of seconds after which you want the session to be timed out.

e.g. https://thelatinlibrary.com/caesar/gall1.shtml?sessionDuration=

[2019-10-03 13:04] monzug commented on #244
Fantastic! will try now.

On Thu, Oct 3, 2019 at 9:02 AM Bridget Almas <notifications@github.com>
wrote:

[2019-10-03 13:47] monzug commented on #244
tested in Chrome.
all works as per description. question: after timeout, if I remove the parameter from the URL, and reload page I am still logged in. is it ok?

see screenshot of the message in morphology pop-up
![time-out](https://user-images.githubusercontent.com/41396793/66132018-66a4c000-e5c2-11e9-8313-5627140eaaca.JPG)

[2019-10-03 13:52] monzug commented on #244
and time out message in FF
![FF-time-out](https://user-images.githubusercontent.com/41396793/66132705-78d32e00-e5c3-11e9-8dac-2d14a2191b10.JPG)

[2019-10-03 13:55] balmas commented on #244
Yes, this is expected. It is not how it will work when the session really times out. the sessionDuration query parameter does not affect the actual stored access token, it was just a way to simulate a timeout to make testing easier.

To fully validate this you would have to wait the 24 hours again, but we wanted to make it easier on you...

[2019-10-03 14:06] monzug commented on #244
perfect. only safari left to test.

On Thu, Oct 3, 2019 at 9:55 AM Bridget Almas <notifications@github.com>
wrote:

[2019-10-03 14:33] kirlat commented on #244
@monzug, I think Safari might need a few tweaks to make it work. I will test it today and make any updates, if necessarily. This release was targeting primarily webpextension/embed-lib/Nemo UI on Chrome and FF.

[2019-10-03 14:34] monzug commented on #244
it works also in Safari (after time out, wordlist is empty and user is not logged in). However I have an issue with authentication as it does always show "Authentication failed" message.
see screenshot
![Screen Shot 2019-10-03 at 4 30 35 PM](https://user-images.githubusercontent.com/41396793/66136325-8e644a00-e5fb-11e9-9ba0-fc44dd51d4c5.png)

[2019-10-03 14:38] monzug commented on #244
no problem. note that authentication was working fine in previous build.

On Thu, Oct 3, 2019 at 10:33 AM kirlat <notifications@github.com> wrote:

[2019-10-03 16:51] kirlat commented on #244
I've merged changes that should fix the Safari problem into the master branch now.

[2019-10-03 16:59] kirlat commented on #244
Expiration of a user session in Safari via a `sessionDuration` URL parameter will not cause user to log in or log out in the containing app. It will also restore user as logged in after page reload. This is a limitation of the current implementation (similar to webextension).

[2019-10-04 12:33] balmas commented on #244
qa-3.0.1.76 (Safari build in dropbox)

[2019-10-04 12:59] monzug commented on #244
Now I am getting the correct message also in Safari. see screenshot below the questions
few issues/questions here:

1) I got "your session has expired" message  for any subsequent look-up after logged out. is there any setting for the number of times this message should be generated? if yes, how many look-ups?

2) in Safari, when I log in, my wordlist saved with user Coco is empty. in the other br

[2019-10-04 13:11] balmas commented on #244
@monzug does it return if you close it?

[2019-10-04 13:12] balmas commented on #244
@monzug just clarifying - you mean if you login after a timeout your wordlist is empty and not reloaded? Does it load on the initial login?

[2019-10-04 13:13] balmas commented on #244
This, I believe, is expected.

[2019-10-04 13:25] kirlat commented on #244
The login status in stored in Core Data. So no matter what we do in a browser, it will be restored after app/browser/safari app extension is relaunched.

[2019-10-04 13:30] monzug commented on #244
1) I did several lookup and I was still getting the message. If I go back to the "regular"environment I don't get the message because I am still logged in.
2) login as user Coco, my wordlist is loaded. reload page with the timer,  user is logged out and word list is empty. go back to "regular" environment, user Coco is logged in but wordlist is empty.
3) OK.

[2019-10-04 13:44] balmas commented on #244
I tested this, and if you close the message (by clicking on the icon) it goes away. I think it's okay that it shows up until you close it or login. It's different than the login notification message because since the user was previously logged in, we know that they have an account and a wordlist.  Do you agree?

[2019-10-04 13:44] balmas commented on #244
@kirlat, can you look into this? it seems incorrect.

[2019-10-04 13:53] kirlat commented on #244
Will investigate this. What is the "regular" environment? Is that the containing app's UI (please see below)?
![image](https://user-images.githubusercontent.com/18631055/66212930-d81e6480-e6cf-11e9-8eb7-acc94a650bb6.png)

[2019-10-04 13:54] monzug commented on #244
the one that does not have the ?sessionDuration=30 in the link

[2019-10-04 15:16] kirlat commented on #244
I just merged a fix for a wordlist into master

[2019-10-04 16:18] balmas commented on #244
fix is in qa-3.0.1.77 (Safari build in dropbox)

[2019-10-10 14:36] monzug opened #252 "Safari: after new sign up, the user account panel doesn't get updated"
tested in About Alpheios
Safari App Extension 3.0.1.78
Alpheios Components 1.3.0

Sign up a new user, then go to User panel. the user account panel doesn't get updated until I click again on the Log in button. Note that if I login as an existing user, the User panel does get updated immediately, including the congratulations message at the bottom.

![Screen Shot 2019-10-10 at 4 18 05 PM](https://u

[2019-10-14 10:42] kirlat commented on #252
This is a timeout issue. The default timeout of a login/create account popup is 60 seconds. If to enter user information not fast enough, the show login popup function will fail with an error. The following steps such as receiving user information will not be fulfilled and user info will not be shown.

The user account on the Auth0 side, however, will be created. The next time user presses Log In,

[2019-10-14 10:55] kirlat commented on #245
This shall be handled by the new Auth0 SPA SDK modal that has a password reset functionality.

[2019-10-14 10:59] kirlat commented on #244
The Safari part probably needs to be retested since we've switched to using Auth0 SPA SDK library.

[2019-10-14 11:42] monzug commented on #244
Safari: I retested it over the weekend for 3 times by waiting for 24 hrs when still logged in. below the findings:
1) the Alpheios icon has still the ON badge
2) user is still logged in
3) no messages on panels
4) wordlist icon is enabled but only the words from last session are listed
5) activate/deactivate Alpheios: I get the Congratulations! you are logged in successfully
6) reload the page, I

[2019-10-14 11:45] balmas commented on #244
@kirlat I wonder if this is because of the difference in session handling? See my comments on the PR.

[2019-10-14 11:46] balmas commented on #252
back to @monzug to retest.

[2019-10-14 11:48] monzug commented on #244
note that when I used the ?sessionDuration=30 setting, all works well.

[2019-10-14 11:51] monzug commented on #252
uhm, as soon as I signed up successfully, I got logged out immediately after.
![Screen Shot 2019-10-14 at 1 51 23 PM](https://user-images.githubusercontent.com/41396793/66749288-c421f200-ee89-11e9-920e-48adf8dbe241.png)

[2019-10-14 11:56] monzug commented on #252
Yes, it's working now. Thanks!!!!

[2019-10-14 11:56] balmas commented on #245
@monzug please just verify password reset functionality on safari

[2019-10-14 12:08] monzug commented on #245
functionality is there, however when I logged in after changing  the password, I got logged out immediately. the trick was to click on login again. same as issue #252

[2019-10-14 12:16] balmas commented on #245
any thoughts @kirlat ?

[2019-10-14 12:31] balmas commented on #252
actually, taking this back because I misunderstood - I thought a server-side change had been made, so we need to retest after a new build.

[2019-10-14 12:45] kirlat commented on #245
@monzug: This can be a timeout issue. Default timeout set by Auth0 is 60 seconds. If not to enter user credential fast enough, it will fail and steps of retrieving user info will be omitted. As a result, no user info will be shown and user status will be displayed as "logged out".

To verify if it is a timeout we can open a browser's console (in Safari we can right click on a page, select inspect,

[2019-10-14 13:06] kirlat commented on #245
I've tested it with the code having an increased timeout and it worked well for me. I think that must be that. The whole workflow where the user opens the pop, selects "reset password", enters his or her email, waits for the email to arrive, clicks on the reset link, coming up with the password that was not used previously, (probably and hopefully) recording it somewhere and then entering into the

[2019-10-14 13:15] balmas commented on #245
I think we could go up to 10 minutes but also agree it's an edge case.

[2019-10-14 14:06] monzug commented on #245
agree that 5 minutes should be ok

On Mon, Oct 14, 2019 at 3:15 PM Bridget Almas <notifications@github.com>
wrote:

[2019-10-14 14:07] monzug commented on #252
but it's working. any ideas?

[2019-10-14 14:16] kirlat commented on #252
The timeout in the current build is 60 seconds. So if the signup takes less than that, it shall be working. But if to go slower, user info shall not be displayed.

[2019-10-14 14:16] balmas commented on #252
maybe you tested more quickly the second time so the timeout didn't take affect?
I will have a new build later today. Waiting to see if we can squeeze a fix for #244 in before preparing it for you.

[2019-10-14 15:18] kirlat commented on #244
A fix has been merged into master. Due to limited time frame I was not testing it over prolonged periods of time, but let's hope there will be nothing like macOS power policies or something like that that will prevent it from working properly.

Will run a test on my machine for a day to see how will it behave.

[2019-10-14 15:39] balmas commented on #252
QA-3.0.0.81 is in Dropbox

[2019-10-14 15:39] #252 closed

[2019-10-14 15:40] balmas commented on #245
QA-3.0.1.80 is in Dropbox

[2019-10-14 15:40] balmas commented on #247
this one is obsolete now with the newer workflow.

[2019-10-14 15:40] #247 closed

[2019-10-14 15:41] balmas commented on #244
QA-3.0.1.80 is in Dropbox

[2019-10-14 15:42] balmas opened #257 "add button to open safari preferences to alpheios app"
per @kirlat the latest safari app extension api includes the ability to put a button on the app that opens the safari preferences button. We should do this.

[2019-10-15 12:14] monzug commented on #252
Got the congratulations message immediately after signing up.

[2019-10-15 12:42] monzug commented on #245
it worked 2 out of 3 times (the first time I still got the log in page, see screenshot below).
Also, when I hover over Don't remember your password, I see a Run script message, see below

![Screen Shot 2019-10-15 at 2 21 03 PM](https://user-images.githubusercontent.com/41396793/66832324-fd299780-ef59-11e9-80d0-61c2c58929eb.png)

![Screen Shot 2019-10-15 at 2 26 35 PM](https://user-images.githubuse

[2019-10-15 12:48] monzug commented on #245
just got it again
![Screen Shot 2019-10-15 at 2 47 30 PM](https://user-images.githubusercontent.com/41396793/66832759-d881ef80-ef5a-11e9-8734-59c95226be24.png)

[2019-10-15 12:49] balmas opened #259 "run script message on login form"
Also, when I hover over Don't remember your password, I see a Run script message, see below

![Screen Shot 2019-10-15 at 2 21 03 PM](https://user-images.githubusercontent.com/41396793/66832324-fd299780-ef59-11e9-80d0-61c2c58929eb.png)

_Originally posted by @monzug in https://github.com/alpheios-project/webextension/issues/245#issuecomment-542192165_

[2019-10-15 12:49] balmas commented on #245
the run script notice is something with the form itself. I've make that a new issue #259

[2019-10-15 12:50] monzug commented on #245
it does not happen in Chrome, only Safari

[2019-10-15 12:50] balmas commented on #245
hah, you were reading my mind :-)

[2019-10-15 12:51] balmas commented on #245
@monzug I am tempted to let this one go as-is. What do you think?

[2019-10-15 12:56] monzug commented on #245
FAQ? let me try one more time a reset psw

[2019-10-15 12:59] balmas commented on #259
@kirlat can you take a look at the auth0 form and see if this can be addressed easily? thanks

[2019-10-15 12:59] monzug commented on #245
and it worked! ok, we can move away from this one...

[2019-10-15 12:59] #245 closed

[2019-10-15 13:15] kirlat commented on #259
I can not reproduce this as of now. Maybe this is because Monica has passwords remembered and I don't. Will try to figure out.

[2019-10-15 13:18] balmas commented on #257
3.0.1.81 (in Dropbox)

[2019-10-15 13:22] monzug commented on #259
yes, I do have many stored psw

On Tue, Oct 15, 2019 at 9:15 AM kirlat <notifications@github.com> wrote:

[2019-10-15 13:29] monzug commented on #257
it's there. Not sure if it's clear enough that this is a button, can we add a click here or similar?

see screenshot
![Screen Shot 2019-10-15 at 3 27 01 PM](https://user-images.githubusercontent.com/41396793/66835801-75935700-ef60-11e9-81e9-7caceb18107d.png)

[2019-10-15 13:37] kirlat commented on #259
Enabled the password manager, but still do not see the run script message:
![image](https://user-images.githubusercontent.com/18631055/66836409-4dacef00-ef72-11e9-9a74-e549939a8782.png)
I'm wondering if this could be because of something else. @balmas, can you reproduce this in your environment?

[2019-10-15 13:45] balmas commented on #257
@kirlat let's change the button text to say Click to Open Safari Preferences and keep the 1 out of the button

[2019-10-15 13:50] kirlat commented on #257
OK, will do that now

[2019-10-15 13:52] balmas commented on #259
I can reproduce it in Firefox only

[2019-10-15 13:53] kirlat commented on #257
@balmas: would something like below work?
![image](https://user-images.githubusercontent.com/18631055/66837833-b8f7c080-ef74-11e9-9351-38021ed4c3f9.png)

[2019-10-15 13:54] balmas commented on #257
I think so. @monzug what do you think? Is it better?

[2019-10-15 13:55] monzug commented on #257
absolutely

On Tue, Oct 15, 2019 at 3:54 PM Bridget Almas <notifications@github.com>
wrote:

[2019-10-15 13:57] monzug commented on #259
I can see it in FF, in the left corner javascriptvoid (0)

On Tue, Oct 15, 2019 at 3:52 PM Bridget Almas <notifications@github.com>
wrote:

[2019-10-15 14:08] kirlat commented on #259
That's interesting because on Monica's initial screenshot there is Safari. As opposed to Safari, FF and Chrome are using auth0-chrome lib that employs Auth0 Lock widget, as opposed to Safari, where it's Auth0 SPA SDK.

[2019-10-15 14:14] balmas commented on #257
@kirlat please go ahead with the PR. Thanks!

[2019-10-15 14:30] balmas commented on #259
In any event, I'm not sure we can do anything about this actually. Looking at the Universal Login form, I don't see the html for that button, I believe it's inserted by the Auth0 code. So let's just mark this one as won't fix.

[2019-10-15 14:30] #259 closed

[2019-10-15 14:49] balmas commented on #257
3.0.1.82

[2019-10-15 14:49] #257 closed

[2019-10-16 14:08] monzug commented on #257
changes are in. see screenshot
![Screen Shot 2019-10-16 at 4 07 02 PM](https://user-images.githubusercontent.com/41396793/66926947-38e26100-f02f-11e9-8a8a-9464efc45bda.png)

[2019-10-16 14:13] monzug commented on #244
tested in build Safari App Extension 3.0.1.81. after 24hrs, user was still logged in. see screenshots of wordlist icon still active and no messages in user account page
1) page after more than 24 hrs
![Screen Shot 2019-10-16 at 4 02 09 PM](https://user-images.githubusercontent.com/41396793/66927114-8b238200-f02f-11e9-8476-6e3fdfe0bbfc.png)
2) user account page
![Screen Shot 2019-10-16 at 4 02 26 P

[2019-10-16 16:09] kirlat commented on #244
Based on my past experience any subsequent login from any other app on any other client will restart the session and make it valid for the next 24 hours (or whatever time is configured in Auth0 settings). However, this probably does not matter for the Safari app extension as long as the extension does not send any additional requests to the auth0 server to receive an updated session information (w

[2019-10-17 12:46] kirlat commented on #244
I think I've found a scenario where, if a UI controller is deactivated and Safari is reloaded, an authentication information within the Auth module won't be update. Maybe that was the case discovered by @monzug. Will work on a fix.

[2019-10-17 13:46] monzug commented on #244
Great! Thanks for looking into it.

On Thu, Oct 17, 2019 at 2:46 PM kirlat <notifications@github.com> wrote:

[2019-10-17 15:20] balmas commented on #244
I tested this myself and what I saw was that the interface thought I was still logged in (i.e. showed my user details and the Log out button) but requests to the apis were failing.

I tested overnight, so the laptop was in suspend during it.

I tested first without reloading the page and then again after reloading, behavior was the same.

I am guessing that what is happening here might be related

[2019-10-17 17:39] kirlat commented on #244
I was testing it on my macBook and I've seen timeout been working, even after the machine went to suspend and was waken up. Before the macBook went to sleep, I had the Safari with the user tab open. When computer was waken up, I've seen that the user became logged out and there was a message about session being expired.

I will continue to investigate further.

[2019-10-17 17:40] balmas commented on #244
ok. @monzug said she also got the expected results with the dev build using the 1 minute timeout.

I suspect there must be some weird combination of circumstances that allows this to occur, but am leaning towards resolving in an incremental at this point.

[2019-10-17 18:22] kirlat commented on #244
I have a feeling it has to do with the way Safari manages the state of the Safari app extension (i.e. the Swift part of it). To be more precise, with the way Safari terminates it.

I've seen in logs that multiple instances of Safari app extension are created and terminated during the regular extension's lifecycle. They are represented by the SafariExtensionHandler class instances. Usually there is

[2019-10-20 15:47] monzug commented on #244
retested in Safari App Extension 3.0.1.82
Alpheios Components 1.4.1

after more than 24 hrs, I was still logged in, double click & wordlist worked normally, no logged out messages generated. on refresh, the wordlist icon was greyed out.

[2019-10-24 15:40] balmas commented on #244
this changes can be tested in the Safari dev build of 3.0.2.84 (in Dropbox) . This build is set to use the dev environment with the 1 minute timeout.

It will require regressions on the FF and Chrome browsers too. That's in the tag qa-3.0.2.84 (https://github.com/alpheios-project/webextension/tree/qa-3.0.2.84/dist).

[2019-10-24 16:38] monzug commented on #244
safari build 3.0.2.84 . after 1 minute, user got logged out. Session expired message is displayed in morphology panel. In user account, click on log in. However it does not log the user back in and the wordlist is empty, so the only sign that user is logged in is the congratulations message. if I keep clicking on log in, the authentication pop-up shows up briefly and then disappears. if I open a n

[2019-10-24 16:45] balmas commented on #244
@kirlat can you reproduce what Monica is seeing?

[2019-10-24 16:46] kirlat commented on #244
Thanks for testing this!

I have not seen this in my testing, but I was testing a slightly different version. I will check with the latest release as maybe this is a side effect of the merge.

[2019-10-24 16:50] kirlat commented on #244
This is normal as if Auth0 thinks it has enough data to identify the user (it probably checks if there is an unexpired session cookie) will log the user in automatically. To get the login prompt you have to clear the Auth0 data in the browser and, maybe, restart it.

[2019-10-24 17:02] balmas commented on #244
I am seeing this as well.

[2019-10-24 17:05] kirlat commented on #244
I can see that too. That's very strange. I'll check if it's something with the merged code.
A page reload fixes the issue for me.

[2019-10-24 17:11] balmas commented on #244
yes me too

[2019-10-24 18:25] balmas commented on #244
fix is in Safar build QA3.0.2.85-dev.

it worked for me, except I had to move off and back on the user tab to get the Login button to display after the timeout. @monzug curious to know if you see the same.

[2019-10-25 16:33] monzug commented on #244
I am about to install it.

[2019-10-25 16:56] monzug commented on #244
![Screen Shot 2019-10-25 at 6 54 50 PM](https://user-images.githubusercontent.com/41396793/67589596-0df7bb80-f759-11e9-8ff2-37334df3c480.png)
![Screen Shot 2019-10-25 at 6 53 55 PM](https://user-images.githubusercontent.com/41396793/67589597-0df7bb80-f759-11e9-8ebe-78b19eb05b3d.png)
![Screen Shot 2019-10-25 at 6 42 45 PM](https://user-images.githubusercontent.com/41396793/67589600-0df7bb80-f759-11

[2019-10-25 17:17] kirlat commented on #244
This is because the previous session has been expired while you was not using the extension. The expiration datetime is stored internally, and once session expires, it will be marked so even if the extension is not in use or even if the browser is not active (I'm simplifying a little but this is how it should look to the user).

[2019-10-25 17:18] monzug commented on #244
got it! Thanks

On Fri, Oct 25, 2019 at 7:17 PM kirlat <notifications@github.com> wrote:

[2019-10-25 17:32] kirlat commented on #244
I don't know how but this is decided by Auth0 internally whether to ask for user credentials or authorize him/her silently. I think if the user is logged out explicitly, the session is considered terminated and Auth0 will always ask for user credentials (I'm not 100% sure of that but that's how it seems to behave). This allows user to log in again with a different account.

When the timeout is exp

[2019-10-25 17:35] kirlat commented on #244
We have some fuzzy "do not show again" logic in place and maybe this is a result of that. I will look closer at the code. @balmas, what would be our desired behavior?

[2019-10-25 17:46] balmas commented on #244
Ah I think this might be an artifact of the test environment. Kirils's explanation makes sense. The login timeout in the dev environment is set to 1 hr (I think) while the api timeout is set to 1 minute. The api timeout is what we base the app timeout on. I think in normal production mode the api timeout will not be less then the login. @monzug I think I will change think I need to adjust the dev

[2019-10-25 17:48] balmas commented on #244
I think logout should reset any memory of whether we have shown the user these messages.

[2019-10-28 14:25] balmas commented on #244
QA 3.0.2.86-dev safari build has a 1 minute timeout on the login and a 2 minute timeout on the access token. The expiration notice should popup after 2 minutes and it should require you to login again.  This should more closely mirror what the user will see in production.  @monzug let me know if it works

As for the issue with the notification messages not appearing after logout I could not reprod

[2019-10-28 15:10] monzug commented on #244
all good, including messages generated on timeout or logged out.
However, on install (or on alpheios activation), the session timed out message is displayed,  also after reloading the page. shouldn't messages be cleared after reload/restart the app?
see screenshot
![Screen Shot 2019-10-28 at 3 58 22 PM](https://user-images.githubusercontent.com/41396793/67690186-bf3a6380-f99c-11e9-87af-1d162d5a9b5

[2019-10-28 15:12] balmas commented on #244
this is by design. The login/session might have timed out while the application was active but the user was not, so we want to alert the user the first time the see the application after the timeout occurs. It's not perfect but I think it's better to show it than not.

[2019-10-29 13:46] #164 closed

[2019-10-29 14:00] monzug commented on #185
still doesn't work - tested in Safari App Extension 3.0.2.86
Alpheios Components 1.4.2

[2019-10-29 14:22] monzug commented on #113
still valid. retested in chrome, build 3.0.1.82

[2019-10-29 14:40] balmas commented on #185
I don't think we can really do anything about this unfortunately. It's a limitation of the Safari app extension technology.

[2019-11-04 14:42] balmas commented on #244
ok, ready for regression testing of authentication in qa-3.0.3.87/components 1.4.5

[2019-11-04 14:42] #244 closed

[2019-11-07 21:21] balmas commented on #117
@kirlat please keep this in mind as you work on the local service architecture

[2019-11-08 16:18] kirlat commented on #117
Will definitely keep that in mind. Not sure what's the most efficient way to implement that yet but will experiment with profiling of different approaches.

[2019-11-08 17:54] balmas opened #266 "upgrade auth0-spa"
something in between auth0-spa release 1.3.2 and 1.5.0 broke our Safari authentication. Need to investigate and upgrade.

[2019-11-08 17:57] balmas commented on #244
please retest and do regressions with qa-3.0.3.90/components 1.4.7

[2019-11-12 14:04] monzug commented on #244
tested the 24 hours timeout in Safari App Extension 3.0.3.90
Alpheios Components 1.4.7 and in the dev build
No issues to report

[2019-11-18 14:29] irina060981 opened #267 "Bugs with authentication"
@balmas and @kirlat

Tested with Chrome
This error I have got after Login (I haven't enter credentials)
![image](https://user-images.githubusercontent.com/12377640/69060342-e992b480-0a62-11ea-8078-cfdf070873dc.png)

Then if I reload the page, it becomes authenticated
![image](https://user-images.githubusercontent.com/12377640/69060463-1e067080-0a63-11ea-87bf-142af9e72fd5.png)

Then I logout
then I

[2019-11-18 14:39] balmas commented on #267
@monzug can you reproduce this?

[2019-11-18 14:48] monzug commented on #267
Can't have an empty user id. it does either prompt for an existing google is or to enter a new one. If I do not feel the required fields for new id, it does not create a new user. Irina, how did you get to have an empty field without failing authentication?

[2019-11-18 14:49] irina060981 commented on #267
I didn't register - I used my existed google account to login.
So I didn't enter any data manually.

[2019-11-18 14:51] monzug commented on #267
I do login with my existing account to

On Mon, Nov 18, 2019 at 3:49 PM Sklyarova Irina <notifications@github.com>
wrote:

[2019-11-18 14:55] monzug commented on #267
![image](https://user-images.githubusercontent.com/41396793/69062930-9b8d9a80-09e9-11ea-9e55-05fa018c3e18.png)

[2019-11-18 14:57] balmas commented on #267
interesting. I will investigate a bit, looking into Irina's account on Auth0 to see if there are any differences there.

[2019-11-18 16:29] balmas commented on #267
@irina060981 can you verify which version of the webextension code you are looking at?

the code that is in master has the following:

[code]

And does not make further use of the `profile` object as returned by the Auth0 code.

Before investigating further I want to be sure you're using the same version of the code.
Thanks!

[2019-11-18 22:56] irina060981 commented on #267
Oh, @balmas and @monzug , I am sorry!
You are right - I missed somehow to update the current webextension code.
It is not up-to-date.

[2019-11-19 03:40] irina060981 commented on #267
Now authentication works well.
I am really sorry for my absence of mind!
Will close the issue.

[2019-11-19 03:40] #267 closed

[2019-12-03 13:00] balmas opened #268 "crashes on Safari"
User Report:

I’d love to love Alpheios, but AlpheiosSafari more or less always crashes either immediately when I open Safari, or at some later stage when Safari is in the background. Currently using Safari 13.0.3, but the problem also occurred with earlier versions of both Safari and the Alpheios extension. Very frustrating. I hope this can be remedied. Below is just the latest of many crash logs

[2019-12-03 13:08] balmas commented on #268
@monzug could you do a little stress testing on the released Safari build to see if you can ever reproduce this?

[2019-12-03 13:42] monzug commented on #268
not much info but I can try.

On Tue, Dec 3, 2019 at 2:08 PM Bridget Almas <notifications@github.com>
wrote:

[2019-12-03 13:48] monzug commented on #268
btw, I am using the web ext on mac for the greek verb test and I've never
experienced any crash. will try more with the tools

On Tue, Dec 3, 2019 at 2:42 PM Monica Zugan <monzug@gmail.com> wrote:

[2019-12-09 13:48] monzug commented on #268
I use the same version of safari (Version 13.0.3) and of web extension. macbook air, macOS high sierra 10.13.6 - the user's OS is macOS Mojave 10.14.6
no problem from my side.  any of you has a mac running mojave?

[2019-12-09 13:53] balmas commented on #268
I'm running Mohave 10.14.6.  @kirlat and @irina060981 are either of you able to reproduce this? Do you have any suggestions for what we might check? I was thinking maybe it could be related to available CPU or RAM but other than that am out of ideas.

[2019-12-09 14:31] kirlat commented on #268
I was developing and testing it on macOS 10.14.6 and Safari 12.1.2 and it never crashed for me on its own, except when there were some obvious mistakes in the code, but I guess it does not count here. I, however, was using a development build and we're releasing a production one. So that could be what makes a difference.

From what I know, latest releases of XCode were buggy as Apple was rushing n

[2019-12-09 14:35] monzug commented on #268
if @balmas is running Mohave 10.14.6 as our user and she hasn't experienced
any crash either, we can only ask the user for more details. is that a
possibility, Bridget?

On Mon, Dec 9, 2019 at 3:31 PM kirlat <notifications@github.com> wrote:

[2019-12-09 14:38] kirlat commented on #268
There is a fresh (May 2019) report about a similar problem with Safari App Extension https://forums.developer.apple.com/thread/116649 (it also crashes randomly similar to the way the user describes) and there is no answer in response as is often the case with Apple dev forums 🙁

[2019-12-09 14:44] balmas commented on #268
yep I saw that (and commented, to no avail :-) ) Thanks for adding the link here.

[2019-12-12 14:09] monzug opened #269 "login failed with authentication pop-up still on"
tested in Chrome, Alpheios Reading Tools 3.0.4.93
Alpheios Components 1.5.0

the first attempt to login was apparently with a wrong combination of id/psw. the authentication pop-up stays in the front, while you can see the message in the background that I am successfully logged in as user test. when I close the pop-up (it should disappear automatically when the authentication is successful) I got

[2019-12-17 19:28] balmas opened #270 "verify upcoming CSP/Manifest v3 changes"
See https://blog.mozilla.org/addons/2019/12/12/test-the-new-csp-for-content-scripts/?utm_source=newsletter&utm_medium=email&utm_campaign=2019-dec-about-addons

@kirlat i'm assigning this to you because I'm a little worried about the upcoming restriction on remotely hosted code and how that does or doesn't impact the architecture for the cedict service. It would be good to asap if it will be impact

[2019-12-17 19:34] balmas commented on #270
See also https://developer.chrome.com/extensions/migrating_to_manifest_v3

[2019-12-17 19:39] balmas opened #271 "prepare for Chrome switch from background scripts to service workers"
See https://developer.chrome.com/extensions/migrating_to_manifest_v3 and https://developer.chrome.com/extensions/migrating_to_service_workers

[2019-12-18 12:13] kirlat commented on #270
Thanks for the links, that's very interesting, I will study it.

[2019-12-18 13:40] kirlat commented on #270
I need to study it more but it seems the changes related to remote code execution are:

If that's so, we're not affected because that's not what we're doing. For CEDICT to be working we need to be able to do two things:
* Content script (components that is) needs to create an iframe that will load a document from the Alpheios server
* Content scripts needs to be able to send a message (using windo

[2019-12-18 14:47] balmas commented on #270
ok, thanks!

[2020-01-16 15:19] balmas opened #272 "test Alpheios extension on Windows Edge browser"
in theory it should work...

[2020-01-23 15:56] balmas commented on #217
should clear all data stored, wherever it is stored

[2020-04-27 16:08] balmas opened #281 "add build number to Safari info.plist files"
The tagged-commit script needs to add the version and build number to the Safari info.plist files

The version should be used as the value of the CFBundleShortVersionString key and the build number as the value of the CFBundleVersion key

Apply only accepts an integer in these fields so it cannot include the branch name.

[2020-05-04 12:20] balmas commented on #266
I'm not sure what the latest version of auth0-spa is but we should try to upgrade to whatever that is

[2020-05-04 12:22] balmas opened #283 "support sign-in with Apple for Safari extension"
I'm pretty sure we won't pass the App store review without this now

https://auth0.com/docs/connections/social/apple

[2020-05-05 10:26] kirlat commented on #281
This has been merged into `master`.

[2020-05-06 11:21] kirlat commented on #283
It is working, finally. The Auth0 universal login form customization that we had prevented a "Sign in with Apple" button to appear. Because of this, I removed customization temporarily.

We basically has two versions of universal login available. The first one is "Classic", the same page we've used before. This is how it looks without customization (we could make it shorter if we would like to):

[2020-05-06 11:24] kirlat commented on #283
I liked that the Auth0 login form integrates with a Keychain Access on Mac. It is enough to enter a Mac account password and Apple ID credentials will be retrieved automatically.

[2020-05-06 11:32] kirlat commented on #283
Another thing that I've noticed (but maybe it's just my particular case) is that buttons of Safari App extensions (I have an Alpheios and an another one installed for testing) jump all over the toolbar. They can be together at the left of a URL bar, after a while they may be together at the right of it, then one at the left and another one at the right. I've seen them moving to all possible locati

[2020-05-06 11:49] balmas commented on #283
Which one is better to use? What do you think? Do we need a login form customization?

I think the new one looks ok in the above screenshot. I am fine with going with that if there isn't anything else functionally that we are losing.

[2020-05-06 11:51] balmas commented on #283
Let's enter a separate issue for this so that we can keep track of it and at at least document it in the FAQ

[2020-05-06 12:05] kirlat commented on #283
I did not discover any issues with the new login during my testing. I will then go ahead and issue a PR.

[2020-05-06 12:06] kirlat commented on #283
I will enter an issue for that.

[2020-05-06 12:23] kirlat opened #285 "Wandering extension buttons in Safari"
During testing on Safari that I've noticed (but maybe it's just my particular case) that buttons of Safari App extensions (I have an Alpheios and an another one installed for testing) jump all over the toolbar. They can be together at the left of a URL bar, after a while they may be together at the right of it, then one at the left and another one at the right. I've seen them moving to all possibl

[2020-05-06 12:28] kirlat commented on #283
This has been merged into `master`.

[2020-05-06 12:30] kirlat commented on #266
This has been handled by the #284. Auth0 SPA is updated there to the latest version at the moment, 1.8.1.

[2020-05-06 15:19] #281 closed

[2020-05-06 19:23] balmas commented on #283
we should try to use the custom login form with this because we need to support the accept terms feature which isn't available in the other version.

This will require upgrading lock see alpheios-project/alpheios-core#306

[2020-05-07 08:06] PonteIneptique opened #286 "Dragging extension can be erratic"
- Video : [2020-05-07 10-03-03.mkv.zip](https://github.com/alpheios-project/webextension/files/4591553/2020-05-07.10-03-03.mkv.zip)
- Browser: Firefox
- Explanation (I think): dragging works well as long as the cursor stays in the bar. But if you move quickly, as soon as your cursor (still clicked) move out of the "div", the window does not move anymore but your cursor stays in dragging position.

[2020-05-07 11:33] balmas commented on #286
@kirlat not sure if we can do anything about this if the source of the error is interact.js but can you look into it a little?

[2020-05-07 12:10] kirlat commented on #286
I definitely will. Interact.js went through multiple updated and is now at version 1.9.13 (production build uses 1.6.3, I believe) so I am hoping maybe they've fixed it.

[2020-05-07 12:18] kirlat commented on #283
I've updated Lock to the latest version (11.23.1) and it is showing a Sign-in with Apple button correctly now.

[2020-05-07 12:35] kirlat commented on #286
@PonteIneptique, thanks for the video, it's very helpful! I can reproduce the issue in Firefox on Windows, will see if we can do anything about it.

[2020-05-07 13:01] PonteIneptique commented on #286
Anything for @alpheios-project/admins :dancers:

[2020-05-07 13:12] balmas commented on #283
@monzug this change is actually live now because we don't have a separate dev environment for our login form.

Can you do some testing on logins sooner rather than later, using first the released version of the extensions (all 3 browsers) and the texts.alpheios.net environment?  For both this issue and #284  ?

[2020-05-07 13:48] monzug commented on #283
tested in Chrome in text env: existing user, sign in with Google, sign in with Apple, not existing user, sign up with existing id, sign up as new user.
question on Apple sign in: I chose to hide my nickname, so the nickname in Alpheios is generating by the system. is there a way to change this option to show my nickname in Alpheios again?

[2020-05-07 13:51] kirlat commented on #283
Great, thanks!

I'm not sure, not a big user of Apple's. Will read about it.

[2020-05-07 13:59] monzug commented on #283
me neither...

On Thu, May 7, 2020 at 9:52 AM kirlat <notifications@github.com> wrote:

[2020-05-07 14:41] monzug commented on #283
test the login on texts.alpheios.net (including sign up with Apple) in Firefox and Safari - as Kirlat said, I could not find any issues. will do more testing on the released version

[2020-05-07 15:49] monzug commented on #283
I am having some issues with Safari release, note the text env in Safari worked well.
when I logged in and then I logged out, the next time I click on sign in (no matter if I signed in with Apple or Google or any existing user), it does log me in automatically.

[2020-05-07 15:57] balmas commented on #283
thanks @monzug . What version of Safari and Mac OS are you running?

[2020-05-07 16:01] monzug commented on #283
Safari Version 13.1 (13609.1.20.111.8)
MacOS High Sierra version 10.13.6 (13609.1.20.111.8)

[2020-05-07 16:01] monzug commented on #283
I still have to test release on Firefox

[2020-05-07 16:07] balmas commented on #283
The display looks okay for me on macOS Catalina 10.15.4 and I would not be very surprised at all if that is a Mac OS issue because the screens look entirely different on Catalina:

![Screenshot 2020-05-07 12 03 40](https://user-images.githubusercontent.com/644870/81317764-41e26080-905b-11ea-96b7-38788277f727.png)

![Screenshot 2020-05-07 12 03 31](https://user-images.githubusercontent.com/644870/8

[2020-05-07 16:08] kirlat commented on #283
I think this probably how Auth0 works: once the user is logged in, it caches it credentials in cookie or local storage and while session is not expired (it probably uses a session duration from config settings) it logs the user in automatically.

Probably this is a result of updates of Auth0 scripts.

[2020-05-07 16:08] balmas commented on #283
Re the login/logout/login though, I CAN reproduce that.  I need to search if that is already a known issue though. It might be.

[2020-05-07 16:09] balmas commented on #283
@kirlat can you investigate that?

[2020-05-07 16:10] kirlat commented on #283
Sure, I will.

[2020-05-07 16:17] kirlat commented on #283
@monzug, to verify the cause of this, can you please do the following in Safari?
1. Log in
2. Log out
3. Go to Safari - Preferences - Privacy, click on "Manage website data" and press "Remove all".
4. Check if it will log you in automatically after that.

[2020-05-07 16:35] monzug commented on #283
still I am logged in automatically. I did only try with an existing user
from the list though.

On Thu, May 7, 2020 at 6:17 PM kirlat <notifications@github.com> wrote:

[2020-05-07 16:39] kirlat commented on #283
Hmm, I did a test on my platform (Safari 13.1/ macOS 10.15.4) and it is working as expected. We have a max age parameter (an amount of time after authentication when it will require user to re-authenticate) equal to 60 seconds. So if I log in, log out, wait for 60 seconds, and then log in again, it will ask for a password. If I log in, log out, then log in again WITHI the 60 seconds, I will be log

[2020-05-07 16:42] monzug commented on #283
is this a Safari parameter? I did test the text env on Safari and it worked
perfectly, so did Chrome (not Firefox though but for other reasons)

On Thu, May 7, 2020 at 6:39 PM kirlat <notifications@github.com> wrote:

[2020-05-07 16:56] kirlat commented on #283
It should be the same for all platforms (i.e. the 60 seconds duration), but for FF and Chrome (no matter what OS it is) we're using an Auth0 Chrome library. For Safari, however, we're using an Auth0 SPA library, so that's different. But the timeout duration should be the same.

If you're in a text environment (alpheios.net) then it uses an embeded library, even on Safari, and it will use an Auth0L

[2020-05-07 16:57] kirlat commented on #283
We just have to support several authentication configurations for multiple platforms 🙁.

[2020-05-07 17:15] balmas commented on #283
There are these variations:

1) texts.alpheios.net which uses a server-side authentication flow with Auth0
2) the webextension on Firefox and Chrome (regardless of OS) which uses the WebAuthenticationAPI for for the authentication flow with Auth0
3) the safari app extension on Safari/Mac which uses the SPA (single page app) authentication flow with Auth0

All 3 of these use the same login form, bu

[2020-05-07 17:17] balmas commented on #283
I don't think this is the right behavior actually. When we logout explicitly, it should not matter what the timeout is.

[2020-05-08 12:59] monzug opened #288 "FF: after sign in, pop-up loads for ever"
related to issue https://github.com/alpheios-project/webextension/issues/283
release version on FF 74.0 (64-bit) on PC and Mac
When I sign in with apple or with google or as an existing user, the next popup keeps loading for ever so I close it, I go back to log in, click on the log in button and I am logged in.  when I sign in with Apple, after prompting for id/psw, I have to click on Continue. I

[2020-05-08 13:02] balmas commented on #288
@kirlat can you please investigate this ? Thank you.

[2020-05-08 13:24] kirlat commented on #286
@balmas: I did an investigation and I think the problem lays in `interact.js`; I have no better ideas at the moment. There is a callback in our code that `intaract.js` calls whenever a mouse pointer is moved when in a drag mode. This callback gets horizontal and vertical move distances that `interact.js` calculates. We use this data to adjust a position of a popup.

It seems that this data is dela

[2020-05-08 13:54] balmas commented on #286
agree, both on trying to eliminate the interact.js dependency and on waiting until after the release. I'll move this issue to alpheios-core and take it out of the release.

[2020-05-08 14:09] kirlat commented on #288
I've tested it on macOS 10.15.4 in FF 76.0 and I cannot confirm this so far. I do see the first screen, and when I click on "Continue", it closes it (it seems this is shown in a full-size popup window) and brings me to the user tab in an Alpheios panel, a status is shown as "logged in".

I don't know if it's important or not, but before this screen I was:
1. Shown a 6-digit confirmation code that

[2020-05-08 14:23] kirlat commented on #288
I did a couple of other tests on mac and it is working as expected for me. Will check it on PC.

The windows on a first screenshot seems to be a full-size popup windows that opens on top the one with the panel. It seems that this window fails to close for whatever reason and a JS function fails to return a value that will indicate a completed authentication.

@monzug, since it is a FF window, coul

[2020-05-08 14:43] kirlat commented on #288
Was able to sign in with Apple ID from PC on Win10 in FF 77.0b3 (this is a developer edition). The window on a screenshot closes slowly, but it closes finally.

I've also logged in with my Gmail account without any problem whatsoever.

[2020-05-08 14:51] monzug commented on #288
No error message on console. I have to say that I have a very slow
connection but I did my login testing with the 3 browsers on PC/Mac and I
had this problem only on FF. I am glad you don't see any issue,

On Fri, May 8, 2020 at 10:44 AM kirlat <notifications@github.com> wrote:

[2020-05-08 15:43] balmas commented on #288
I can't reproduce this one either. I think it may be a problem with FF and is likely related to the slow connection so there are two separate questions here:

It sounds as if it is timing out on the redirect back from the authentication, after the authentication is successful. This is probably why after refresh the user is logged in. It's possible that Firefox handles this timeout differently than

[2020-05-08 16:57] monzug commented on #288
I will have a faster connection by then!!! let's see.

On Fri, May 8, 2020 at 11:43 AM Bridget Almas <notifications@github.com>
wrote:

[2020-05-08 17:20] kirlat commented on #283
Here is a description of a `max_age` parameter: https://auth0.github.io/auth0-spa-js/interfaces/popuploginoptions.html#max_age.
This [document](https://auth0.com/docs/sessions/concepts/session-lifetime) provides some additional explanation. I think `max_age` is the same as a parameter called `Require log in after` in a text: https://auth0.com/docs/sessions/concepts/session-lifetime#examples-sessio

[2020-05-11 11:53] balmas commented on #283
I still think we're talking about 2 different things.

As I understand it, max_age has to do with how long the user can stay logged in if they haven't explicitly chosen to logout, i.e. how long before we expire their session. I don't think we ever want to force-expire their session if they haven't explicitly chosen to logout.

However, if they choose to logout, then we should use the Auth0 api to

[2020-05-11 14:36] kirlat commented on #283
I've checked the source code and it seems that a `max_age` is related to the authentication period while session expiration period is handled via an `expDate`: https://github.com/auth0/auth0-spa-js/blob/3285b24db85786039fb681ecd0c2bd6988afc89e/src/jwt.ts#L162-L187
I can't find any explanation of a `max_age` that is clear enough, but from my testing I has an impression it has something to do with w

[2020-05-11 15:02] balmas commented on #288
@monzug reports that this is solved by upgrading to FF76. We need to note this in the FAQ.

[2020-05-11 15:02] #288 closed

[2020-05-11 15:03] #285 closed

[2020-05-11 15:04] #283 closed

[2020-05-12 20:12] balmas commented on #283
ah, you might be right. This could be something that affects how long an id token can used which is something different than session expiration.  If so, then a max_age of something like 2 minutes might make sense. What do you think @kirlat ?

[2020-05-13 09:57] kirlat commented on #283
If it is a machine used by a single person only, long max age is very convenient: it allows to login without entering a password. On the other hand, if computer is shared, we want to have it at a minimum to reduce security risks.

In the future, if we want, we could probably add something like a "remember password on this machine" option that, when on, will set a long max age period. Users who do

[2020-05-13 11:53] balmas commented on #283
Yes please.

[2020-05-13 19:29] balmas commented on #283
Alpheios Reading Tools 3.1.0 build qa.20200513448

Need to include Authentication as part of regressions of the new release of the Safari App Extension.

[2020-05-13 19:31] balmas commented on #281
this is working well in Alpheios Reading Tools 3.1.0 build qa.20200513448

[2020-05-13 19:32] balmas commented on #266
Alpheios Reading Tools 3.1.0 build qa.20200513448

Requires Authentication regressions in Safari App Extensions

[2020-05-20 14:15] monzug commented on #283
tested in Safari App extension 3.1.0 build qa.20200513448
after 2 minutes, I am prompt to login again. Thanks.

[2020-05-22 14:59] monzug commented on #266
I signed in with google and now I cannot log out both from latin library and loeb classics. I keep clicking on log out button from User Account tab and nothing happens.

![Screen Shot 2020-05-22 at 4 56 57 PM](https://user-images.githubusercontent.com/41396793/82681084-88d07880-9c4d-11ea-84c3-ac266470790e.png)

[2020-05-28 12:50] kirlat commented on #266
I've tried to reproduce it on Safari, but I was not able to. I was testing it on both Loeb Classics and The Latin Library, was trying different scenarios, but no matter what, the logut worked for me as expected. My platform was Safari 13.1 (15609.1.20.111.8) and macOS 10.15.4.

The only issues I've encountered is the login popup loaded partially (see the screenshot below):
![image](https://user-im

[2020-05-28 13:17] balmas commented on #266
@monzug if you can still reproduce this, can you try closing and reopening the panel and clicking logout again? I have noticed occasional non responsive buttons in the UI (in Chrome), for example, sometimes when I click on Lookup in the lookup box, rather than pressing return, it does nothing, and then the next lookup it works fine.

[2020-05-28 19:45] balmas opened #292 "background script errors in console/activation issue"
I'm not sure if these are related but I have been noticing the following:

1) when you open a new browser window or tab and the first thing you is try to activate Alpheios, it takes two clicks on the alpheios icon to activate it. The first one does nothing.

2) there are a ton of background script errors appearing in the background debug window

![Screenshot from 2020-05-28 15-43-13](https://user-

[2020-05-28 19:46] balmas commented on #292
I have seen the activation behavior in both Chrome and Firefox.

@kirlat could you investigate?

[2020-05-29 11:22] kirlat commented on #292
I can't reproduce it in Chrome (there are some errors in the console there, but they do not require a second click to activate an extension) but I see something very similar in FF. Will investigate.

[2020-06-02 14:11] monzug commented on #266
Not able to reproduce the logout problem described in the above scenario in Safari App Extension 3.1.0 build qa.20200527411
Alpheios Components 3.3.0-qa.20200527404

@Balmas, I have a question: when I sign in with Google in Safari, it does not prompt for id/psw. I am logged in automatically, and I waited for more than 2 minutes too. In Chrome (Mac/PC), it does prompt for id/psw initially, then in

[2020-06-02 14:14] balmas commented on #266
Yes it should. I think we may need to just tweak a setting in the Safari Login configuration for this.  I'll convert this to a new issue.

[2020-06-02 14:14] balmas opened #294 "Safari: prompt for Google account"
Yes it should. I think we may need to just tweak a setting in the Safari Login configuration for this.  I'll convert this to a new issue.

_Originally posted by @balmas in https://github.com/alpheios-project/webextension/issues/266#issuecomment-637570989_

[2020-06-02 14:15] balmas commented on #294
Kirill I am fairly certain this is a configuration setting somewhere ....

[2020-06-02 14:16] monzug commented on #266
ah, ok. glad you know how to fix it.

On Tue, Jun 2, 2020 at 4:14 PM Bridget Almas <notifications@github.com>
wrote:

[2020-06-02 17:12] kirlat commented on #292
Changes that would hopefully fix the issue has been merged into master.

[2020-06-02 17:44] #292 closed

[2020-06-02 17:51] balmas commented on #294
the two minutes is probably the max_age timeout.

The issue here though, I believe, is with multiple Google accounts. I.e if you try to login with different Google user accounts you aren't allowed. We had the this same issue with the webextension: https://github.com/alpheios-project/components/issues/444 we had to include the following in the parameters to solve it

[code]

[2020-06-03 15:13] kirlat commented on #294
A fix has been merged into master.

[2020-06-04 17:46] #266 closed

[2020-06-04 17:47] #294 closed

[2020-06-04 20:36] balmas commented on #292
these errors aren't occurring anymore in  Alpheios Reading Tools 3.1.0 build qa.20200602407  and the activation problem seems resolved.

@monzug can you just confirm that you don't have any problems activating the extension after installation or changing pages in both Chrome and FF?

[2020-06-04 20:36] balmas commented on #285
@monzug something to be aware of when testing the Safari app extension.

[2020-06-05 13:44] monzug commented on #285
I haven't seen it but I will definitely pay more attention to the alpheios icon during regression

[2020-06-05 14:08] monzug commented on #292
I have seen this problem in previous builds but not in the latest. I think we had this issue before, it sounds familiar.

[2020-06-05 14:24] kirlat commented on #285
I've updated macOS to 10.15.5 recently and I has not seen since then. So maybe that was a Safari bug that was fixed in the latest release. But I did test it long enough to be certain.

[2020-06-05 14:57] monzug commented on #285
Thanks for the update!

On Fri, Jun 5, 2020 at 10:25 AM kirlat <notifications@github.com> wrote:

[2020-06-05 14:58] monzug commented on #285
my mac is High Sierra 10.13.6

On Fri, Jun 5, 2020 at 10:57 AM Monica Zugan <monzug@gmail.com> wrote:

[2020-06-05 15:08] balmas commented on #294
Alpheios Reading Tools 3.3.0 build qa.20200605325
Alpheios Components 3.3.0-qa.20200605311

[2020-06-08 13:01] monzug commented on #294
tested login with Google in Safari and it does prompt for which user I want to login

[2020-06-16 15:00] monzug opened #296 "Chinese word at the top of most recent limit"
I applied the limit to most recent to a wordlist that I have been using for testing all day. I noticed that this limit has a Chinese word at the top while I expected to see the words added in current session. the Chinese word was indeed added today too but few sessions before the two other Latin words with the current session icon (paterentur et laborum). Note that normally with Greek and Latin wo

[2020-06-16 15:13] balmas commented on #296
hmm. was it possibly added with a different computer set to a different timezone?

[2020-06-16 15:17] monzug commented on #296
yes, it could be. let me try with a greek word then

On Tue, Jun 16, 2020 at 11:14 AM Bridget Almas <notifications@github.com>
wrote:

[2020-06-16 15:36] monzug commented on #296
so glad this is not an issue! Thanks Bridget for the suggestion

![most-recent-from mac](https://user-images.githubusercontent.com/41396793/84795523-9d422f80-afc5-11ea-85db-0a04db5dffed.JPG)

[2020-06-16 15:36] #296 closed

[2020-06-18 14:49] monzug commented on #285
I haven't seen it also on Catalina

[2020-07-14 17:11] balmas opened #300 "update Safari for Safari Web Extension architecture"
With XCode 12, Safari si supporting (most of) the standard web extension api.  We should in theory be able to eliminate much of the safari-specific code for the webextension now.

See https://developer.apple.com/videos/play/wwdc2020/10665/
and https://developer.apple.com/documentation/safariservices/safari_web_extensions

[2020-07-15 12:06] balmas opened #301 "move support files out of the dist directory"
In order to pass the Mozilla code review, we need to make sure the contents of the dist directory are fully produced by the build process and can be reproduced by running our build script.  Per the reviewer:

"I see you already have the dist folder populated with minified files. We do not run build instructions on already minified files and need to delete the dist folder, that's why the instructio

[2020-08-03 13:39] balmas opened #306 "fix qa build process"
#303 broke the QA process.

`tagged-commit` is run locally, installs the qa branch of alpheios-core, and  rebuilds the `dist` directory, and tags the release, which then kicks off the travis build that creates the release and the dist directory. However the travis build recreates the dist directory without first installing the qa branch of alpheios-core, and it also creates an invalid build number

[2020-08-03 19:27] balmas commented on #306
See also related notes in alpheios-project/documentation#32

[2020-08-04 17:52] #306 closed

[2020-08-04 21:38] balmas commented on #306
this is fixed in
Alpheios Reading Tools 3.3.1 build qa.20200804636

The dist.zip available from the GitHub release now also includes the env-webext.js so you no longer need to copy that in.

I think this obviates the need for a separate deployment of the zip on S3.

[2020-08-05 12:53] monzug commented on #306
I am still getting the dist.zip file with env-webext.js from  https://github.com/alpheios-project/webextension/releases/download, is that ok? the build number has been fixed:   Alpheios Reading Tools 3.3.1 build qa.20200804636
Alpheios Components 3.3.0-qa.20200804505

[2020-08-05 13:01] balmas commented on #306
Yes that’s correct

[2020-08-05 15:35] balmas opened #308 "test with FF Fission (iframe isolation)"
See https://blog.mozilla.org/addons/2020/07/24/extensions-in-firefox-79/?utm_source=newsletter&utm_medium=email&utm_campaign=about-addons-jul-2020#Fission

"The Firefox platform team has been working on a new security architecture that isolates sites from each other, down to separating cross-origin iframes from the tab’s process. This new model, nicknamed Fission, is currently available for opt-in

[2020-08-11 14:17] balmas opened #309 "conflicts between webextension styles and embedded lib styles in Safari"
The problem with the incorrect width of a treebank panel in Safari seems to be the conflict with the old version of the Safari App Extension. Whenever an extension is installed and active, it injects its own CSS stylesheets. Those styles has a higher priority than the styles loaded by the webpage.

In the Safari test, texts-test.alpheios.net was defining the width of the panel as 100% in its own s

[2020-08-11 14:18] balmas commented on #309
I think we would like people to be able to have the extension installed and use the texts environment. The extension should be automatically deactivated on a page with the embedded library and it would be better if it didn't load the stylesheets in the page when it's not activated. But maybe this will be resolved automatically if we switch to the web extension api compatible architecture in Safari

[2020-08-11 15:04] kirlat commented on #309
We can't unload the stylesheets at the current level of technologies. We do deactivate the extension (i.e. call the `deactivate()` method on the app controller) but that it not enough. In order to remove the extension's stylesheets from the page, we have to disable an extension in the Safari preferences. We cannot do that programmatically now. That makes sense due to security reasons: why would a

[2020-08-24 14:40] balmas opened #311 "update build instructions"
need to update the dev readmes to have the latest build instructions.

[2020-10-24 20:56] pavelstudeny commented on #268
I have the same crash in my project, that is easy to reproduce, but difficult to fix. An app extension is running fine, the container app is running fine, but as soon as I add another nested app to the package, it's mere presence causes this app extension crash with a 100% repro (the container app is still running fine).

[2020-10-28 11:56] balmas commented on #268
@pavelstudeny thank you. Were you ever able to fix it in your extension?

[2020-11-03 20:35] pavelstudeny commented on #268
@balmas I have not fixed it myself, so I cannot be very detailed, but I happened because I have not added entitlements for an app bundled in the main app. It's also important to have a correct signature, but Xcode would often tell you that during build.

[2020-12-03 09:11] demophobos opened #315 "A strange definition ..."
![alph_mistake](https://user-images.githubusercontent.com/7735754/100988260-95b91780-3560-11eb-8fa8-bdbd608224ce.png)

[2020-12-03 13:45] balmas commented on #315
thank you for finding the issue. We will fix this!

[2020-12-09 17:42] #315 closed

[2020-12-09 17:52] balmas commented on #315
should be fixed in now in lsl, middle-liddel, major+ml, major+lsj

verification pending deployment of fixed defs files.

[2020-12-10 11:14] demophobos opened #316 "Gradus abest"
![alpheios_project_issue_002](https://user-images.githubusercontent.com/7735754/101764543-3bd0c880-3af1-11eb-87d0-7a19552e8acb.png)

[2020-12-10 13:52] balmas commented on #316
it looks like the issue is that we just take the first sense from the lexicon, "single" for the short definition and it would probably be better to extend this to e.g. "single, simple straightforward".

[2020-12-10 16:05] balmas commented on #316
@monzug this change has been made in the live lexicon service files.   Please verify whenever you have a chance. Thanks!

[2020-12-10 16:06] balmas commented on #315
@monzug this change has been made in the live lexicon service files.   Please verify whenever you have a chance. Thanks!

[2020-12-10 16:24] demophobos commented on #316
It's not about the sense, it's about the degree of comparison of the adjective, which should be presented in the form definition.
Like you do in similar cases:
![image](https://user-images.githubusercontent.com/7735754/101799425-32f5ec00-3b1d-11eb-945c-3aa37017a3cc.png)

[2020-12-10 17:03] balmas commented on #316
ah, ok, thanks for the clarification.  I think the short definition benefited from the attention anyway :-)

Regarding the comparative, the parser reports this form differently (as an irregular comparative), which we weren't catching. We'll put that fix on the list for an upcoming release. Thank you!

[2020-12-11 15:06] monzug commented on #316
ἁπλόος is single, simple, straightforward

However in Major+LSJ   and  LSJ it's twofold. see below

![Screen Shot 2020-12-11 at 4 01 11 PM](https://user-images.githubusercontent.com/41396793/101919193-90944200-3bca-11eb-84b9-1dc2d15b7b7c.png)

[2020-12-11 16:40] monzug commented on #315
I tried different combination of the word ἁπιοτοίην,άπιοτοίην,ὰπιοτοίην,ἀπιοτοίην with no results. can't find this word. help

[2020-12-11 16:43] balmas commented on #315
ἀπιστοίην

[2020-12-11 17:21] monzug commented on #315
Thanks! hard to say what I was typing wrong but something was definitely not right.

[2020-12-11 17:26] monzug commented on #315
LSJ and major+LSJ   have disbelieve, distrust
Middle Liddell and Major+ml have disbelieve, distrust, mistrust
is it ok or do they have to match?

[2020-12-11 17:48] balmas commented on #315
these are differences (albeit minor) in the definitions from LSJ and ML so I left that as is. I think it's ok.

[2020-12-11 18:57] monzug commented on #315
all good for me.

[2020-12-16 20:50] demophobos opened #317 "For ξεναγέω short def. problem (using Middle Liddell)"
![ξεναγέω](https://user-images.githubusercontent.com/7735754/102404864-57f4ce00-3ff9-11eb-9c8b-153dc75663f1.png)

[2020-12-29 22:04] balmas commented on #103
having this feature could also help with the problem reported at alpheios-project/morphsvc#27

I'm going to bump it for consideration in our next major release (and move it to the alpheios-core repo).

[2021-01-11 19:52] balmas commented on #316
I've updated this short def everywhere now.

[2021-01-11 19:52] #316 closed

[2021-01-12 17:26] monzug commented on #316
short def for ἁπλόος  is  single, simple   in  Logeion
short def for  ἁπλόος  is single, simple straightforward in Major+LSJ, Liddell, Liddell Scott Jones
No definition found in Dodson, Abbott-Smith and Homeric Lexicon

[2021-01-19 16:01] monzug opened #318 "Ignore a specific character around a Greek word"
Double click does not work for  †οὖνπερ
ἱεροδόκα†  in  https://texts.alpheios.net/text/urn:cts:greekLit:tlg0085.tlg001.alpheios-text-grc1/passage/1-30    line 362 and 363 because of the †.  could we ignore it?

[2021-01-20 14:04] balmas opened #319 "Fix Toolbar Icon"
Safari 14 adds an awful blue color automatically to any extension when it's active.  Previous versions of Safari required us to have only a grayscale icon in for the toolbar in a scalable PDF. With Safari 14, if you provide a single-color icon instead, they will use that color for the "active" state, and grayscale the icon for the "inactive" state. This is a little problematic for backwards compat

[2021-01-21 15:27] balmas commented on #319
See thread https://developer.apple.com/forums/thread/651500

[2021-01-21 15:40] balmas commented on #319
(please create a branch off of the incr-3.3.x branch of the webextension for any work on this)

[2021-01-26 14:10] kirlat commented on #319
@balmas I'm wondering how did you deal with testing it in different Safari versions? Did you install Safari 14? I'm on Safari 13 now and AFIK if I upgrade to Safari 14 there is no way back other than to reinstall the macOS Mojave. Maybe one of us should be on Safari 14 and do the change while the other would test how it would behave on Safari 13?

Also, if we upgrade the extension to webextension

[2021-01-26 14:14] balmas commented on #319
I think we need to use browserstack to test different versions. I think you should still have login credentials for our browserstack account. if not let me know and I will send them to you.

We are NOT going to provide two different versions for the app store.  So the main thing is to make sure it's okay, if not perfect, on versions prior to Safari 14.

[2021-01-26 16:53] kirlat commented on #319
Understood. So we're trying to make the existing Safari App Extension to look as good as possible on both Safari 13 and 14. My browserstack account is active so I'll give it a try.

[2021-01-28 13:38] kirlat commented on #319
I've added a light blue letter icon into the `i319-safari-toolbar-icon`. It looks good in Safari 13, let's see how will it be in the next version

[2021-01-29 20:52] balmas commented on #319
I agree it looks okay in Safari 13. @monzug can you test the build in Safari 14 and let us know how the toolbar icon looks? Use the AlpheiosReadingTools-devicon.dmg package in the Alpheios-Safari-Builds dropbox folder. Thank you !

[2021-02-01 13:40] monzug commented on #319
I did install/uninstall twice (and clear cache) to be sure I had the right version. It does not look any different than the prior version.
![Screen Shot 2021-02-01 at 2 37 26 PM](https://user-images.githubusercontent.com/41396793/106466251-63ae2e00-649b-11eb-8058-e6332e09ad96.png)

[2021-02-01 14:47] balmas commented on #319
Sigh ok, we're going to have to let this go for now.  We'll address it at some point.

[2021-07-03 01:13] monzug opened #323 "Question on embedded tools on PC vs MAC"
1) I noticed that I am getting a message in Chrome/PC that is missing in Chrome/Mac (I do have the tools installed on both).  If I click on the tools icon, I see Alpheios Extension Disabled for Page on MAC.  Why such a difference between PC and MAC? see PC message below and screenshot

 This pages embeds Alpheios directly. The Alpheios browser extension is not needed for it and will be deactivated

[2021-07-05 15:10] monzug commented on #323
Irina, is there a way for you to fix issue 2) above: Could you please improve the message by removing the plural on pages? Could you just say: Alpheios Extension Disabled for the Page as it's on Mac?

right now it says This pages should be this page

[2021-10-26 13:44] balmas opened #324 "upgrade to Manifest V3 (Chrome and FF)"
FF will start supporting their implementation of Manifest V3 in 2022 and will deprecate support for V2 in 2023. Chrome already supports Manifest V3 and will stop accepting new extensions using V2 in 2022 (although will allow update of existing extensions).

Sometime in early 2022 we should update both FF and Chrome to V3.

References:
https://blog.mozilla.org/addons/2021/05/27/manifest-v3-update/?

[2021-11-16 08:51] irina060981 opened #325 "Firefox: Action Required: Add-on Policy Changes"
<div style="height:100%;word-break:break-word;font-size:16px;font-weight:normal;background-color:transparent;line-height:1;font-family:Arial,Helvetica,sans-serif">
                                                          <p><span style="background-color:transparent">Hello,</span></p>
                                                          <div>&nbsp;<br>

[2021-11-16 08:57] irina060981 commented on #325
**from @irina060981**
the only problem here that for some reasons we have to get these permissions from a user.
But I don't remember why do we have them.

**from @balmas**
I don’t remember either.  We could try removing the permission and having Monica do a full regression test, and if everything works, then not worry about it.

**from @irina060981**
We have activities - launching other site for u

[2021-11-17 23:25] irina060981 opened #328 "Errors on loading from lookup"
I keep getting an error: lexical data is loading from lookup and double click but not from wordlist. see below some errors that I see in the browser console. it might be my environment in which case I will be happy to start build from scratch with your guidance.

![Screen Shot 2021-11-17 at 1 28 31 PM](https://user-images.githubusercontent.com/41396793/142202699-4da58eec-4c18-4044-a262-866268c3407

[2021-11-18 04:35] irina060981 commented on #328
I opened this site  - https://scaife.perseus.org/reader/urn:cts:greekLit:tlg0317.tlg001.1st1K-grc1:1-5/
not the same text - but it is not important

There are a lot of mistakes there - but all of them are not ours.
I think that there are some problems on this site.

when you see an error in the console - it has two parts:
- error description (on the left)
- error place on the right

And as I could

[2021-11-18 04:36] #328 closed

[2021-11-18 11:33] irina060981 commented on #325
We don't collect browsing activity data - if it means reading history, checking urls of other tabs

Hope this is fixed

[2021-11-18 15:07] monzug opened #330 "Lexical data is loading from wordlist"
related to #328 ?
in latest build  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211118345
Alpheios Components 3.3.3-incr-3.4.x.20211116233 build i662-lexical-dicts.20211118457  in FF/PC.
Have wordlist with latin words saved in both Greek and Latin language. When I double click on a latin word from wordlist (e.g. legatione), that it has been saved in the Greek list of words, it keeps loading the

[2021-11-18 15:19] monzug opened #331 "En language in wordlist"
I have never seen the en language id in wordlist before yesterday and latest FF builds. Note that this is only for Scaife site.
As soon as I install the new FF build and I do some lookup/double click, the words are saved in wordlist with en language id. Irina, do you have any idea where this en language id comes from, only in Scaife?  is it the page language defined on the site? see attachment bel

[2021-11-18 22:39] irina060981 commented on #331
Yes, it has en as a page language.
It is easy to check - open context menu and select **View Page source**

![image](https://user-images.githubusercontent.com/12377640/142507950-20bfc717-5e01-4a3c-8dc9-8fb1a0cf981c.png)

You would see a page in non-rendered mode
![image](https://user-images.githubusercontent.com/12377640/142507999-f304872a-f8c2-46a5-8bd2-f549c73c1498.png)

You could see that it is

[2021-11-18 22:43] irina060981 commented on #330
No, I don't think that it is related to that errors .
But we have some problems with hanging lexical loading.

I saw it before simultaneously.
Will check.

[2021-11-19 06:48] monzug commented on #331
@Irina, do you remember the issue # about priorities on page language? we
made that change after the release and I have never tested in web extension.

On Thu, Nov 18, 2021 at 11:40 PM Sklyarova Irina ***@***.***>
wrote:

[2021-11-19 06:54] irina060981 commented on #330
The problem is bigger.
When you select a word from the page (in Firefox) it does two requests - with defined language and with page language.
And adds two words with different language to the wordlist.
You could see them as almost empty line in wordlist.

And when you try to click on them from wordlist - they could not be loaded, because - they don't have homonym.
One copy with correct language ha

[2021-11-19 06:55] irina060981 commented on #331
No, I don't remember a number - may be you could search for it in issues list?

[2021-11-19 07:42] monzug commented on #331
It might be this one:
https://github.com/alpheios-project/alignment-editor-new/issues/302

On Fri, Nov 19, 2021 at 7:56 AM Sklyarova Irina ***@***.***>
wrote:

[2021-11-19 07:46] irina060981 commented on #331
Yes, I think you are quite right

[2021-11-19 08:07] monzug commented on #330
uhm, not so happy to hear this. good luck digging into this issue...

On Fri, Nov 19, 2021 at 7:55 AM Sklyarova Irina ***@***.***>
wrote:

[2021-11-19 09:23] monzug opened #332 "Paideia glossary"
As I have never used the Paideia glossary before, I just gave it a try in FF/PC  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211118345
Alpheios Components 3.3.3-incr-3.4.x.20211116233 build i662-lexical-dicts.20211118457

Few issues here:
1) I think Paideia glossary is the right terminology, so pls change Paidea into Paideia in the Lexicons (Short Definitions) drop-down
2) when I select the Pa

[2021-11-19 09:45] monzug commented on #332
see https://github.com/alpheios-project/alpheios-core/issues/647

[2021-11-19 10:09] monzug commented on #331
an other one: https://github.com/alpheios-project/alignment-editor-new/pull/328
but I think this is the one I was looking for: https://github.com/alpheios-project/alpheios-core/issues/639

[2021-11-19 11:58] monzug commented on #331
I do not understand why it takes en as language at the first double click, then when I change page language from greek to latin (it's a latin text), all goes well. except in wordlist where words are saved in both en language list and latin language list. there is something not quite right here
![Screen Shot 2021-11-19 at 12 55 10 PM](https://user-images.githubusercontent.com/41396793/142619202-03a

[2021-11-19 14:38] monzug commented on #332
actually, after reinstalling FF and latest alpheios build, issues 2 and 3 are not longer reproducible.

[2021-11-19 14:42] monzug commented on #331
also the show contexts icon is available for words in the en language list but not for same words in the lat language list. see below

![show-context](https://user-images.githubusercontent.com/41396793/142640976-912aa613-33f8-457c-ae07-163030041d1f.JPG)

[2021-11-22 00:49] irina060981 commented on #331
I described the same problem here
https://github.com/alpheios-project/webextension/issues/330

[2021-11-22 09:43] irina060981 commented on #330
I rechecked - it is reproduced in Chrome too.
Easy steps:
- open any latin text (I use http://www.thelatinlibrary.com/livy/liv.21.shtml)
- set page Language as Greek
- double click on any word - 2 words would be added to wordlist (to lat and grc)

[2021-11-22 11:19] irina060981 commented on #331
Bug is fixed.
New Release  is published.

[2021-11-22 11:20] irina060981 commented on #330
Bug is fixed.
New Release  is published.

[2021-11-22 11:20] #330 closed

[2021-11-22 11:20] irina060981 commented on #332
Spelling is changed

[2021-11-22 11:20] #332 closed

[2021-11-22 13:36] monzug commented on #332
fixed.

[2021-11-22 13:43] monzug commented on #330
this is fixed in  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211122338
Alpheios Components 3.3.3-incr-3.4.x.20211118338 build i330-loading-wordlist.20211122620
now I am getting the following:
![Screen Shot 2021-11-22 at 2 42 48 PM](https://user-images.githubusercontent.com/41396793/142872005-7aaabcf5-c15b-4cc7-acf8-d92586e638f4.png)

[2021-11-22 13:48] monzug commented on #331
I still see the same issue: words been saved in en and also in the Alpheios page language in wordlist and that the show contexts icon is available for words in the en language list only.
see example of same word repeated 3 times in wordlist: en as page language in scaife, greek as page language in alpheios, latin when I changed the page language to latin.
![Screen Shot 2021-11-22 at 2 42 48 PM](ht

[2021-11-22 14:33] monzug opened #333 "two clicks to set Reset all in Options"
tested in FF/Mac in  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211122338
Alpheios Components 3.3.3-incr-3.4.x.20211118338 build i330-loading-wordlist.20211122620
there is still something not quite right with settings in Options. so, I wanted to change lexicon (short definitions) in latin, so I unchecked Whitaker to add Paideia, but it would not change the glossary, so I deselected all. if I

[2021-11-22 22:59] irina060981 commented on #331
yes, the same bug is repeated on https://scaife.perseus.org/reader/
It is strange - I will check

[2021-11-23 03:55] irina060981 commented on #331
I find a small bug in language definition (hope it is last) - now it is fixed and I could not reproduced it any more.

Anyway I would describe what was the source of the problem, may be you could face with some other edge case.

There are two aspects:

1. When an application prepare a word to get morphology dater it creates two objects: one for word information (TextSelector) and one for context i

[2021-11-23 06:28] monzug commented on #331
will dig in soon. Hopefully it will be the last one as u said.

On Tue, Nov 23, 2021 at 4:55 AM Sklyarova Irina ***@***.***>
wrote:

[2021-11-23 07:08] irina060981 commented on #333
I could see the same in Chrome - so it is not browser dependent

[2021-11-23 08:52] irina060981 commented on #333
I have do some changes and won't be able to reproduce.
The bug was the following:
- when a user clicks - Reset all - it uploads data from storage and update on the screen
but there was not defined a cleary query

Previously (I believe) uploading was quick and it was always uploaded before the next step.
But it seems to me that Internet becomes slower or our sources - in the described case the firs

[2021-11-23 08:52] #333 closed

[2021-11-23 13:48] monzug commented on #333
this works now in build  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211123265
Alpheios Components 3.3.3-incr-3.4.x.20211123114 build i333-options-reset.20211123556

[2021-11-23 13:49] monzug commented on #331
No more en language. Great. Thanks.

[2021-11-23 13:56] monzug opened #334 "lexical query produced no results from wordlist (latin vs greek)"
tested in ff/mac in  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211123265 Alpheios Components 3.3.3-incr-3.4.x.20211123114 build i333-options-reset.20211123556

related to issue #331

let's say that page language is Latin and text is in Greek. if I double click on few Greek words, the lexical query produced no results  is generated. when I go to wordlist and I click on any of the greek words,

[2021-11-23 15:47] monzug opened #335 "the wordlist pop-up is displayed behind morphology pop-up"
I do not know if this is new or if it has been around for a while, seen FF/Mac in  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211123265 Alpheios Components 3.3.3-incr-3.4.x.20211123114 build i333-options-reset.20211123556

if I keep double clicking on greek words when page language is set to latin, the morphology pop-up will say that lexical query produced no results. then when I go to wordli

[2021-11-23 22:46] irina060981 commented on #334
I noticed that difference before but never thought what is the reason. Will examine the code.

[2021-11-24 03:12] irina060981 commented on #334
There are such comments in the code:

// we offer change language here when the lookup was from the page because the language used for the
// lookup is deduced from the page and might be wrong

[2021-11-24 06:12] monzug commented on #334
comments in the code are always good. I see the reason behind difference from wordlist from lookup, but how about Greek vs Latin?

[2021-11-24 06:27] irina060981 commented on #334
I didn't fully understand your question. An application doesn't check languages - only the source of lookup.
If lookup is from double-click than application suggests language dropdown. Otherwise it considers that language was already chosen.

[2021-11-24 07:12] irina060981 commented on #335
I was not able to reproduce it. (both on Windows and MacOS)
It is manually in the code defined that panel should be upper (on layers) than popup.
If you could reproduce it - could you screenshot the following:
 - at the same place where you see console - select Inspector tab

![image](https://user-images.githubusercontent.com/12377640/143191510-e5776f5e-f6f8-4fa7-83d4-2bc0efad6c01.png)

- panel an

[2021-11-24 07:55] irina060981 commented on #325
I believe that everything here is fixed (except publishing privacy policy - waiting for credentials)

So you can verify it after regression tests

[2021-11-24 07:55] #325 closed

[2021-11-24 07:55] monzug commented on #335
I have this screenshot. see if it can be helpful
![Screen Shot 2021-11-24 at 8 52 18 AM](https://user-images.githubusercontent.com/41396793/143197291-39a6aa85-223f-4aec-931a-7fb12f935857.png)

[2021-11-24 07:57] monzug commented on #335
z-index is 2011
![Screen Shot 2021-11-24 at 8 56 45 AM](https://user-images.githubusercontent.com/41396793/143197529-194ad77e-bef6-4302-9833-abc2eb00ddf3.png)

[2021-11-24 08:02] monzug commented on #335
anyhow, I am not able to reproduce it right now. I took the screenshot this morning from yesterday scenario. After refreshing the page I could not repro it.

[2021-11-24 08:09] monzug commented on #335
ok, I just got the wordlist behind the pop-up (what I did: start with greek language and go to wordlist and double click on any words in both latin and greek list, then change page language to latin, double click on few greek words and got the lexical query produced no results pop-up, then go to wordlist and click on any greek words saved under the latin list, wordlist pop-up goes under the last p

[2021-11-24 08:12] irina060981 commented on #335
it is very strange - z-index property is correct

[2021-11-24 08:16] irina060981 commented on #335
I was able to reproduce it on MAC/FF again - two copies of extension was attached
It creates this mixed

[2021-11-24 08:17] monzug commented on #335
I noticed. can u reproduce doing the steps that I did in the last comment?

On Wed, Nov 24, 2021 at 9:13 AM Sklyarova Irina ***@***.***>
wrote:

[2021-11-24 08:19] monzug commented on #335
ah ok. is it only FF/MAC? we should check if it 's worth fixing it based on
how many users are on FF/Mac.

On Wed, Nov 24, 2021 at 9:17 AM Sklyarova Irina ***@***.***>
wrote:

[2021-11-24 08:21] monzug commented on #325
Irina, do you mean that regression test should be enough to verify above fixes or is there any specific testing that I should be doing?

[2021-11-24 08:50] irina060981 commented on #325
No, there is no specific testing here - all testing is to verify that everything is still working :)

[2021-11-24 08:54] irina060981 commented on #335
it is strange - I will recheck.

[2021-11-24 09:40] monzug commented on #334
two different pop-ups are generating when error is for Latin and when error is for Greek page language.
in the first scenario described above (page language is Latin and text is in Greek), I do not get any reference to the language in the query and it's consistent from wordlist and from double-click. in the second scenario described above (page language is Greek and text is in Latin), the error fr

[2021-11-24 10:05] irina060981 commented on #334
Do you mean this message?
![image](https://user-images.githubusercontent.com/12377640/143216536-b12ceace-f3d5-4d9c-bc1f-d9b82637fd9c.png)

Oh, this workflow was defined long time ago.
this message and the second message are printed on different steps of LexicalQuery executing.

The first (Morphological data not found. Definition queries pending.) is printed while Lexical query is still executing.

[2021-11-24 10:16] irina060981 commented on #335
I was able to reproduce it only on Mac/Firefox - it was not easy to reproduce - I clicked many times.
But for now I completely does not understand how it could happen from code perspective.
Will need more specific investigation.

[2021-11-24 10:37] irina060981 commented on #323
First of all I was not able to reproduce this message.
I tried to activate alpheios extension on (used alignment editor it embeds Alpheios Tools directly)

1. Chrome/PC  - It simply adds it twice and we again have multiple popups
2. Firefox/PC - the same - adds twice
3. Chrome/MAc - the same - adds twice
4. Firefox/Mac - the same - adds twice

So I don't know how it works before - but now the chec

[2021-11-24 11:05] monzug commented on #323
I see that message is not longer generated. this is from the log if it can help.
![Uploading Screen Shot 2021-11-24 at 12.03.42 PM.png…]()

[2021-11-24 11:10] irina060981 commented on #334
Greek vs Latin. that's ok. we can log this as something that we might want
to improve at one point (?) in the future. Thanks

May be I know why do we have such difference between Latin and Greek

- for Latin - we got definitions and morphology from one source
- for Greek - they are coming from different sources

So may be that's why it has different steps in publishing messages

It would be good t

[2021-11-24 12:34] monzug commented on #334
we can put on the side for when u are done with web extension fixes. let's see.

[2021-11-24 14:36] monzug commented on #323
this is in Chrome/Mac
![Screen Shot 2021-11-24 at 3 35 15 PM](https://user-images.githubusercontent.com/41396793/143258077-5397a1bd-a5d6-4962-848e-2ff8e9e38115.png)

[2021-11-25 02:51] irina060981 commented on #323
I was able tro get this message on PC/Chrome

But also it has 2 extensions attached

![image](https://user-images.githubusercontent.com/12377640/143371210-ccf8f909-2671-4a3e-a214-3a40b312d4d3.png)

Anyway I would investigate it, but according to the issue

right now it says This pages should be this page

This message could be generated (by its workflow) on PC/MAC anad CHrome/Firefox
So I couldn't

[2021-11-25 10:25] irina060981 commented on #335
I found the bug - it could be reproduced on any browser.
We upload content (when reload) when the tab catches event that page loading process is complete. (it is our new workflow for removing permissions).
But it turned out that a tab gets loading is complete two times - full complete and very full complete (I don't know what is the exact difference but it seems to me that the second emitts when a

[2021-11-25 10:25] #335 closed

[2021-11-25 10:28] irina060981 commented on #323
Message is updated to

**This page** embeds Alpheios directly. The Alpheios browser extension is not needed for it and will be deactivated until you navigate away from the page.

[2021-11-25 13:29] monzug commented on #335
Brava!!!! so glad you found a fix. Thanks

On Thu, Nov 25, 2021 at 11:25 AM Sklyarova Irina ***@***.***>
wrote:

[2021-11-29 13:33] monzug commented on #335
this is not longer reproducible in  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211125333
Alpheios Components 3.3.3-incr-3.4.x.20211123271 build ext-i323-message.20211125609

[2021-11-29 13:34] monzug commented on #335
to retest in chrome

[2021-11-29 13:50] monzug commented on #323
message has been updated, see attachment
![Screen Shot 2021-11-29 at 2 40 21 PM](https://user-images.githubusercontent.com/41396793/143878546-2685634e-4d80-43da-8d8f-cd43c3d2ff14.png)

this works fine in the alignment editor except for the splash screen where I can disable the tools by clicking on the Alpheios icon from the toolbar. then when I resume an existing alignment the tools are automatica

[2021-11-29 14:01] monzug commented on #325
Privacy police is in https://addons.mozilla.org/en-US/firefox/addon/alpheios-reading-tools/privacy/

[2021-11-29 16:16] monzug commented on #334
also Arabic, Geez, Chinese display the same pop-up as for Greek language: '... was not found in our xxx resources. Wrong language? change to xxx'.

[2021-11-29 17:13] monzug opened #337 "Regression on FF: right position and maximum pop-up width do not seem to work"
regression on options in FF. I noticed that the maximum width of the pop-up does not seem to work as well as it did in the release. also Panel position sets to right does not work, it worked indeed in the release.

[2021-11-29 23:58] irina060981 commented on #323
My understanding is that tools are embedded in the application so I should not be able to turn on|off. am I correct?

No, it is not true.
It works the following way:

- when embed-lib is registered on the page it sends a message to the attached extension
- if extension is active - a message would be printed and it would be automatically turned off

And that's all that is done here. Nothing else.

[2021-11-29 23:58] irina060981 commented on #325
Thank you - I didn't find it myself from user perspective :)

[2021-11-30 04:08] irina060981 commented on #337
Monica, I was not able to reproduce panel problem.
For me on Firefox:

- panel position by clicking move panel to right/left icon

![image](https://user-images.githubusercontent.com/12377640/143984008-7cc96d8b-57b1-4e6b-8df3-0a01add0d52f.png)

![image](https://user-images.githubusercontent.com/12377640/143984030-5ae5950c-0885-435f-a646-12c457ffce14.png)

what do you mean saying -

Give me more det

[2021-11-30 06:43] monzug commented on #337
will reinstall the latest build again. the enlargement of the pop-up based
on the setting maximum width of the pop-up did not enlarge the pop-up. will
try again with new installation and get back to you. Thanks

On Tue, Nov 30, 2021 at 5:09 AM Sklyarova Irina ***@***.***>
wrote:

[2021-11-30 08:12] monzug commented on #337
I clear cache and reinstall the latest build. I still see the problem with panel position set to right that does not do anything. the arrows to move left and right work perfectly. it's the setting that does not take action properly. see screenshots
![Screen Shot 2021-11-30 at 9 05 52 AM](https://user-images.githubusercontent.com/41396793/144009646-2d58add7-41ec-4467-bce6-7e98f0172cae.png)
![Screen

[2021-11-30 08:16] monzug commented on #337
I'll try on FF/PC again with latest build.

[2021-11-30 08:23] irina060981 commented on #337
About panel position - oh I see what do you mean.
It does not change position on setting change (in Firefox and Chrome), only on icon clicking.
I will check it

[2021-11-30 08:24] irina060981 commented on #337
Then how does it work in previous release if you are sure - it worked before?

[2021-11-30 08:30] monzug commented on #337
same in FF/PC. it looks like it works only on first install, e.g. if panel position is set to right then panels will open on right. will check again against the latest release from January. I thought I could move the panel by changing the settings but that's what the arrows are for!!!
how about the maximum width? it works as medium for me. will check against release

[2021-11-30 08:33] monzug commented on #337
ok, it works as in the release so it's a non issue.

[2021-11-30 08:33] #337 closed

[2021-11-30 08:51] monzug commented on #337
I searched github to see if there were any info about it but could not find. it has been a while and I really do not remember how it should work. anyhow it's same in latest release so good enough.

[2021-11-30 10:55] monzug commented on #337
Thanks irina , you are so right. I am almost done with regression and so
far so good.

On Tue, Nov 30, 2021 at 4:07 AM Sklyarova Irina ***@***.***>
wrote:

[2021-11-30 11:06] monzug commented on #331
Actually, I just experienced this problem in Loeb Classics. in FF/PC I used loebclassic for first time in a really long time. select a latin text, click on few words, check wordlist and I have the words saved in two different language list: la and lat. The la language list  has show context link, while the lat language list has the number of occurancies and the lemmas.
see attachment
![duplicate l

[2021-11-30 11:39] monzug opened #338 "i-mus: it's not highlighted in the inflection table. why?"
this is in the release and also in latest build, so it's not relevant but I wondering why I do not get an exact match like for the adjective.
go to https://www.tradurreantico.it/latino/grammatica-latina/morfologia/verbo/verbo-eo-latino/ and double click on i-mus. pop-up says that it's an adjective and  a verb. go to inflection table, the adjective has a match that is highlighted in yellow. instead

[2021-11-30 13:33] monzug opened #339 "tooltip are hidden by the browsing inflection tables"
FF/mac and PC. also in release, so it's not important. see attachment
![Screen Shot 2021-11-30 at 2 30 30 PM](https://user-images.githubusercontent.com/41396793/144056304-1c2ce985-155d-4f7d-bd9d-6476e334eb3a.png)

[2021-11-30 14:06] monzug opened #340 "Whitaker is sticky in short definitions"
I remove all Lexicons (short definitions) from Latin and Greek. In Greek, I get no definition found on any double click. in Latin, I still get the Whitaker short definitions.
see comment from issue #332 - see below

 in the greek language when I deselect all glossaries, I get No definition found. Instead, in the Latin, when no glossary is selected, I still get the definition from Whitaker glossary

[2021-12-01 04:00] irina060981 commented on #340
Yes, It is true - Whitaker short definitions are sticky.
How it works - we get whhitaker's definitions with morphology data in the same request.
And before Paidea we didn't have any ability to select another short definitions dictionary for Latin.

When we get a task to add an ability to see only Paideia definitions - I updated a workflow the following way:
- an application gets morphology + Whita

[2021-12-01 04:06] irina060981 commented on #331
It is because the block language is defined as "la" - shorter variant of "lat", that we used

[2021-12-01 05:48] monzug commented on #331
Thanks. I figured that la is short def of lat. is there a more general way to prevent similar scenarios from happening?

[2021-12-01 05:51] monzug commented on #340
an easy workaround (not pretty, though) is to remove pick one from drop-down. I can have whitaker, I can have paideia glossary, I can have both whitaker and paideia but I cannot choose pick one=no selection. I think this would be a super quick workaround to implement. what do u think?

[2021-12-01 05:59] irina060981 commented on #331
Such problems are from our using two different forms of language inside (I described it in prebious comments here)
I added normalization for language code - it would work for all similiar cases.

Will upload to releases later

[2021-12-01 06:04] irina060981 commented on #340
No, it is not a good solution - because all drop-downs should work similiar way, every exception leads to bigger problems in future.

I decided to do the following way (for better consistency).
An application checks if there are defined no dictionaries for short definitions or chosen not Whitaker - then whitaker definitions would be cleared.

This way all dictionary options work similiar way.

[2021-12-01 06:05] irina060981 commented on #340
Will upload to release later

[2021-12-01 06:45] irina060981 commented on #339
Fixed in new release

[2021-12-01 06:45] #339 closed

[2021-12-01 06:46] irina060981 commented on #331
Fixed

[2021-12-01 06:46] #331 closed

[2021-12-01 06:46] irina060981 commented on #340
Fixed

[2021-12-01 06:46] #340 closed

[2021-12-01 10:43] irina060981 commented on #338
I believe that the main problem - that there is no match here.
If we lookup the following - there would be exact much:
`īmus`
![image](https://user-images.githubusercontent.com/12377640/144219017-f6f49721-35cc-4069-b84e-c3aff4deecde.png)

`iimus`
![image](https://user-images.githubusercontent.com/12377640/144219505-556cc8d5-5b17-4737-a532-8cd8103d5135.png)

what exactly should be highlighted in th

[2021-12-01 11:02] monzug commented on #338
should be the indicative active 1st person plural, same as imus - at least
I was expecting a blue highlighted.

On Wed, Dec 1, 2021 at 11:44 AM Sklyarova Irina ***@***.***>
wrote:

[2021-12-01 11:12] irina060981 commented on #338
As I could see from the code
 - blue highlignting is for suffix match
 - yellow highlighting is for full match

There is no support in the code for suffix match in irregular verbs, so you won't see any blue highlighting in irregular verbs table.
So I could not improve anything here without some global changes for requirements.
Do you have any questions here? Or we could close this issue?

[2021-12-01 11:39] monzug commented on #338
please close. thanks

On Wed, Dec 1, 2021 at 12:12 PM Sklyarova Irina ***@***.***>
wrote:

[2021-12-01 11:41] #338 closed

[2021-12-01 13:08] monzug commented on #340
this is fixed in  Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211201209
Alpheios Components 3.3.3-incr-3.4.x.20211125318 build i331-la-lat-update-lang.20211201494
tested in FF/Mac and PC

[2021-12-01 13:14] monzug commented on #331
tested in FF/PC and Mac. fixed.

[2021-12-01 13:22] monzug opened #341 "Lexical query not found: different result in double-click vs wordlist"
doing regression, so double clicking on several latin worlds. just realized that Accius and Varro from https://www.loebclassics.com/view/accius-by_works/1936/pb_LCL314.593.xml?rskey=p6oWMl&result=3 give a different result than same words from wordlist.
Accius from double click
![Screen Shot 2021-12-01 at 2 13 31 PM](https://user-images.githubusercontent.com/41396793/144241443-abd2f1ea-d665-4570-a0

[2021-12-01 13:53] monzug commented on #339
Fixed. Thanks

[2021-12-01 14:09] monzug commented on #335
Chrome/PC and Mac on Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211201209
Alpheios Components 3.3.3-incr-3.4.x.20211125318 build i331-la-lat-update-lang.20211201494

[2021-12-01 14:10] monzug commented on #325
regression passed in Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211201209
Alpheios Components 3.3.3-incr-3.4.x.20211125318 build i331-la-lat-update-lang.20211201494

[2021-12-02 07:22] irina060981 commented on #324
I examined steps - and the biggest:
  a.  we need to change one technology (background script) to the other (service workers) - I don't have an estimation for this task as I didn't do such work before
  b.  we need to remove direct executing code from Events (like this
    BackgroundProcess.executeScript(tabId, { code: "document.body.dispatchEvent(new Event('Alpheios_Embedded_Check'))" })

it woul

[2021-12-02 07:23] irina060981 commented on #324
If you need to run Auth0 in Content Script or Background

Special thanks to @dhruv2204 for guiding me with this.

Use Manifest V2. Also Use @auth0/auth0-spa-js inside the background page and make the calls there.

The reason for this is because auth0 needs access to the DOM and background service workers (from manifest v3) do not have access to the DOM. Please not that manifest v2 will be deprecat

[2021-12-02 07:43] irina060981 opened #342 "I cannot browse the grammars in both PC and Mac, I get the following error. see below"
![image](https://user-images.githubusercontent.com/12377640/144378923-4360c202-a4df-42e3-a968-2ad929edda91.png)

the problem with several extension attachment on iframe reloads

[2021-12-02 08:28] irina060981 commented on #342
Fixed
- update code to support iframe navigation catch
- update code to listen only for full page load

[2021-12-02 08:55] monzug commented on #342
should I run an other regression test on FF too?

[2021-12-02 09:31] irina060981 commented on #342
All code is the same for Chrome and Firefox.
So all changes here influnces to the same features in Firefox.
So it is worth to test this functionality in Firefox too.

[2021-12-02 09:37] irina060981 opened #344 "Authentication failed in Chrome"
Something is changed in authentication for

![image](https://user-images.githubusercontent.com/12377640/144396033-278db022-579b-465e-a1f9-28b05b01eae4.png)

[2021-12-02 11:27] irina060981 commented on #341
I found the reason.
If you click on `Parergorum` , then results would be the same from double click on page and double click .
![image](https://user-images.githubusercontent.com/12377640/144411707-b687f5a5-14ad-4830-92d9-ee6746a280bc.png)

But as for `Varro` or `Accius` we see difference.
The reason:
`Varro` and `Accius` have full definitions that is ready  after `Lexical query produced no results

[2021-12-02 11:37] monzug commented on #341
I noticed the full definition icon as the only difference between accius and words such as perergorum. I would not take any action at the moment but keep it alive for future releases.

[2021-12-02 11:38] irina060981 commented on #341
ok

[2021-12-02 12:18] monzug commented on #342
test in FF/Mac in
go to https://scaife.perseus.org/reader/urn:cts:latinLit:stoa0045.stoa002.perseus-lat2:1.1-1.5/ and double click on any word: e.g signat. you'll see two pop-up been generated before displaying the morphology pop-up. see below.
also, the close icon (x) to close the pop-up works after few attempts. Note that from lookup or wordlist, I do not have this issue.
![Screen Shot 2021-12-0

[2021-12-02 12:32] monzug commented on #342
it works well in Chrome/Mac.

[2021-12-02 12:56] monzug commented on #342
I retested above issues in FF/PC in previous build and I confirmed that double click on signant does not produce 2 pop-ups before the morphology pop-up is generated, and that the x (close button) works well.

[2021-12-02 13:35] monzug commented on #342
so, if u want to release FF, you should go with previous build.

[2021-12-03 01:27] irina060981 commented on #342
I don't agree - it is from the main upgrade for FF release (move to the other event for removing permissions), if it has bugs in Chrome it could be in FF too, even if you don't see it.
If to be honest I did a big change even if it doesn't seem this way from the outside.

And we should finish with it.
Our extension is still available on Firefox, so we didn't over deadline yet.

So let finish with t

[2021-12-03 05:36] irina060981 commented on #342
ok, I think, I fixed it.

I could describe what is the main problem here.

When we could use big permissions as before , then we could have a simple event - page was reloaded, and attach any check, activation or other actions. And that's why in previous release there were decided to go this way.

Now when we could not use big permissions (and it is good because we don't really need them), we doesn

[2021-12-03 07:12] monzug commented on #342
let's cross fingers. will start soon then.

On Fri, Dec 3, 2021 at 6:38 AM Sklyarova Irina ***@***.***>
wrote:

[2021-12-03 10:01] monzug commented on #342
installed in FF/MAC. just noticed that the scrolling bars of the grammar and the text overlapped in https://www.thelatinlibrary.com/resgestae.html. need more testing

[2021-12-03 10:38] monzug commented on #342
I am not able to replicate the problem of the tools that do not show up on reactivation. really need to find a reproducible scenario.
anyhow on canceling login I get the following errors:
![Screen Shot 2021-12-03 at 11 36 42 AM](https://user-images.githubusercontent.com/41396793/144588791-c7338f8a-dc45-497e-9919-969fab87e1ac.png)

[2021-12-03 10:49] irina060981 commented on #342
Most of published errors are not ours.

And others say that some Auth remote services are not available.

[2021-12-03 10:50] irina060981 commented on #342
And grammar scrolling is not from my code - if it is reproduced - it is from our old code.

[2021-12-03 10:52] irina060981 commented on #342
I tried to log in through Firefox - and could do it without any errors

![image](https://user-images.githubusercontent.com/12377640/144590715-26822c15-20d7-47e4-b907-52ce515f2346.png)

[2021-12-03 10:57] monzug commented on #342
Excellent. glad to hear that. I am more concerned about the tools that not shows up on reactivation.

[2021-12-03 10:59] monzug commented on #342
yes,login works. when you get to the login page and cancel login then you get the errors.

[2021-12-03 11:01] irina060981 commented on #342
I am glad that login works.
I belive that there could be some not clear behaviour - because Auth0 changed somehow.
That's it is important to spend time for authentication for FF and Chrome when we will have time.

[2021-12-03 11:02] irina060981 commented on #342
It is not our error
it is from the site where you are.

If you try on the other site - you won't see this error

[2021-12-03 11:15] monzug commented on #342
found the reproducible scenario of tools not available (latin library and scaife) or toolbar not longer functioning in https://www.tradurreantico.it/latino/grammatica-latina/morfologia/verbo/verbo-eo-latino/
activate tools, browse grammar, reload page. in scaife and latin library the tools are not longer available. turn on and off and on, alpheios toolbar does not show up.

![Screen Shot 2021-12-0

[2021-12-03 11:24] monzug commented on #342
also on loebclassics, on reload tools are not longer available. no error in the browser console.

![Screen Shot 2021-12-03 at 12 23 26 PM](https://user-images.githubusercontent.com/41396793/144594673-6267daf6-9227-4a09-ba81-5f229e47fd5e.png)

[2021-12-03 16:33] monzug commented on #342
to recap:
1) yesterday's build Alpheios Reading Tools 3.4.1 build incr-3.4.x.20211202255Alpheios Components 3.3.3-incr-3.4.x.20211125318 build i331-la-lat-update-lang.20211201494
chrome/PC: latin library, scaife - reload page, Alpheios toolbar does not show up
FF/PC:  scaife: on reload page, tools are generated -   in the latinlibrary, on reload toolbar is there, but browse inflection tables, gram

[2021-12-04 00:19] irina060981 commented on #342
ok - I have no new thoughts how to do this detection the same for Chrome and Firefox.
I would need more time for investigation how to solve this problem on Chrome (to handle with removed permissions).

I am not sure if I have this time - then let's rollback to the release that was successfully tested for Firefox and send it for publishing.

It is very sad that we don't have time to work with it in

[2021-12-04 00:54] irina060981 commented on #342
I returned the condition that we had on verified release.
Do small checking on the following sites:

http://www.thelatinlibrary.com/quintilian/quintilian.institutio9.shtml
https://www.loebclassics.com/view/aelian-characteristics_animals/1958/pb_LCL446.9.xml?rskey=8fxQje&result=2
https://scaife.perseus.org/reader/urn:cts:latinLit:stoa0045.stoa002.perseus-lat2:1.1-1.5/

- double click on the page
-

[2021-12-06 13:27] monzug opened #349 "quaedam: lexical data is loading takes for ever"
for references, see https://github.com/alpheios-project/components/issues/797

double click on quaedam from http://thelatinlibrary.com/cicero/arch.shtml  or lookup for quaedam: lexical data is loading takes for ever. it works fine from wordlist (no definition found) and also in the latest release 3.3.3 (we did not support Latin short definitions in build 3.3.3).
Interesting: if I add the Paideia g

[2022-03-13 16:56] FynnWaelsing opened #350 "Dictionaries only working for some words"
Extension version: 3.3.4
Browser: Chrome Version 99.0.4844.51

The Chrome browser extension seems to not be able to pull up dictionary entries for many Greek words, simply saying "undefined." I've turned on all the available dictionaries in the settings and often get nothing other than the short entry definition. The words that do and do not have definitions does not seem to fit any pattern.

With

[2022-03-13 21:47] balmas commented on #350
Thank you for letting us know.  The servers were down but it should be resolved now.

[2022-03-13 21:47] #350 closed, assigned to nobody

[2022-03-14 16:10] FynnWaelsing commented on #350
Great to hear, thanks!

[2022-05-04 11:39] irina060981 commented on #324
Release without Auth support - https://github.com/alpheios-project/webextension-manifest-v3