[2017-11-17 15:22] balmas opened #1 "design solution for local/remote storage of user experience data"
Per Slack discussion about Experience/Monitor design:  next steps would be to explore how to use the local storage api keep this information around in the browser, with a placeholder hook for sending it to a server at regular intervals

[2017-11-17 15:25] balmas commented on #1
per @kirlat (from Slack) I've just submitted a code to store experiences. I put them to a local storage. I think we should use non-synced local storage for that, as sync storage has too many limitation and probably is best for options, and IndexedDB is too complex with it's transaction-based architecture

Local storage (non-synced) has 5 MB of storage space and, if I remember correctly, 4 KB per i

[2017-11-17 15:43] balmas commented on #1
My feedback so far is mostly things to think about for the longer term, not needing to implemented immediately:

1.The approach to send from local to remote on a predefined interval is a good default. Would probably also like to see activate/deactivate events trigger a send to remote storage as well. Eventually default interval would be configurable in a user-facing UI.

2. I'm unsure if we will a

[2017-11-17 16:08] balmas opened #2 "make alpheios panel location configurable"
to display on right or left side of the screen should be user-configurable

[2017-11-17 16:13] balmas opened #3 "need an embeddable ui component for alpheios results"
While some parts of the Alpheios UI, such as the infleciton table display, are probably best displayed in a panel, we still want the option to produce an embeddable element which can be displayed in the context of the word the user selected. This should be modeled on the Alpheios popup from the old Firefox extension.

[2017-11-17 16:46] kirlat commented on #1
Activate/deactivate event trigger for sending to remote is a great idea. I will implement that.

The reason why experiences are cleared is because a local storage that we are using currently has a quota of around 5 MB (https://developer.chrome.com/extensions/storage#properties). I think we could exceed it easily if will store experiences for some extended periods of time. Then the only solution is

[2017-11-17 16:47] kirlat commented on #2
Great idea! Will implement that.

[2017-11-17 16:49] kirlat commented on #3
Totally agree, will start working on that.

[2017-11-17 17:17] balmas commented on #1
Please do feel free to go ahead and move the experience code to a separate repository now if you are good with that.

[2017-11-17 17:18] balmas commented on #1
re the in-memory object, yes that's probably a good way to go.

[2017-11-17 17:20] balmas commented on #1
I don't want to get too crazy with over-architecting this now, and some or most of this can wait until we actually have some data to store. But it's good to be thinking about these issues at the start so that we don't get boxed into something that requires alot of rework.

[2017-11-17 17:28] balmas opened #4 "Apply Alpheios styles and icons to Extension UI"
we should from the outset make sure we are using mobile-friendly styles, but we want to retain alpheios colors and icons. The original alpheios css can be found at https://github.com/alpheios-project/ff-basic-reader/tree/master/skin
I also need to dig out the old style guide for reference, will keep looking for that.

[2017-11-17 18:15] balmas opened #5 "encapsulate business logic around selection of text"
There is a bunch of business logic around selection of text that should be encapsulated for reuse. An initial rough draft of this ported from the old Alpheios code can be found at https://github.com/alpheios-project/wordsvc/blob/master/src/source_selection.js

We probably also should consider an implementation that is compatible with the W3C annotation model's selector paradigms, in particular Tex

[2017-11-18 13:02] kirlat commented on #4
Are you suggesting to use a Bootstrap framework (http://getbootstrap.com/) for the WebExtension UI? It could be too heavy for what we have right now, and a CSS Grid can replace a Bootstrap grid on many occasions. But from another point Bootstrap is a de-facto standard library for UI work; version 4 is highly modular and with with SCSS and build tools can eliminate features that are not required. H

[2017-11-18 15:51] kirlat commented on #5
Thanks for listing important pieces that are required for the implementation. I'm also thinking that a use of W3C annotation selectors is a great idea.

I think those functions listed should be grouped by their domain. And probably it would make sense to have them even more granular. Language detection, on my opinion, consists of two related parts: HTML document parsing to find any language-relate

[2017-11-19 14:20] balmas commented on #4
I'm not wedded to the idea of Bootstrap, just want us to be able to take advantage of standard css for dealing with multiple media.

Sadly, I don't have the Alpheios icons in vector format. We can have that done though.

Let's talk about all of this on Monday!

[2017-11-19 14:22] balmas commented on #5
Taking advantage of AI is definitely on our roadmap.

Agree that separation of language data and media format makes sense.

[2017-11-20 15:15] balmas commented on #3
So, just to confirm some of the requirements for this discussed today (and maybe a few others)
1. component should be positioned near the user's interaction with the page, i.e. near the word they clicked on
2. it should be moveable and resizable - user should be able to drag it, close it, enlarge it
3. it should include the information from the homonym object, including a short definition, and the

[2017-11-20 15:17] balmas commented on #3
if we can implement this as a component in a library separate from the extension, that would be ideal -- i.e. I would like for it to be able to be reused by a page-embedded library  -- but it's not an absolute requirement at this stage.

[2017-11-20 15:42] balmas commented on #4
Notes from conversation today:

- we may take bits and pieces that we need from bootstrap but for now want to avoid the overhead.
- we agree on using scss via sass where needed
- might want to look at some lightweight alternatives to boostrap: some to consider might be
https://bulma.io or https://purecss.io/
- but there is also no need to use a framework if it doesn't provide value. we can postpon

[2017-11-20 15:42] balmas commented on #4
we should also begin keeping a list of the things we need from a designer, such as specific icons, etc.

[2017-11-27 15:00] balmas opened #6 "Evaluate and apply ui-kit framework for css to alpheios web components"
we want to try to use ui-kit, but we want to be careful about becoming too dependent upon if it it turns out not to be the best approach

[2017-11-27 16:01] balmas commented on #5
Notes from Slack:

I'm not sure it's at all helpful to you at this stage, but the code I was thinking about related to the Text Selectors is here: https://github.com/perseids-project/plokamos/blob/master/src/lib/models/ontologies/OA.js
it created a graph that corresponded to the open annotation data model, the precursor to the w3c model
on the selection side, it looks like we used a model from the

[2017-11-27 22:12] balmas opened #7 "add lexicon lookup feature - short definition"
We want to provide short definitions to the user.

Preconditions
1.  a word is selected and sent to the morphological service for analysis
2. the resulting homonym identifies a lemma and may or may not contain a short definition in the meaning property of its Lexemes.
2a. alternate flow - morphological analysis fails, so full word form as selected by the user is assumed as the Lemma and used to po

[2017-11-27 22:14] balmas opened #8 "add lexicon lookup feature - full definitions"
We want to provide full definitions to the user.

Preconditions:
1. a word is selected and sent to the morphological service for analysis
2. the resulting homonym identifies a lemma and may or may not contain a short definition in the meaning property of its Lexemes.
2a. alternate flow - morphological analysis fails, so full word form as selected by the user is assumed as the Lemma and used to pop

[2017-11-27 23:51] balmas commented on #2
@kirlat I think this is done now, correct? If so, feel free to close.
(One thing I noticed though, which maybe should be fixed first, the left right arrows for expand or collapse don't make as much sense when the panel is on the right side. Either we should reverse what they do (e.g so that the right arrow collapses and the left expands, or use a different paradigm)

[2017-11-28 14:00] balmas commented on #4
see #6 - we agreed to try use of ui-kit as the underlying css framework for this

[2017-12-07 15:58] balmas opened #9 "make "Activate/Deactivate" menu items state-sensitive"
if Alpheios is loaded and active, only Deactivate show be enabled and vice-versa.

[2017-12-11 14:47] balmas opened #11 "component injection fails on page with frames?"
not sure if this is an iframe issue or not, but noticed that the component injection fails on http://repos-archive.alpheios.net/exist/rest/db/xq/alpheios-text.xq?urn=urn:cts:arabicLit:perseus201003.perseus0005.alpheios-text-ara1:2.1

iframes are a likely culprit to me

[2017-12-11 22:16] balmas commented on #11
also a problem on XHTML
e.g. http://sosol.perseids.org/alpheios/app/align-viewsentence.xhtml?doc=align.3298.1&s=1

[2017-12-12 13:27] balmas commented on #4
I think we can close this now. Will enter individual items for specific UI requests.

[2017-12-12 13:27] #4 closed

[2017-12-12 13:28] balmas commented on #2
this is working now.

[2017-12-12 13:28] #2 closed

[2017-12-12 13:28] balmas commented on #6
done.

[2017-12-12 13:28] #6 closed

[2017-12-13 13:42] balmas opened #12 "move morph/lexicon service calls into the content script"
we can use background for caching results and storing state, but serialization/deserialization of data-model  objects for service calls adds too much complexity

[2017-12-13 14:53] balmas opened #14 "use of LexicalData object needs rework"
currently the content script aggregates the word data in a single LexicalData object which is defined in the inflection tables library. We need to rework this. Not all languages will *have* inflection data and so we should have a dependency on language definitions from that library in order to present results from other services.

For the moment, in order to get Persian and Arabic results to displ

[2017-12-13 15:15] balmas opened #15 "add support for alpheios-ignore data attribute"
We need to be able to identify areas of a page on which the alpheios tools should always be deactivated. In v1 of the tools we used an alpheios-ignore class for this.  Should reimplement.

3rd party site publishers can use this to control how Alpheios interacts with their site, and we can use it in our own components (e.g. the inflection tables and should be deactivated)

[2017-12-13 15:34] balmas opened #16 "make the panel more responsive to content"
need to experiment with this a bit, but it would be nice if the panel size adjusted itself for certain content.
For example, with the inflection tables, it might be good for it to expand to show the full table. But maybe it should only do this on hover or some other user action?

[2017-12-13 15:39] balmas commented on #16
as part of this, we might want also to adjust the opacity of the panel slightly so that it's clear that it's an overlay

[2017-12-13 15:54] balmas opened #17 "need to reset background status after page refresh"
After refreshing a page, the content script is no longer loaded in the page but the background script still thinks it is, and the message sending fails

we need to watch page reload events and reinitialize

[2017-12-13 17:30] balmas commented on #5
re point 3 in the list of functional requirements (algorithms for identification of distinct words from within a user selection event):

There is still a need for this. An example html fragment which illustrates one problem:

[code]

In this markup words are identified by spans and css is used to add spaces between them for display. The browser automatically selects all words in the `<p/>` tag whe

[2017-12-13 19:06] balmas commented on #5
additional notes on this: browser handling of getSelection on markup like this
[code]
is a little flaky, at least in Chrome.
if you click on Phaethontisanira, it sents the anchor node as precibus and focus as Phaethontisanira. Same is true if you click on precibus. This makes it hard to use getSelection reliably with this sort of markup.

[2017-12-13 20:05] balmas opened #18 "handle invalid page language code"
A possibly common scenario is the language for an html page being set to 'en' (or other default language of an html authoring tool) even if the content is another language. We could try to handle this by defaulting to the user's preferred alpheios language if the language identified in the page isn't one that we support

[2017-12-14 11:11] kirlat commented on #17
Totally agree, will work on that after other bigger changes

[2017-12-14 11:12] kirlat commented on #18
We definitely need to handle situations like that, will work on the issue

[2017-12-14 11:15] kirlat commented on #16
That is a good idea, I'll do that.

[2017-12-14 11:19] kirlat commented on #15
I'm thinking that maybe a data attribute will be better for that, or we can program both for compatibility and stick with data attributes for all future works. My idea is that classes should be used for styling only  (since we have data attributes now) and data attributes should represent meta data (which this case is, I believe). What do you think?

[2017-12-14 11:24] kirlat commented on #14
Agree. I think we need to have some generic object that would represent language information about a homonym. Should we use a Homonym object and extend it dynamically with some additional properties (i.e. inflections property will hold inflections and so on)? Or shall we create a separate object? What do you think?

[2017-12-14 11:26] kirlat commented on #12
Agree, started to work on that.

[2017-12-14 13:26] balmas commented on #14
I'm not sure. I think extending the Homonym object sounds like a good way to start.

[2017-12-14 13:27] balmas commented on #15
Agree! Updating the title of the item accordingly.

[2017-12-14 13:28] balmas commented on #17
working on this myself now. Will send a PR pretty soon.

[2017-12-16 08:29] kirlat commented on #12
Its all done

[2017-12-18 08:04] kirlat commented on #9
I will work on that.

[2017-12-18 13:35] balmas opened #21 "panel z-index needs to be higher (or user-manageable??)"
We should probably make the z-index of panel higher. The widely-used bootstrap theme I'm using for the alpheios.net web site uses 1030 as the z-index of its nav bar, causing the alpheios panel at z-index of 1000 to hide below it.

(found a little rant on this topic here of https://css-tricks.com/rational-z-index-values/. I looked at what hypothes.is does for their sidepanel and their z-index is a

[2017-12-18 13:39] balmas commented on #17
think this is done for now. will revisit extension state more thoroughly soon though.

[2017-12-18 18:02] balmas commented on #17
reopening and reassigning to @kirlat because the latest state changes may have broken this?

[2017-12-18 18:36] balmas opened #22 "we will need to pull out ui text out of components into i18n files"
we will need to pull out ui text out of components into i18n files

not an urgent priority but maybe something to do when we move components out of the extension into their own library

[2017-12-19 13:34] balmas commented on #17
ok, retested - activation/deactivation state is still correctly being retained. Panel status is not. closing this and opening a new issue for panel status.

[2017-12-19 13:34] #17 closed

[2017-12-19 13:35] balmas opened #23 "retain state of panel (open/closed) across page reloads"
Follow up from #17 - we need to retain and restore the open or closed state of the panel upon page reload in a tab.

[2017-12-19 22:35] balmas opened #24 "popup is interfering with text selection"
if you try to select another word with the modal popup open, the double click event operates on text in the modal (even if the browser highlights the actually clicked text, what gets sent to the event is the text in the modal)

[2017-12-20 11:07] kirlat commented on #23
The latest commit should probably fix the issue.

[2017-12-22 15:57] #14 closed

[2017-12-22 15:58] #12 closed

[2017-12-22 15:59] balmas commented on #8
this is working now.

[2017-12-22 15:59] #8 closed

[2017-12-22 16:00] #7 closed

[2017-12-22 16:27] kirlat commented on #21
I've added a function that iterates over all HTML elements on the page and finds the one with the highest z-index. Then this index plus one is assigned as a z-index value of a panel. If max possible numeric value is used anywhere on a page (Number.POSITIVE_INFINITY), then it will not be increased by one and will be assigned to the panel without any modification. However, the fact that the panel wa

[2018-01-01 18:39] balmas opened #26 "update style build to use sass for vue component styles"
need to update the style build task to apply sass rules to styles defined in vue templates

[2018-01-02 18:09] balmas opened #28 "LexicalQuery instantiating separate instances of the lexicon client?"
Haven't fully debugged this yet, but I think with the switch to use of the lexical-query class for lexicon lookups we might have introduced a performance degradation. current design of the lexicon client is to parse the indexes and id files (which it retrieves from a remote server, currently github but eventually the lexicon service) with the first lookup request only and then to reuse this for su

[2018-01-04 12:55] kirlat commented on #26
c2f49cdb239fb9c016a1ce87d65782e849d3f441 should add this feature.

[2018-01-04 13:00] kirlat commented on #28
Thanks for the information, I will look into that too.

[2018-01-04 16:16] kirlat commented on #28
I think this might have been fixed with alpheios-project/lexicon-client@6e125f0348ca970c6ec10aab167d9b62af0da253

[2018-01-05 01:37] balmas opened #29 "prevent page styles from affecting the alpheios vue component styles"
We probably need to be explicit about as much as possible in the styles on the parent elements.
issues noticed so far:
- some of the css for the vue components (such as the uikit buttons) use relative font-sizes and it results in the button text on the popup being really small (e.g. try on http://texts.alpheios.net/text/urn:cts:greekLit:tlg0085.tlg005.alpheios-text-grc1/passage/1-30)
- text direct

[2018-01-05 15:10] balmas opened #30 "Add language to ui"
Not sure exactly where/how to do this, but we should show the user the language the tools identified for a word selection so that errors due to language mismatch are easier to identify.

[2018-01-05 15:47] balmas opened #31 "deactivate should close the panel"
deactivating the tools should also close the panel

[2018-01-06 11:49] kirlat commented on #22
Since we are probably interested in localizing messages that are shown via UI only, and all of the UI is implemented with Vue, I think it will be best to use a Vue localization plugin for that. The main benefit would be reactivity: UI will be updated automatically after a locale is changed.

Browser extension localization API (https://developer.mozilla.org/en-US/Add-ons/WebExtensions/International

[2018-01-06 12:21] kirlat commented on #31
This should be fixed with 289a7fe0e27b9e53ef212ad2da99c31c8bcd3856

[2018-01-06 12:22] kirlat commented on #30
I think this is a great idea

[2018-01-06 13:50] balmas commented on #31
thank you!

[2018-01-06 14:34] kirlat commented on #29
UIKit uses rem sizing for many of its text elements. rem sizes are related to a font size of a page root element, `html`.

There are two types of scaling in modern browsers:
* zoom (the most widely used one). It scales everything proportionally, no matter what units are used: pixels, ems, rems. For such zooming, a choice of size units does not make any difference.
* default font size zooming. Thes

[2018-01-08 10:39] kirlat commented on #29
Text direction should be fixed with 7b1499b5b686c72d698b47d3090fc654975f5669.

[2018-01-08 13:01] balmas commented on #29
Thank you for this analysis! I think you're right that to be foolproof with other pages we have to used fixed pixel sizes. It may be that we have 2 base stylesheets for the vue components - one for use in the extensions where we can't control base page styles, and one for use in libraries where we can.

[2018-01-08 13:37] balmas commented on #23
this is fixed.

[2018-01-08 13:37] #23 closed

[2018-01-08 13:38] balmas commented on #3
this is in place now.

[2018-01-08 13:38] #3 closed

[2018-01-08 13:38] #21 closed

[2018-01-08 13:42] balmas commented on #9
this is working. one thing that's a little confusing is that the context menu options show as a submenu of an "alpheios reading tools" menu item when there are more than one (e.g. deactivate and open panel) and directly in the menu when there is only one.  I think it might be better to always have them in a submenu. What do you think @kirlat ?

[2018-01-08 13:43] #31 closed

[2018-01-08 13:47] #28 closed

[2018-01-08 13:48] #26 closed

[2018-01-08 13:50] balmas commented on #24
fixed with the new popup.

[2018-01-08 13:50] #24 closed

[2018-01-08 13:52] balmas commented on #22
this is great info. let's discuss.

[2018-01-08 17:17] kirlat commented on #29
I like the idea with two stylesheets. Will try to create a solutions that will work reliable on different pages.

[2018-01-08 20:26] balmas commented on #30
per discussion today, we may need to experiment a bit with what works best here. Something unobtrusive when we get results, versus something a little more obvious when we don't get results. I.e. if everything is working, they don't really need to see what language is chosen because it will be the right one, but if we don't get results, it should be more prominent and give them an easy way to chang

[2018-01-08 20:45] balmas commented on #22
Ok some basic requirements:

1. Separation of text and translations from code
2. Works with Vue components but also could be fairly easily ported to other frameworks if need be
3. Need to be able to localize messages and data as well as the UI elements. If we can use the same solution for all of these great, but if not, then we should use what is best for each.
4. dynamic locale switching
5. suppo

[2018-01-08 20:52] balmas commented on #18
related to #30

[2018-01-09 17:12] balmas opened #32 "webpack use of eval causes warning for firefox extension"
See https://github.com/webpack/webpack/issues/5627

[2018-01-09 17:22] balmas opened #33 "Vue js use of Function causes warnings for Firefox"
Vue.js uses Function which is a form of eval and generates warnings in the Firefox extension validation process.

[2018-01-09 17:46] balmas opened #34 "interact.js causes warning for Firefox linter"
The firefox web-ext linter doesn't like the interact.js. use of a global:

UNEXPECTED_GLOGAL_ARG
Unexpected global passed as an argument   Passing a global as an argument is not recommended. Please make this a var instead.

Occurs at the embedded interact.js code:
[code]

[2018-01-09 17:51] balmas opened #35 "Vue.js assignment to innerHTML produces warning for Firefox linter"
Reported error:

UNSAFE_VAR_ASSIGNMENT
Unsafe assignment to innerHTML
Due to both security and performance concerns, this may not be set using dynamic values which have not been adequately sanitized. This can lead to security issues or fairly serious performance degradation

It occurs in the Vue.js he.decode function

[2018-01-09 17:54] balmas opened #36 "sanitize Template before assignment to outerHTML"
In ContentUIController we set the outerHTML of the alpheios popup div to the imported Template variable. Firefox web-ext lint warns this is an unsafe var assignment ("Due to both security and performance concerns, this may not be set using dynamic values which have not been adequately sanitized. This can lead to security issues or fairly serious performance degradation.)

Think we can probably dea

[2018-01-09 17:57] balmas opened #37 "UIKit use of Function and assignment to innerHTML causes warnings for Firefox"
Same as with Vue, UIKit uses Function and assignment to innerHTML causing warnings for the Firefox webext linter

[2018-01-15 13:09] balmas commented on #5
I'm closing this for now. We can open new items for specific improvements to the selection business logic as needs surface.

[2018-01-15 13:09] #5 closed

[2018-01-15 14:56] balmas opened #39 "Alpha Release Checklist"
- [x] Latin Inflection Tables: Remove prototype flex grid table pieces (Kirill)
 - [x] Latin Inflection Tables: Link Footnotes (Kirill) (https://github.com/alpheios-project/inflection-tables/issues/12)
 - [x] Latin Inflection Tables: clean up display (verbs table is misaligned)
 - [x] Inflection Tables: Make sure highlighting works (Bridget to review)
 - [x] Lexicons: add choice of lexicon(s) per

[2018-01-15 19:26] balmas commented on #22
@kirlat I like the approach taken in commits 99be95f78ffcb4738a7a976b2b8e0d5bcfeb3064 and 67950628f92a06ed7598e4563571420c3c7ed904 . I think we should go with it for now, and we can begin to move messages over to it after the alpha release.

[2018-01-15 21:20] balmas commented on #30
@kirlat I love the popup header and footer. I also really like the display of the selected text and language at the bottom of the panel and the popup. (I did include a small fix to handle the change event in the popup in #40).

 I'm a little unsure about the message that offers the user the option to change the language. In order for this to work right I think we will need to do a few things:
1. I

[2018-01-16 13:16] kirlat commented on #30
The idea with this language selector was that it would allow us to override language settings for any particular word (text selection). Then this language setting for each word (text selection) would be remembered and used for subsequent queries with the same text.

Thus, we would have three levels of language settings (in order of preference):
1. Language setting override set by user using a per-

[2018-01-16 15:31] balmas commented on #30
Yes, that all makes sense. I am not sure either what level of granularity to offer here. For example, if we are going to remember per word per page choices, it probably makes sense to just remember the full results for that word and page, rather than only the language chosen.

This is definitely something we need user feedback on. For the immediate term (i.e. the alpha release), I would say we sho

[2018-01-16 16:07] kirlat commented on #30
Sounds like a great plan, will work on that.

[2018-01-16 17:46] balmas opened #41 "Build for Firefox for Android"
It seems like we may need to have a separate build of the webextension for Firefox for Android. Many of the apis (such as the context menus) are not available there, and their use causes the extension to fail to load.
For investigation post-alpha release.

[2018-01-18 14:54] #9 closed

[2018-01-18 18:52] balmas opened #43 "revisit behavior of language switcher"
follow on to #30

after the alpha we should revisit the behavior of the language switcher that appears in the popup and panel notifications. Discussion carried forward from that item:

Per @kirlat :
The idea with this language selector was that it would allow us to override language settings for any particular word (text selection). Then this language setting for each word (text selection) would b

[2018-01-18 18:53] balmas commented on #30
closing this. Further work to be carried forward post-alpha via #43

[2018-01-18 18:53] #30 closed

[2018-01-18 21:14] balmas commented on #18
I believe this has been addressed now.

[2018-01-18 21:14] #18 closed

[2018-01-18 21:15] balmas commented on #29
will enter a separate issue for the 2 style sheet build. This will probably be part of a separate project to externalize and distribute the vue components though.

[2018-01-18 21:15] #29 closed

[2018-01-23 02:10] balmas opened #44 "default the grammar to the toc?"
We could probably have the grammar frame default to the grammar toc so that we don't show an empty pane.

[2018-01-24 20:09] #39 closed

[2018-01-24 20:10] balmas opened #45 "resize panel to show full inflection view"
when the user clicks on Inflect from the popup, the view should resize itself to show the entire table if possible.  The version of the table with empty columns and only matching columns is the default now and that's what we want to try to expand the panel to show the entirety of.

[2018-01-24 20:12] balmas opened #46 "inflection styling changes"
Harry would like the inflection cell text contents (except the linked footnotes) to be gray and the footnote popups to be black on white (maybe with the toolbar color as a border)

[2018-01-24 20:13] balmas opened #47 "separate verb permutation views from pofs views in inflection select box"
in the inflection tables

per @abrasax we want the verb permutations to be selectable separate from the views of different parts of speech

[2018-01-24 20:19] balmas opened #48 "highlight higher level grouping rows in inflection tables"
the higher-level grouping rows in the inflection tables need to be highlighted (bold or italic or both)

[2018-01-24 20:21] balmas opened #49 "lexical query order different for Persian"
For Persian we want to lookup defs before morphological data and only proceed to morphological data if we couldn't find definitions without it.
(So we need a loop here, lookup defs, if not found, proceed to original query order)

also, we should skip short defs for Persian and use only full defs and put them in the popup

[2018-01-25 14:08] kirlat commented on #45
The latest commit ae8fcf4f108f4b9b3e48851f2db95a112e581563 addresses this issue. If the panel is not wide enough to fit an inflection table fully, it will expand, but no more than a viewport width.

Since calculation of a table width can be done only when a table and all its parents are visible (otherwise it will be zero), the Panel (which controls an Inflection component visibility when tabs are

[2018-01-25 18:45] balmas commented on #45
this looks great. Thank you!

[2018-01-25 18:45] #45 closed

[2018-01-29 00:02] balmas opened #50 "hide the notifications on the popup"
@abrasax requests that we hide the display of the notifications on the popup

[2018-01-29 00:05] balmas commented on #47
Related to this, @abrasax requests to change the displayed title for all of the different verb permutations say "Verb Conjugation" and to drop the word "verb" from the names displayed in the select box.

[2018-01-29 14:00] #46 closed

[2018-01-29 14:25] balmas opened #51 "experiment with different displays of the logo in the popup"
@abrasax feels the header is too prominent.

Let's experiment with a few different options. Maybe we could move the notifications to the bottom above the status bar and then put the logo in the left on the status bar and the status text on the right?

[2018-01-29 14:25] #50 closed

[2018-01-29 21:57] #44 closed

[2018-01-30 17:40] kirlat commented on #47
The first part should be implemented with f58e980baaf65b94b8d1b10985f114dff90427be.

[2018-01-30 18:14] kirlat commented on #47
Titles should be fixed with b45934e397db17e8563fab4e45f19515d525e1b2.

[2018-01-30 18:39] balmas commented on #51
![image 4](https://user-images.githubusercontent.com/644870/35584421-fdeb6e0a-05c2-11e8-9abf-05c46915a52f.png)

Ok, @kirlat let's go with this one. Thank you!!

[2018-01-30 19:47] #49 closed

[2018-01-31 16:48] kirlat commented on #51
4f59876e76692a0b8396613cd0c525f09a84b9df implements this.

[2018-01-31 17:17] balmas commented on #51
looks fantastic. thank you!

[2018-01-31 17:17] #51 closed

[2018-01-31 17:18] #47 closed

[2018-02-01 01:44] balmas opened #52 "streamline panel display"
@abrasax would like similar streamlining done to the panel as was done in the popup. Reduction of logo and header/footer.

[2018-02-01 14:10] balmas opened #53 "Firefox is sometimes giving empty data from text selection"
the following code is failing because focus.data is null

[code]

[2018-02-02 11:56] kirlat commented on #52
Updated in f1d62a7105a97f21bc77757895636f45049d4167.

I replaced a logo of icon and text with just an icon and that provided enough space to move a selection text and language up, next to it. With this, I think, there is no reason to move an icon logo to the bottom. Grouping everything at top allows to eliminate a bottom area completely, gaining more space.

Mobile users will most likely not be ha

[2018-02-03 00:13] #53 closed

[2018-02-05 16:54] balmas opened #54 "bugginess on extension update"
@abrasax and I both noticed today odd behavior upon extension update in Chrome on a mac. Reloading the page for me solved it, apparently not for Harry.
It may be necessary to listen for chrome.runtime.onUpdateAvailable
See possibly relevant Chrome issue https://bugs.chromium.org/p/chromium/issues/detail?id=682478&q=update%20component%3APlatform%3EExtensions&colspec=ID%20Pri%20M%20Stars%20ReleaseBl

[2018-02-05 19:07] balmas opened #55 "add tooltips to close and reposition icons on the panel"
we should at least use the title attribute. Nice tooltips for all icons is a desiderata for post-alph

[2018-02-05 19:15] balmas opened #56 "If possible, put the version number in Alpheios ui somewhere"
maybe on the info page?

[2018-02-05 19:17] balmas opened #57 "would like small/medium/large font/icon options"
Mark says he would prefer a smaller font/icon sizes be the default. This is likely to be a user preference thing. Maybe we could offer the user 2 or 3 options (small/medium/large)? This applies to both the base text font size (e.g. in the popup and panel) and the icon size.

[2018-02-05 19:18] balmas opened #58 "scrollbars appear unnecessarily in the popup"
sometimes we get a horizontal scroll bar even when there isn't anything to scroll. would be nice to eliminate this.

[2018-02-05 19:19] balmas opened #59 "don't show definition sources by default"
as with the morphology credits, we should show definition sources on demand but not by default.

[2018-02-05 19:22] balmas opened #60 "experiment with different treatments for separating different words and senses in the popup"
Mark suggested using an approach which numbers each distinct entry.  We need to explore few different treatments with different possible scenarios including:

1) when a word produces multiple lemmas
2) when a lemma has multiple definitions

[2018-02-05 19:24] balmas opened #61 "only show language in status bar in verbose mode"
Mark would like us to take the current language out of the status bar. He suggests we have a verbose mode option which would allow us to display it if needed.

[2018-02-05 19:27] balmas opened #62 "remove spaces before parentheses in popup"
remove spaces before parentheses in popup

[2018-02-05 19:27] balmas opened #63 "consider allowing multiple popups"
NOT for the alpha, but for the beta or later we might want to consider enabling the user to have multiple lookups going on at once.

[2018-02-05 19:28] balmas commented on #62
and also eliminate semicolon after pofs if nothing follows it.

[2018-02-05 19:28] balmas opened #64 "make credits link in popup smaller and flush to bottom"
make credits link in popup smaller and flush to bottom

[2018-02-05 19:30] balmas opened #65 "escape key to close popup and panel"
- Click on a link or button in the popup should anchor it (i.e. require click on X to close)
- Click outside the popup should close it
- Escape should close the popup and the panel (in reverse order from which they were opened if both are open)

[2018-02-05 19:31] balmas opened #66 "move the panel icons to panel header"
Mark would prefer to see the panel icons in the header bar of the panel rather than along the side

[2018-02-05 19:31] balmas opened #67 "hide the status messages tab by default"
ok to show in a verbose mode

[2018-02-05 19:32] balmas opened #68 "feature request: ability to click to make a word remembered/favorite"
should be on on the roadmap for the beta

[2018-02-05 19:32] balmas opened #69 "feature request: ability to remember activation preferences per site"
s/b on the roadmap for the beta

[2018-02-05 19:40] balmas opened #70 "popup size refinement requests"
Balancing act with the size of the popup -- ideally we want to expand it to fit the entire contents of the popup and avoiding scrollbars when we can, but we also want to keep it above the fold. Not sure both of these are achievable for all screen resolutions and sizes

[2018-02-06 01:22] #56 closed

[2018-02-06 10:46] kirlat commented on #70
I think it is possible. We are already determining viewport dimensions and checking if a popup fits in. This should be pretty similar.

[2018-02-06 11:03] kirlat commented on #64
I was thinking about it, and I'm wondering if we have any reason to have it as a popup. Maybe we can have it as a collapsible text block, where we would have a little plus or a caret down sign near the "Credits" word that that will expand it downwards showing the full credit text? Something like a "Toggle" element in UIKit by functionality (https://getuikit.com/docs/toggle), but with a different t

[2018-02-06 11:06] kirlat commented on #63
Independent Query objects that we have right now should allow us to do it relatively easily.

[2018-02-06 11:11] kirlat commented on #58
That's probably due to spaces before and after content that increases content's height so that it does not fit a content container. We could probably try to tweak a content height threshold to fix that in an easy way.

[2018-02-06 11:25] kirlat commented on #57
This can be a little tricky as we need to carefully base all font and probably some other element's sizes like spacing and buttons on a base font size (use of "rem" as a base unit might help). And yet we have to avoid any interference with a font sizing set by a host page.

But I think it would be a nice feature to have, and I think this can be done.

I was also thinking if we can add support for

[2018-02-06 12:54] balmas commented on #58
but interestingly, the scrollbars don't seem appear at all in Chrome on the Mac, even when they should.

[2018-02-06 12:58] balmas commented on #54
ok, validated that the listener prevented the update from being applied while the extension was activated.
This would NOT prevent a problem if the user chose to manually apply updates however.  I'm not positive what do about that. Will close this item them and enter another for it.

[2018-02-06 13:11] balmas commented on #64
I agree on the popup point. I think probably the approach to both the morphology credits and the definition sources (#59) needs some work post-alpha.  There is currently a little disconnect between the data model and the ui representation that I glossed over with css and which needs some explanation.

The data behind this is all current represented by the ResourceProviderProxy which can wrap an en

[2018-02-06 13:13] balmas commented on #64
But for the alpha, perhaps we can just combine and dedupe the providers and present them all in a single toggle activated block, and worry about being more precise later. @kirlat what do you think?

[2018-02-06 13:53] balmas opened #71 "gracefully handle manual updates"
#54 should address problems on automatic updates but it would be good to also try to gracefully handle manual extension updates, to avoid problems of the connection between an active content script and the new background script. @kirlat recommends the following be added to an onInstalled listener:

For each content script running there are two parts:
1. A content script itself that is loaded wthin

[2018-02-06 14:03] #52 closed

[2018-02-06 14:56] kirlat commented on #64
I agree that combining all credits would be a good idea for now. We can always switch to showing more detailed and precisely placed credits information later. But if we do it now, I think we risk to delay alpha even more, without any particular necessity (as I see it) for that.

[2018-02-06 22:27] #71 closed

[2018-02-06 22:29] balmas commented on #59
implemented in 5a25aba1a3c4d727be1fb5262b61b72781d02298

[2018-02-06 22:29] #59 closed

[2018-02-06 23:30] balmas opened #72 "getting caught in endless loop in popup dimensions calculations"
If you click on a number of words in fast succession the code gets caught up looping through calculating dimensions of the popup.
I think this was introduced with use of the vue updated hook

[2018-02-06 23:34] balmas commented on #72
Not sure if it's caused by a combination of use of vue updated and the changes I've made to populate popupData.data.providers in 46c37ade1a24a9fd6e5308cd2ae27ec0628776e2

[2018-02-06 23:46] balmas commented on #72
yep, that appears to be it. changing the dom for the providers is sending it into spasms.

[2018-02-07 00:54] balmas commented on #72
@kirlat for the sake of stability of the alpha, I've removed the use of the vue updated event here in favor of a more explicit approach which just updates a counter whenever we update data in the popup, with a watcher on that which sets the contentHeight. Let me know what you think. It's in 8f8d78905f847ba818263567dc41872c4f985b7e

[2018-02-07 00:58] balmas commented on #55
fixed in 4447deaf32aabddb6dfe170c7e8f95286484e422

[2018-02-07 00:58] #55 closed

[2018-02-07 00:59] balmas commented on #64
@kirlat I have an initial implementation of the combined credits and toggle but if you can make it look better I would be very grateful.

[2018-02-07 11:26] kirlat commented on #72
I think your fix should work quite well. I would like to investigate it post-alpha to see what was going on with a `update` callback. We probably don't have enough time to investigate that right now.

[2018-02-07 12:10] kirlat commented on #61
8a252157e3d2730d6d0832a3411b49349e809dbd removed language from the top bar (where selection is) of a popup and a panel. Should that do it?

[2018-02-07 12:19] kirlat commented on #67
Done this with 94e624fa64e9a0aa772b2d0c68fff67ec0c44cbc.

[2018-02-07 12:30] balmas commented on #72
Yes, I agree. Will add this to the issue list in the components repository. Thanks!

[2018-02-07 12:31] #72 closed

[2018-02-07 12:47] balmas commented on #67
Looks good. Made a minor change in 8c21f7e5adb900f35e610f2920cc13810d6ae74b - we do want to show the info panel

[2018-02-07 12:47] #67 closed

[2018-02-07 12:51] balmas commented on #61
yep

[2018-02-07 12:51] #61 closed

[2018-02-07 23:42] balmas opened #73 "popup positioning and sizing issues"
I think the requirements we want to work with are these:

1. Popup should be positioned near the screenX and screenY of the mouse event
2. The bottom of the popup should not be below the viewport
3. The top of the popup should not be above the viewport
4. Minimum size but it should not be larger than the amount of space needed for the header and buttons and a small amount for the text itself. We w

[2018-02-08 02:08] balmas commented on #73
Alternative to max height, which might require too much scrolling for Arabic, is to move the buttons to the top of the popup and not worry about positioning fully within the airport. This is what we did in V1 and what @abrasax is advocating for.

[2018-02-08 11:55] kirlat commented on #73
I think it won't look good if a popup will overflow a viewport. I want to try to make it work without that, and leave an overflow options as a last resort, if you don't mind.

The question about priorities: if a definition is long enough, and we have to increase a popup significantly to accommodate it, would we want to keep a popup near a selection (do not overlap a selection with a popup) and hav

[2018-02-08 12:08] balmas commented on #73
My vote would be for having more space.to show the definition. Not sure if @abrasax agrees.

[2018-02-08 13:17] balmas commented on #58
the lack of scrollbars in the mac is an OS preferences. The latest Mac OS has changed the way scrollbars behave generally. If you set scrollbars to show always on the mac, they will appear in the popup.

[2018-02-08 14:07] abrasax commented on #73
Are we talking about vertical or horizontal space? I care a lot less about
whether the selected word is covered or not than that the ratio of
horizontal and vertical be as appropriate as possible for the text being
displayed.

On Thu, Feb 8, 2018 at 7:08 AM, Bridget Almas <notifications@github.com>
wrote:

[2018-02-09 12:29] balmas commented on #73
Still some instances of too much whitespace going below the fold. Not sure what causes this. Can address post alpha if need be.

<img width="816" alt="screen shot 2018-02-08 at 5 15 32 pm" src="https://user-images.githubusercontent.com/644870/36027824-d7f68bf8-0d6a-11e8-83fc-3ea920dce239.png">

[2018-02-13 19:43] balmas opened #74 "PDF Support"
A user reports that Alpheios is working on PDFs in Firefox but not Chrome.  If Firefox is supporting PDFs natively now, we might want to investigate future options for PDFs in other browsers.

[2018-02-13 19:46] balmas opened #75 "Verify and document supported os versions"
@abrasax requests that we test and document the OS versions we support. Minimum ideally should be the system requirements for the supported browsers:
https://www.mozilla.org/en-US/firefox/58.0.1/system-requirements/
https://support.google.com/chrome/a/answer/7100626?hl=en

Verified so far:
OSX 10.13.3
OSX 10.9
Windows 7
Windows 10
Ubuntu 16.04

[2018-02-14 18:04] balmas opened #76 "Retrieve treebank annotations for a word or sentence"
add ability to retrieve treebank annotations for a word or sentence

[2018-02-14 18:08] balmas commented on #70
closing this as dupe of #73

[2018-02-14 18:08] #70 closed

[2018-02-14 18:08] balmas commented on #73
closing. will open new issues for specific problems with popup size and position.

[2018-02-14 18:08] #73 closed

[2018-02-14 18:09] balmas commented on #64
done.

[2018-02-14 18:09] #64 closed

[2018-02-14 18:12] balmas commented on #37
mozilla approved it with this so not going to bother trying to deal with for now.

[2018-02-14 18:12] #37 closed

[2018-02-14 18:12] balmas commented on #36
mozilla approved it with this so not going to bother trying to deal with for now.

[2018-02-14 18:12] #36 closed

[2018-02-14 18:13] balmas commented on #35
mozilla approved it with this so not going to bother trying to deal with for now.

[2018-02-14 18:13] #35 closed

[2018-02-14 18:13] balmas commented on #34
mozilla approved it with this so not going to bother trying to deal with for now.

[2018-02-14 18:13] #34 closed

[2018-02-14 18:13] balmas commented on #33
mozilla approved it with this so not going to bother trying to deal with for now.

[2018-02-14 18:13] #33 closed

[2018-02-14 18:13] balmas commented on #32
mozilla approved it with this so not going to bother trying to deal with for now.

[2018-02-14 18:13] #32 closed

[2018-02-14 18:14] balmas commented on #16
closing as mostly done. Will add new issues for specific requests.

[2018-02-14 18:14] #16 closed

[2018-02-14 18:50] balmas opened #77 "externalize vue components"
we want to externalize the vue components for reuse. Base repo already created at https://github.com/alpheios-project/components

[2018-02-14 18:53] balmas opened #78 "Consider moving settings to extension options page"
the web extension api allows for specification of an options page for an extension. (see https://developer.chrome.com/extensions/options) We may want to consider moving the items on the options panel to this structure, or some subset of them at least.

We need to separate component-specific options from web extension-specific options and only put those options that are specific to the web extensio

[2018-02-14 19:12] balmas opened #79 "add user feedback widget"
Notes from @kirlat from Slack:

I've checked multiple user feedback solutions, and Doorbell looks promising. Another one I found is freshdesk. They have a feedback widget that is available on a free plan: https://support.freshdesk.com/support/solutions/articles/37690-getting-feedback-from-your-website-with-the-feedback-widget-

However, if all we want is a simple form, we can create our custom sol

[2018-02-14 19:52] balmas opened #80 "Add user accounts"
We should be able to use the Identity API for this https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/identity

This would be a prerequisite to social media sharing features, as well as user learning model, etc.

[2018-02-14 20:51] #62 closed

[2018-02-15 11:25] kirlat commented on #80
I think it would be a great feature to have.

[2018-02-15 11:38] kirlat commented on #78
Options are a standard way to set webextension preferences. I think we should follow this pattern.
However, my concern is that going to webextension options will take much more clicks than just opening a panel with a right-click menu and then switching to its "options" tab. It also presents options in a UI familiar to the user, a UI, that will be used to present all other types of information.

So

[2018-02-15 12:50] balmas opened #81 "clicking outside popup to close"
Split from #65

Request was to have a click outside the popup close it. Possibly this should be disabled if the user clicks on a link in the popup to open the panel, or maybe we need to just detect whether the click is on the panel or not.

[2018-02-15 12:51] balmas commented on #65
2db97db adds support for escape key to close. Clickout outside has been moved to #81

[2018-02-15 12:51] #65 closed

[2018-02-15 19:49] balmas opened #82 "move grammar not found notice back to top of the panel"
when we moved the provider for the grammar to the bottom of the panel, that caused the not found message also to display there because we overloaded the provider to display that. Use a real notification message instead and have it display at the top of the panel

[2018-02-15 20:53] balmas commented on #22
this is done for the ui text and messages. Will need to decide upon and implement a solution for the data and data providers still.

[2018-02-15 20:53] #22 closed

[2018-02-16 16:37] balmas commented on #79
After spending a little time looking at the doorbell.io widget and API, I'm inclined to agree we might just want to go with our own solution using the GitHub API.  If we went with a solution like doorbell.io I think we would need to make our own widget anyway, so as long as we're going write a widget talking to an API, we might as well just use GitHub directly. We are pretty likely to want to inte

[2018-03-01 13:47] balmas opened #84 "improve embedded library detection"
from #83

improvements to be made in extension detection:

- disabling the extension for an embedded library currently relies on use of a standard id, alpheios-main, on an element configuring the embedded library in the page. I'd like to find a better way to do this. The extension doesn't have access to the javascript of the browser page so we can't check for it in the window object. It is possibl

[2018-03-02 15:50] #84 closed

[2018-03-02 15:51] balmas commented on #84
@kirlat would like your thoughts on this. It took awhile to get it working. Do you see any flaws?

[2018-03-02 19:12] balmas opened #85 "add option to suppress panel opening upon activation"
requested by @abrasax : we should give the user an option to not open the panel by default each time the extension is activated.

[2018-03-07 17:19] balmas commented on #82
moved to components repository

[2018-03-07 17:19] #82 closed

[2018-03-07 17:20] balmas commented on #79
moved to components repository.

[2018-03-07 17:20] #79 closed

[2018-03-07 17:20] balmas commented on #77
this is now done.

[2018-03-07 17:20] #77 closed

[2018-03-07 17:21] balmas commented on #66
moved to components repository.

[2018-03-07 17:21] #66 closed

[2018-03-07 17:22] balmas commented on #60
moved to components repository.

[2018-03-07 17:22] #60 closed

[2018-03-07 17:28] balmas commented on #11
moved to components repository.

[2018-03-07 17:28] #11 closed

[2018-03-07 17:29] balmas opened #86 "cleanup console logs"
we currently write lots of information to the browser console. We should probably restrict this verbose mode.

[2018-03-07 17:32] balmas commented on #15
moved to components repository.

[2018-03-07 17:32] #15 closed

[2018-03-07 17:35] balmas commented on #43
Closing this. Will reopen in components if user feedback indicates a need.

[2018-03-07 17:35] #43 closed

[2018-03-07 17:36] balmas commented on #57
moved to components.

[2018-03-07 17:36] #57 closed

[2018-03-07 17:38] balmas commented on #58
moved to components repository.

[2018-03-07 17:38] #58 closed

[2018-03-07 17:40] balmas commented on #68
moved to components repository.

[2018-03-07 17:40] #68 closed

[2018-03-07 17:41] balmas commented on #63
moved to components repository.

[2018-03-07 17:41] #63 closed

[2018-05-10 18:31] balmas opened #89 "reflect activated status in toolbar icon"
requested by @abrasax
when the alpheios extension is activated the toolbar icon should change to reflect that
(not sure exactly what that should look like though)

[2018-05-10 18:33] balmas commented on #85
alternatively (either instead of this or in addition): upon first activation show plan but allow clicking anywhere or moving the mouse  to close it.

[2018-05-23 11:45] balmas opened #90 "add skin applying important! instruction to alpheios styles"
with the addition of font-size/color skins to the components the !important instruction which prevented page level styles from overriding the component styles was removed.

This is needed for the webextension, which has to work on pages that we cannot control.  But now that we have support for skins perhaps it should be done here in the extension rather than the components.

[2018-06-08 19:36] #76 closed

[2018-06-13 18:22] balmas opened #91 "use node-build"
update to use the node-build structure

[2018-06-15 14:06] balmas opened #93 "don't update ui controller state"
With https://github.com/alpheios-project/components/commit/08ec8733d1d0f6fcc9362fb55783fefeb3895fe4 for https://github.com/alpheios-project/components/issues/109 and https://github.com/alpheios-project/components/issues/102, we no longer should call uiControlller.updateLanguage from the text selection event handler in the webextension code

[2018-06-15 19:04] balmas commented on #90
closing for now because it should be addressed by alpheios-project/components#115. We probably still want to add webextension skins at some point but there isn't a clear need at the moment.

[2018-06-15 19:04] #90 closed

[2018-06-17 13:31] irina060981 commented on #86
Created branch in lexicons - https://github.com/alpheios-project/lexicon-client/tree/comp-%2316
Created branch in inflection-tables - https://github.com/alpheios-project/inflection-tables/tree/comp-%2316
Created branch in components - https://github.com/alpheios-project/components/tree/issue%2316

[2018-06-19 12:32] irina060981 commented on #81
Solution in component repo -
https://github.com/alpheios-project/components/pull/119

[2018-06-19 12:33] irina060981 commented on #85
1) Solution for closing panel on outside click
in component repo - alpheios-project/components#119

[2018-06-19 19:30] #91 closed

[2018-06-19 20:05] balmas commented on #89
Ah, just realized a problem with this. The activation status is tab-specific. So we probably need to have a tab change handler that updates the icon according to the activation status of the current tab. We do already store state per tab, but it's an inverse check -- i.e. the user accesses an alpheios feature (or the context menu) and we adjust according to tab state when the access. In the case o

[2018-06-20 04:30] irina060981 commented on #89
Added changing browser Icon to all menuItems change status (activate/deactivate).
Now browser icon reflect status depends on a tab status of activation.

But if we open two windows for firefox - then they will have the same activation status and activate/deactivate will reflect for both synchronously.

Should I go deeper and search for the solution to completely separate activation status not only

[2018-06-20 04:57] irina060981 commented on #93
Removed
https://github.com/alpheios-project/webextension/pull/96

[2018-06-20 11:57] balmas commented on #89
Ah that's interesting. Tab ids are not unique across windows in Firefox? If so, then this is a bigger question than just the activation status since we rely on tab ids for other aspects of application state. Could you enter a separate issue for that? I think it's something we want to consider as part of the state refactoring. Thanks!

[2018-06-20 12:17] irina060981 commented on #89
Merged

[2018-06-20 12:25] irina060981 opened #98 "Different windows in Firefox has the same ID"
While solving the issue
https://github.com/alpheios-project/webextension/issues/89

I have found out that diffrent tabs inside one window have it own activation.

But if we open two windows for firefox - then they will have the same activation status and activate/deactivate will reflect for both synchronously.

![image](https://user-images.githubusercontent.com/12377640/41657955-51765718-74d8-11e8

[2018-06-20 12:41] irina060981 commented on #93
Merged and closed

[2018-06-20 12:41] #93 closed

[2018-06-22 12:21] irina060981 commented on #85
Merged

[2018-06-22 12:21] #85 closed

[2018-06-26 00:49] irina060981 commented on #81
merged and closed

[2018-06-26 00:49] #81 closed

[2018-06-27 16:34] balmas opened #99 "Use custom pointer events"
Per https://github.com/alpheios-project/components/issues/17 we need to switch the Webextension to using the components custom pointer events

[2018-07-03 11:21] kirlat commented on #99
Should be fixed by 4e1802a9191d982871069cbd3c199cba0396f07b

[2018-07-03 14:49] #99 closed

[2018-07-19 11:21] balmas commented on #98
@irina060981 can you look into whether there is a window id available from the webextension api that we could use in combination with the tab id to make sure we have unique state per window and tab?

[2018-07-20 08:01] irina060981 commented on #98
Ok, Bridget, here are my results:

1) when we use **browser.tabs.onActivated** in **BackgroundProcess.initialize** - it has argument **info** passed to **BackgroundProcess.tabActivationListener**
    this argument is an object with two values - tabId (that we currently use) and windowId
   for example from my debug

![image](https://user-images.githubusercontent.com/12377640/42990587-682c4a14-8c46

[2018-07-20 13:36] balmas commented on #98
ok, so I think we need to use windowId in combination with the tabId wherever we currently use tabId.  Maybe we could have a method createTabId which takes the details object from the event and constructs our internal tabId as a combination of the window and tab id?

Another, more complicated option would be to have a parent windows property on the BackgroundProcess object, and then to manage the

[2018-07-20 17:54] kirlat commented on #98
This is interesting:

What does it do if a new window already has the same tab ID? Does it change a tab ID so it be unique? (but this might be hard to test)

Is it possible for you to test it in Chrome? How does it behave there? If we change that, I'd better come up with solution that will work cross-browser.

I think maybe we can make tab an object with two props (tabID and windowID, and maybe br

[2018-07-21 07:01] irina060981 commented on #98
I have tried these scenario in both browsers (chrome and firefox)

**1) add one tab**
Chrome
![chrome - 1 new tab1](https://user-images.githubusercontent.com/12377640/43033105-5c5b543e-8d07-11e8-96ce-61570763c851.PNG)
Firefox
![firefox - 1 new tab1](https://user-images.githubusercontent.com/12377640/43033107-60757a54-8d07-11e8-8e53-7e9b0d707aca.PNG)

**2) add another tab**
Chrome
![chrome - 2 new

[2018-07-21 07:11] irina060981 commented on #98
**Second Scenario**

**1) add one tab**
Chrome
![image](https://user-images.githubusercontent.com/12377640/43033149-5c7ab7e2-8d08-11e8-9eab-63ca1c8a5578.png)
Firefox
![image](https://user-images.githubusercontent.com/12377640/43033151-6a2281cc-8d08-11e8-9551-91a9a038ac98.png)

**2) open another tab**
Chrome
![image](https://user-images.githubusercontent.com/12377640/43033165-92807c82-8d08-11e8-86b

[2018-07-21 07:16] irina060981 commented on #98
And I could see some points:

1) every new tab has a new ID - and it doesn't change when we move it to a window
2) every tab has a windowID - and it changes from attaching to a window
3) the behaviour is the same in firefox and chrome

[2018-07-23 11:42] balmas commented on #98
I like the suggestion of creating a tab object with properties for tabId and windowId and a compare method.

[2018-07-23 13:34] balmas commented on #98
Per discussion today, Irina will make this change.

[2018-07-28 10:43] irina060981 commented on #98
Created changes - https://github.com/alpheios-project/webextension/pull/102

[2018-08-02 18:30] jonathanrobie opened #103 "Spelling Variants - Edit the word that is being looked up?"
First off, kudos for the new web extension, I am very happy to see this continued development.

I have tried using it with texts that have minor spelling variations, including papyri, and it often misses words due to minor spelling variants.  For instance, κενεμβατεύω was not found, but κενεμβατέω is easily found.

A proficient reader can often identify words that are similar, so it would be helpf

[2018-08-03 02:56] irina060981 commented on #98
Merged and closed

[2018-08-03 02:56] #98 closed

[2018-08-03 11:26] balmas commented on #103
Thanks for these suggestions! In the next release you will be able to enter a word for lookup.  For future releases we are considering using the Logeion API to show words similar in spelling. I'll consider this a vote for that feature :-)

[2018-08-15 15:51] balmas opened #104 "can't be reactivated after page reload on Chrome"
@monzug reports that with the issue-inflections-59 build after page reload it's no longer possible to activate Alpheios in Chrome. It still works fine in Firefox.

I suspect this might have been introduced by #102

Assigning to @irina060981 to investigate.

[2018-08-18 13:04] monzug opened #105 "to retest in the next build: grammar is sticky to last viewed section"
the grammar does not refresh in this situation: lookup for melior, click on adjective, scroll grammar to a different section, then close and go back to lookup and click on 1st declension, it will show the last viewed section of grammar, not the 1st declension. this is reproducible on firefox, not chrome.  will keep an eye on this one and retest on next build.

[2018-08-21 05:08] irina060981 commented on #104
@balmas, I have made an investigation and find out that when Chrome returns callback for `browser.webNavigation.onCompleted` it doen't have windowId, so the page couldn't be correctly reloaded (and it is not correctly unloaded because it has previously loaded content)

As for Firefox - it has windowId in a callback for `browser.webNavigation.onCompleted`

[2018-08-22 09:50] monzug opened #106 "Question: Firefox misteriously uninstall on its own"
Hi guys,
need help on this one. it might be some setting that I am not aware of.  it did happen at least 3 times. on firefox  I found the webextension gone and I had to reinstall it, usually after few hours of not using it. any idea?
Thanks
version 2.0.2.2

[2018-08-22 11:01] irina060981 commented on #106
Hello, Monica!

The problem with disappearing a web-extension connected with that fact, that it is not signed by mozilla and considered to be malicious. And Mozilla trys to support a better security.

There are two ways (from my knowledge may be Bridget or Kirill knows better) for installing webextension:

1) simply using **about:debugging**
![image](https://user-images.githubusercontent.com/12377

[2018-08-22 12:54] monzug commented on #106
Irina, Thanks so much. I thought there was a timer issue. glad there is a workaround!

[2018-08-22 13:12] irina060981 commented on #106
Great :)

[2018-08-22 14:05] balmas commented on #106
@irina060981 would you mind adding these instructions and explanation to the developer documentation in https://github.com/alpheios-project/documentation/tree/master/development ?

[2018-08-23 00:41] irina060981 commented on #106
Ready - https://github.com/alpheios-project/documentation/blob/master/development/install_webextension_firefox.md

[2018-08-23 00:41] #106 closed

[2018-08-27 14:00] irina060981 commented on #104
I suggest such a variant
https://github.com/alpheios-project/webextension/pull/108

[2018-08-27 14:04] irina060981 commented on #104
Merged and closed

[2018-08-27 15:47] monzug commented on #104
thanks. I can't wait to see this been fixed

On Mon, Aug 27, 2018 at 10:23 AM, Bridget Almas <notifications@github.com>
wrote:

[2018-08-27 16:59] monzug commented on #105
it might be related to issue #168

[2018-08-28 16:58] balmas commented on #104
@monzug this can now be tested in https://github.com/alpheios-project/webextension/tree/qa-2.0.3-3

[2018-08-31 07:26] monzug commented on #104
it works on firefox and chrome, except for the text.html (the Multilanguage file provided by Bridget). in both browser, after reloading the page the extension is on but does not work (no double-clicking, no panel on). if I reload the page, the extension does not activate at all.

[2018-08-31 09:29] irina060981 commented on #104
@monzug, Monica, could you send me this `text.html` file? I will check - what is the problem with it?

[2018-08-31 09:33] monzug commented on #104
sure.

On Fri, Aug 31, 2018 at 5:29 AM, Склярова Ирина <notifications@github.com>
wrote:

[2018-08-31 10:00] irina060981 commented on #104
Monika, I guess what could be a problem - I didn't test it with the local file - I tried right now and see - that it is reactivating on reload, but icon looks like as disabled and context menu doesn't work.
But double click on the word still works after reloading - I will check what is the problem with icon and menu.

[2018-08-31 10:41] monzug commented on #104
Irina, Thanks. I will get back to you on this as I need more testing. these
are the two scenarios that I have to test: 1) new build installed with
different pages already open.  2) new build installed and then open new
pages.
to be tested in chrome and firefox - check if  webextension works after
installation and then on reload.

On Fri, Aug 31, 2018 at 6:00 AM, Склярова Ирина <notifications@githu

[2018-08-31 12:49] balmas commented on #104
NB I have always seen problems with local files and installation. I haven't focused on it because I don't expect the browser to always behave properly with local files.

[2018-08-31 12:56] irina060981 commented on #104
I have already spent some time for investigating - it looses Active status  at some moment with the message from content-process. But it appears to be not such an easy issue - I could work on it next week.

[2018-08-31 13:15] balmas commented on #104
@monzug if the only problem is with a local file, and with remotely served files it works fine, I'm inclined to let that go. Do you agree?

[2018-08-31 13:53] monzug commented on #104
let me finish testing the scenarios as said above and get back to you. I am
ok if it's only local files.

On Fri, Aug 31, 2018 at 9:15 AM, Bridget Almas <notifications@github.com>
wrote:

[2018-08-31 14:34] monzug commented on #104
tested on Firefox
1) installed build then open several sites (not local files)  webextension
works fine
2) have the same sites open, uninstall the build and clear data. reinstall
the build. click on activate, nothing happens. to have the lookup working I
need to reload the pages. after reloading, the info panel is also loading.

On Fri, Aug 31, 2018 at 9:52 AM, Monica Zugan <monzug@gmail.com> wrot

[2018-08-31 14:56] monzug commented on #104
in Chrome, it works as in Firefox.
question: is it ok that I need to reload the page after installing a build,
to have the extension working?

On Fri, Aug 31, 2018 at 10:34 AM, Monica Zugan <monzug@gmail.com> wrote:

[2018-08-31 15:12] balmas commented on #104
The way it worked before is that after a build was installed, the page was triggered to reload itself. If that isn't happening, then something isn't quite right still.
@irina060981 , the place to check is the handleOnInstalled handler in the background-process.js. It should be triggering an Alpheios_Reload event to the page, maybe the tab id is not correct here?

[2018-09-01 08:10] monzug commented on #105
it does still happen in the latest build 2.0.2.3

[2018-09-03 04:10] irina060981 commented on #104
Hello, Bridget and Monika!

I have made an investigation and the problem appears here:
[code]
The content script stops to catch events after the extension was reloaded. (without any error).
Tab id is passing correctly and doesn't need any wondow id for that.
I tried to change the code to something that manipulate the style of the tab, makes reloading - everything ends with success (so there are no

[2018-09-04 21:02] balmas commented on #104
I will take a look at this tomorrow.

[2018-09-04 23:30] balmas commented on #104
Ah, interesting. It seems to me this works the way it should in Chrome (i.e. any page with Alpheios activated on it catches the event and reloads itself when the extension is updated). But it seems not to work right in Firefox.  Will continue investigating that.

[2018-09-05 21:03] balmas commented on #104
this one has me stumped. It does seem that in Firefox, once the extension has been reloaded, all of the event handlers embedded in the document by the content script are lost. I am not sure there is much we can do about this, and it's pretty much an edge case that we can document.

@monzug if you agree, I think we can close this now.

[2018-09-06 12:33] balmas commented on #105
will take this one to investigate

[2018-09-06 13:04] balmas commented on #105
hmm. can't reproduce.

[2018-09-06 19:34] balmas opened #110 "on Firefox, extension is deactivated when navigating in grammar"
Copied from https://github.com/alpheios-project/inflection-tables/issues/141

have grammar open on any section on Firefox, reload the page not the
extension, grammar panel is generated. scroll down to any other section,
the extension icon turns grey. if you move away from grammar, the
functionality is there.

tested in Chrome and this does not happen. reinstall the new build in
firefox and confirm

[2018-09-07 11:29] #110 closed

[2018-09-10 13:48] monzug commented on #105
tested in build 2.0.3.4 in Firefox. grammar is sticky.
e.g. lookup for  'mare'  and click on noun. it will take to the noun section of the grammar. close the grammar then click on 3rd declension, it will go again to the noun section of the grammar. close grammar, click on adjective, it will open the noun section of the grammar again. note that switching from noun (or 2nd declension) and case (dat,

[2018-09-10 17:34] balmas commented on #105
ok, thanks that helps. I am able to reproduce now. Will investigate.

[2018-09-10 18:12] monzug commented on #105
all I can say is that I haven't seen it in some builds and I have seen in
others...

On Mon, Sep 10, 2018 at 1:34 PM, Bridget Almas <notifications@github.com>
wrote:

[2018-09-10 18:17] balmas commented on #105
it seems it may be caused by a security restriction Firefox imposes on the iframe content which prevents it from navigating to anchor tags within the same document. I'm not sure if that fully explains it because I would expect it to behave the same regardless of whether you close the panel in between requests.  Experimenting now to see if there is an easy solution.

[2018-09-10 19:15] monzug commented on #105
fascinating, right?

On Mon, Sep 10, 2018 at 2:17 PM, Bridget Almas <notifications@github.com>
wrote:

[2018-09-10 19:16] balmas commented on #105
ok, think I found a solution for this in https://github.com/alpheios-project/res-client/issues/2 Will give you a build soon.

[2018-09-10 19:16] #105 closed

[2018-09-11 12:57] balmas commented on #105
Ready for testing in https://github.com/alpheios-project/webextension/tree/qa-2.0.3-5

[2018-09-11 12:58] balmas commented on #110
Ready for testing in https://github.com/alpheios-project/webextension/tree/qa-2.0.3-5

[2018-09-12 12:27] monzug opened #113 "pop-up not cleared after deactivating webextension"
tested in Chrome. latest build 2.0.3-5
remove the webextension and clear data, the look-up pop-up is still open.
the site is  http://www.poesialatina.it/_ns/Greek/testi/Homerus/Odyssea01.htm
![pop-up](https://user-images.githubusercontent.com/41396793/45424527-c56c6400-b664-11e8-8802-c5a5a57e57d8.JPG)

More, webextension still works (I can double click a word and pop-up is generated) after been re

[2018-09-12 12:35] balmas commented on #113
Ah, that's interesting. We never added a listener on extension removal. It should only continue to work while the current page is still open. If you navigate to a new page does it keep working? A new tab definitely should not.

I think this is not a new issue and could probably wait until the next release. Do you agree @monzug ?

[2018-09-12 12:43] monzug commented on #110
testes on Firefox, latest build 2.0.4-5
the webextension does still toggle between on/off when going to any section of the grammar. it's so fast that you can barely notice it. I would say it's a go. Bridget?

[2018-09-12 12:59] monzug commented on #113
the functionality is gone only after reloading the page.
yes, it can wait

[2018-09-12 13:11] monzug opened #114 "Pop-up is not draggable in one site"
tested in Firefox on build 2.0.3-5
Usually I move the pop-up so I can see inflection tables and morphology. when I drag the pop-up somewhere, it does disappear on this site
https://it.wikiversity.org/wiki/I_verbi_particolari_latini_(superiori)#Eo,_is,_ivi_/_ii,_ire_(Andare)

[2018-09-12 13:31] monzug commented on #114
in an other case. if I drag the pop-up then it goes all the way behind the browser navigation and sticks there. the only option for me is to reload the page. this is in
http://www.poesialatina.it/_ns/Greek/testi/Homerus/Odyssea01.htm

[2018-09-12 14:07] balmas commented on #114
something about the HTML or CSS of these pages is causing the interact.js library we use for dragging to calculate the clientY of the onMove event incorrectly (e.g. -869.5)

@kirlat maybe we should add safety here to make sure the coordinates produced by the onMove event aren't off screen?

[2018-09-12 14:08] balmas commented on #114
(NB this doesn't seem to be specific to Firefox. It also happens in Chrome)

[2018-09-12 15:20] monzug commented on #114
I did install the build only in Firefox when tested this issue. I can confirm that it's also in Chrome. Thanks Bridget!

[2018-09-12 15:59] monzug opened #115 "activation after new build 2.0.3-5 installed"
in Chrome:
after installing the latest build 2.0.3-5, the info panel is generated in most of the sites. Only in the following sites, after activating the webextension I need to reload to have the functionality
1) https://www.lexilogos.com/english/greek_ancient_dictionary.htm
2) http://www.atuttascuola.it/siti/zacco/seconda/verbi_composti_e_irregolari.htm
3) https://it.wikibooks.org/wiki/Greco_anti

[2018-09-12 18:20] balmas commented on #115
This is odd. One possibility is if these pages are taking a long time to fully load, or if they have broken javascript themselves, the Alpheios functionality might not get fully loaded properly into them. Most of these pages do seem to have either javascript errors, or security violations for cross-domain requests, or warnings about slow loading resources.   I'm not sure there is much we can do ab

[2018-09-13 10:43] #104 closed

[2018-09-13 12:40] monzug commented on #115
I do also think that not properly deactivating the webextension can create
problem when installing the new build. see  #113

On Wed, Sep 12, 2018 at 2:20 PM, Bridget Almas <notifications@github.com>
wrote:

[2018-09-13 19:15] balmas commented on #115
yes, that is entirely possible. I think it's okay for the beta release, needs further attention afterwards so let's leave this open.

[2018-09-14 13:05] monzug commented on #105
tested in Firefox build 2.0.3-6
looks good. Thanks for fixing it

[2018-09-14 13:17] balmas commented on #110
yeah, there isn't much more I can do to improve on this while we still use iframes for resources like the grammar.  I entered https://github.com/alpheios-project/components/issues/204 to request that we consider other ways of serving this data in the future.

[2018-09-14 17:32] balmas commented on #114
I think that's a good compromise solution.

[2018-09-14 20:21] balmas commented on #80
Sample extension
https://github.com/mdn/webextensions-examples/tree/master/google-userinfo

[2018-09-14 20:53] balmas commented on #80
Need to consider back-end service and identity provider options. This article is useful
https://theiconic.tech/authentication-an-in-depth-look-at-aws-cognito-658336515169

[2018-09-15 06:09] kirlat commented on #80
Thanks for the useful information, I will study that.

I also might be worth noting that Google starts to add fingerprint support to Chrome: https://www.theverge.com/2018/9/14/17859070/google-fingerprint-support-chrome-70-android-mac-beta

[2018-09-17 14:58] monzug commented on #114
tested in few sites. now the pop-up moves only right to left and left to right in the sites mentioned above. In other sites, I can drag it anywhere on screen. Looks good to me.

[2018-09-17 15:08] kirlat commented on #114
Great, I will prepare a PR then

[2018-09-19 18:05] balmas commented on #114
this is in https://github.com/alpheios-project/webextension/tree/qa-2.0.3-8

[2018-09-19 18:05] #114 closed

[2018-09-20 18:03] balmas opened #117 "ability to share more data across tabs/windows"
some data is currently repeated across Alpheios activations that could be shared across all tabs/windows. An example of this is the inflection table browser data. When working on refactoring we should consider adding the ability to specify objects/data that can be loaded and shared in the background.

[2018-09-20 18:03] balmas commented on #117
other examples:

- dictionary short definitions

- grammars

[2018-10-11 17:18] balmas opened #119 "when used on Loeb advancing a page causes a blank popup"
@abrasax reports:

Using the Alpheios tools on the Loeb library, when you advance a page a large blank alpheios popup appears.

[2018-10-22 03:21] irina060981 commented on #86
@balmas,  may be it is better to move this activity to refactoring?
If @kirlat is working on refactoring - may be it is better to reassign this issue from me?

[2018-10-22 03:24] irina060981 commented on #86
@balmas and @kirlat, may be it is better to reassign this issue from me to @kirlat, if Kirill will work on refactoring and it seems to me that it is a part of refsctoring task?

[2018-10-22 06:58] kirlat commented on #86
Per comment: https://github.com/alpheios-project/webextension/issues/86#issuecomment-431733453
Don't mind this reassigned to me :smiley:

[2018-10-23 12:41] balmas opened #124 "safari: activate/deactivate context menu item doesn't change status of icon"
In Safari, when activating/deactivating the extension using the context menu item the Alpheios toolbar icon badge and text aren't updated.

[2018-10-23 12:44] balmas opened #125 "review memory management for safari"

[2018-10-23 12:57] balmas opened #126 "optimize loading of resources for Safari"
as discussed in alpheios-project/safari-app-front#3, on Safari it seems the alpheios code gets injected in every page regardless of whether or not the user activates it for the page. We should probably delay some of the resource initialization code, such as loading of the inflection tables, until the user requests them.

[2018-10-24 16:25] balmas opened #127 "safari: define, document and automate qa/production build process"
We need to define, document and ideally automate the process of building qa and producing builds of the Safari App Extension.

The Apple documentation on this is a bit difficult to comb through and they want you to use all of their tools (XCode to make the archives, XCode Server to setup continuous integration, etc.).

It looks like we can define some provisioning profiles for distributing archive

[2018-10-25 09:09] irina060981 commented on #127
About testing - according to this article - there is no need now to have an outstanding XCode Server for testing or other tasks - Xcode has its own one - inbuilt.
https://medium.com/xcblog/hands-on-xcuitest-features-with-xcode-9-eb4d00be2781

Also there are some frameworks for testing in the article that can be used for unit testing, performance testing and UI testing.

Here it is a video about di

[2018-10-25 17:58] balmas commented on #127
Thanks very much for this @irina060981. Your documentation was very helpful.

I really struggled for hours with XCode to get it to let me sign the code. Since the Safari app extension is just one small piece of what we are doing,  I think I would like as much as possible getting too embedded with Apple specific tools here.  I might be willing to live with a manual build process for the extension r

[2018-10-26 06:33] kirlat opened #130 "Webextension refactoring"
Ideas behind webextension refactoring (#128) were to implement the following architecture:
1. Background script intercepts all user interactions with extension icons and menus. It injects a content script into a target page (webextension only, in Safari content script is loaded automatically) and sends commands to activate/deactivate/open panel etc. according to user actions. This part of an app w

[2018-10-26 07:10] irina060981 commented on #127
Yes, I agree with building and packing manually for now, I agree that we have more priority tasks for now :)
I hope you will be successful with all signing process.
I use keychain for working with certificates.

[2018-10-26 09:28] irina060981 commented on #130
My thoughts about modularity and independence:

**UIController**

I have faced with communicating with UIController several times from outstanding repos - lexical-tests (browser and node versions), inflection games, safari application front script. And everytime I had a problem that UIController is specified for a current set of tasks:

1) it creates all components - I couldn't use the UIControlle

[2018-10-26 12:32] balmas commented on #127
I will add some notes to the document you started on the problems I had with the keychain and how I resolved them.

[2018-10-26 12:53] balmas opened #131 "add help text to mac app splash screen"
We need to add some help text to the splash screen of the Alpheios App to tell users how to enable it.  See the following  example from another app:

![screenshot 2018-10-26 08 45 13](https://user-images.githubusercontent.com/644870/47567163-ccd98b00-d8fb-11e8-946e-a6ff68a1582f.png)

Alpheios
Provices clickable access to dictionary entries, morphological analyses, inflection tables and grammars fo

[2018-10-26 13:03] irina060981 commented on #131
great, I have seen some tutorials how to work with this view controller and how to handle with some inputs (while tried to understand how to create an extension), it is time to use it :)

[2018-10-28 07:01] irina060981 commented on #124
@balmas, @kirlat , there is a problem with this case. I wil describe it.
There are two workflows to change toolbar properties (image, badge, label):

1) Click on a toolbarIcon -> executes `SafariExtensionHandler.toolbarItemClicked` -> it has `SFSafariWindow` property -> I could execute `updateIcon with `SFSafariWindow` property and get access to toolbarItem
This workflow is successful - badge and

[2018-10-29 11:45] balmas commented on #124
@irina060981 is there any way to call the `setToolbarItemsNeedUpdate()` method of the `SFSafariApplication` proxy? Do we have access to that object? It seems that's what triggers the validateToolbarItem handler

[2018-10-29 12:57] irina060981 commented on #124
Thank you, @balmas! It was very helpful!
Created PR - https://github.com/alpheios-project/webextension/pull/132

[2018-10-29 12:58] irina060981 commented on #131
Created - PR https://github.com/alpheios-project/webextension/pull/132
<img width="497" alt="screen shot 2018-10-29 at 22 50 30" src="https://user-images.githubusercontent.com/12377640/47651139-15c86280-dbce-11e8-8870-25c051a4d743.png">

[2018-10-29 15:06] balmas opened #133 "Safari add version and build number to the Info screen"
We need to pull the version and build number from the Info.plist file and use it to populate the browserManifest object that is passed to the UIController constructor.

We should override get browserManifest in ContentProcessSafari and have it return a manifest constructed from the data in the info.plist file. I would hope this is available from the safari object . Might take some investigation to

[2018-10-29 15:10] balmas opened #134 "safari: colors for the splash screen help text"
Can we use the Alpheios color (i.e. alpheios-link-color 3E8D9C) for the header on the splash screen?

[2018-10-29 15:48] monzug opened #135 "Safari: look of the extension in some sites"
1) in poesialatina.it, lookup button is smaller than usual size and the text is in black.
actually all buttons have the text in black and not white

![screen shot 2018-10-29 at 4 34 20 pm](https://user-images.githubusercontent.com/41396793/47661633-b7818c80-db99-11e8-8502-6897963494e6.png)

2) in http://thelatinlibrary.com/plautus/mercator.shtml, the Reskin options in Options panel are not alligne

[2018-10-29 16:05] balmas commented on #133
looking at @kirlat 's refactoring in #128 the above instructions aren't quite right.  With those changes, uiController will be initialized in content-safari, so I guess it's in handleStateRequest that you can construct the manifest

[2018-10-29 16:17] monzug opened #136 "Safari: the content of Define needs restyling"
in poeasialatina, the content of define is all messed up

![screen shot 2018-10-29 at 5 05 49 pm](https://user-images.githubusercontent.com/41396793/47663722-da15a480-db9d-11e8-8134-a3ea75a5cbd1.png)

[2018-10-29 16:25] monzug opened #137 "Double-click ignores some uppercase letter in bold"
in http://thelatinlibrary.com/plautus/mercator.shtml, the first letter of the row is uppercase and bold format such as Missus Requirit etc. when double-click on such words, it takes only the word without the first letter, so the morphological output fails (e.g. Amat is mat). is there anything that can be done?

[2018-10-29 17:05] kirlat commented on #133
Probably refactoring of content script might cause confusion as the code differs from the current master version significantly. If some changes are needed to be done to content script before the testing of `safari-app-front-i3` is complete, we could probably merge `safari-app-front-i3` to master sooner (any moment). We do not expect to release code from master soon, so probably it will be relative

[2018-10-29 17:08] balmas commented on #133
let's try to get it merged tomorrow after Irina has had a chance to do her review.

[2018-10-29 17:16] kirlat commented on #133
I was actually thinking about getting rid of browser manifest as a constructor param as it seems to be application dependent (webextension only) and we envision UI controller as a universal cross-app solution. Instead of passing a whole browser manifest, we can pick up pieces of data we need from there and pass them as props of an `options` constructor parameters object: `{version: 'x.y.z'}`. It s

[2018-10-29 17:20] balmas commented on #136
The site is http://www.poesialatina.it/

[2018-10-29 17:20] balmas commented on #136
assigning to @irina060981 to investigate

[2018-10-29 17:34] balmas commented on #133
@kirlat do you mind just taking this one then so that you can implement as you suggest? Thanks!

[2018-10-29 17:45] kirlat commented on #133
We have not decided on UI components data format yet, but I would really like to simplify that comparing to what we have now, if possible. Right now we, on my opinion, have too many config objects in too many places, That's is error prone, hard to manage and keep in sync.

We could probably have all setting data in a two-level structure. Two-level is probably enough to handle complex cases, and th

[2018-10-29 18:13] balmas commented on #133
I think this is ok. I would prefer a 2 level over a flat structure I think, because it's a less typo-prone. at some point we might want an object we can validate but we can do that if/when we really need it.

[2018-10-29 19:19] monzug commented on #137
got it. not sure how common it is. I have seen this issue only on this site
so far.

On Mon, Oct 29, 2018 at 2:32 PM Bridget Almas <notifications@github.com>
wrote:

[2018-10-30 04:51] irina060981 commented on #124
Merged and closed

[2018-10-30 04:51] #124 closed

[2018-10-30 04:52] irina060981 commented on #131
Merged and closed

[2018-10-30 04:52] #131 closed

[2018-10-30 04:53] irina060981 opened #138 "Make text from App splash screen localizable (with embedded icon)"
Now it is a simple static text inside UILabel.

[2018-10-30 07:03] kirlat commented on #133
I can start using two level for manifest data. We can match this nicely into Vuex modules. @irina060981, are you OK with using a two level approach for storing our state data as shown below?
[code]

[2018-10-30 07:50] irina060981 commented on #134
Yes, I could change it through properties - I will make changes after @kirlat will finish with merging his PR to avoid additional problems with it :)

[2018-10-30 10:30] irina060981 commented on #136
I have checked - the problem is very strange - this site has its own bootstrap styles applied in the head.
And in firefox, chrome webextension has normarl priority and all style's weight applying in a normal way.
But as for Safari - for some case Safari app extension styles has lower priority. So Bootstrap normalizing styles kills our styles (for example for buttons).
I will search for more detail

[2018-10-30 10:32] irina060981 commented on #135
the same as for
https://github.com/alpheios-project/webextension/issues/136

Different priority for extension styles.

[2018-10-30 14:16] monzug opened #139 "site with few problems"
on this site
http://www.tradurreantico.it/latino/grammatica-latina/morfologia/verbo/verbo-eo-latino/
we have few problems
1) double click does not work
2) the style of the info panel or morphology panel is so different from same page in Firefox
e.g. no navigation etc.
![screen shot 2018-10-30 at 3 10 26 pm](https://user-images.githubusercontent.com/41396793/47724085-39cf8680-dc56-11e8-9870-c79dfba

[2018-10-30 15:02] monzug opened #140 "view in chrome and safari of verb browser"
the look of the verb browser is slightly different. I am ok with it but I do understand that we want to have the same style among different browsers
same site in chrome vs safari (http://dcc.dickinson.edu/allen-greenough/Chapters/Chapter-100.html)

![screen shot 2018-10-30 at 3 57 22 pm](https://user-images.githubusercontent.com/41396793/47727543-dbf26d00-dc5c-11e8-9552-0a29b07b0de6.png)

[2018-10-30 15:09] monzug opened #141 "webextension does not work in reader view"
@balmas: I'm not sure if we will be able to support it because it's not
clear if their new extensions api allows us to, but I've entered a
support request for help with it so we'll see what happens.

[2018-10-30 15:12] balmas commented on #141
@kirlat and @irina060981 I can only find information on this in the old deprecated Safari Extensions JS API. I can't find anything in the new app extension api docs, such as they are. I have entered a support ticket for it, but let me know if you come up with anything.

[2018-10-30 16:30] balmas commented on #140
I think we don't have explicit styles applied to all of the elements of the inflection browser, because I note that it also looks different on different sites (e.g on http://dcc.dickinson.edu/allen-greenough/Chapters/Chapter-184.html the headers are in italics, while on other sites they are not). So i think the request here is to be explicit about the styles applied to all elements of the inflecti

[2018-10-30 16:32] balmas commented on #139
Assigning to @irina060981 to investigate. Style is probably related to #135 but the problem with the event not working is likely a new issue.

[2018-10-30 20:17] balmas opened #143 "safari: app help remove or provide minimal page"
The Safari App as a Help menu item which just produces a message saying that Alpheios has no help.  We should either remove the menu item, or if that's not possible, the provide a minimal help page which essentially reproduces the instructions on the splash screen, maybe with the addition of the text from the info panel.

[2018-10-31 03:31] irina060981 commented on #143
Fixed - https://github.com/alpheios-project/webextension/pull/144

[2018-10-31 03:31] irina060981 commented on #134
Fixed - https://github.com/alpheios-project/webextension/pull/144

[2018-10-31 08:58] irina060981 commented on #139
Styles - are from the same problem.
About double-click - it is an interesting issue about setting *user-select:none* to body.
It fails with this bug:
<img width="832" alt="screen shot 2018-10-31 at 18 55 47" src="https://user-images.githubusercontent.com/12377640/47776658-a3c35b00-dd3e-11e8-886d-12d62b13a236.png">

And it fails for doc.caretRangeFromPoint return null if this style is applied.
When

[2018-10-31 09:51] irina060981 commented on #135
Ok,  I have re-read the basic documentation and Apple Team defines priority this way  ([source](https://developer.apple.com/documentation/safariservices/safari_app_extensions/about_injected_style_sheets_and_scripts)):

So we are getting this terrible styles for Safari when someone defines there styles directly to tags.

[2018-10-31 17:22] balmas commented on #135
I think we can do that, but we should make sure that whatever we apply !important to is fully scoped to the alpheios namespace.

[2018-10-31 17:37] kirlat commented on #133
Now as we can pass app name and version number via UIController options object easily, I'm wondering if we really would like to parse `info.plist` for that.

Our core code, that provides an Alpheios functionality, is 99% the same between webextension and Safari. The only different parts are the ones that are responsible for browser-controls user interactions, but that would not change often.

We c

[2018-10-31 17:48] kirlat commented on #133
As an alternative we could introduce two versions: a core version and a platform version.

A core version would reflect available Alpheios functionality and will increase with each new build of components and its dependent libraries. A platform version would reflect changes in platform specific code (webextension, Safari, PWA, embedded lib). It would be always different across apps, as those apps

[2018-10-31 18:00] kirlat commented on #135
I hate `important!` with my whole heart because I was in position of needing to override them. So I prefer not to use them, if possible. For me it's like a nuclear option. 💣 ☠️

Maybe we could do away without importants by adding some id (`#alpheios`) to the root element of the host site with JS and then defining our styles as `#alpheios .some-other-selectors`? This combination should have a prett

[2018-10-31 19:06] balmas commented on #135
Yes I think maybe the first step is reviewing to make sure all of the elements we need to style in our UI are fully described by classes which can be traced back to the id of the parent alpheios ui component element?

[2018-10-31 19:33] balmas commented on #133
I was thinking about this too, as I was trying to decide what the release version for the safari extension should be.

1. I agree keeping a consistent version for the webextension, whether it's a Safari build or the Firefox/Chrome is a good idea. Since the different platforms require that this be in different files (i.e. manifest.json for FF/Chrome and Info.plist for Safari) it would be ideal if o

[2018-10-31 23:41] irina060981 commented on #135
Unfortunately, It seems to me that this problem couldn't be solved using any ID attributes or classes.
I will show  you it in the following example:

[2018-10-31 23:45] irina060981 commented on #135
Let's look at the button's style behaviour in Chrome and Safari (Lookup button on the panel):

** Chrome **:
![image](https://user-images.githubusercontent.com/12377640/47824860-8b912180-ddba-11e8-9600-061f3d7275ae.png)

Button looks ok, because styles applied this way:
Upper our injected styles as it has more weight because of classes:
![image](https://user-images.githubusercontent.com/12377640/4

[2018-10-31 23:53] irina060981 commented on #135
And now **Safari**

<img width="392" alt="screen shot 2018-11-01 at 09 49 25" src="https://user-images.githubusercontent.com/12377640/47825013-71a40e80-ddbb-11e8-927f-4870041e3f76.png">

It has another styling because if another `line-height`, `color`

Let's look as styles were applied:

Upper are bootstrap styles according to Safari App Extension injected styles order:
<img width="399" alt="scree

[2018-11-01 00:07] irina060981 commented on #133
I have read about the ability of changing Info.plist programatically - and it is not allowed, if I understood coorectly. Because all files in application folders could be changed only manually and have read-only permision for programatically changes.
Also If this way could be found - it could become a reason to reject to our extension from Apple team check.
I have read it here:
https://stackoverfl

[2018-11-01 11:28] balmas commented on #141
Sadly it seems we cannot do anything about this at the moment.  Here's the response from Apple:

"We have reviewed your request and have concluded that there is no supported way to achieve the desired functionality given the currently shipping system configurations.

If you would like for Apple to consider adding support for such features in the future, please submit an enhancement request via the

[2018-11-01 11:34] balmas commented on #141
For reference, Apple Bug Request https://bugreport.apple.com/web/?problemID=45726788

[2018-11-01 11:35] kirlat commented on #135
Wow! From reading Apple's docs where it was saying that

I was under impression that this means a source order: an order in which rules are inserted into a final set of page's CSS rules. But specificity rules would remain as they are defined by W3C.

However, this seems not: it looks like Safari totally ignores CSS specificity and apply rules in its own Safari-specific order, combining both CSS sp

[2018-11-01 11:36] kirlat commented on #135
@irina060981, thanks for detailed clarification of how the rules are applied in Safari!

[2018-11-01 11:40] irina060981 commented on #143
Merged and closed

[2018-11-01 11:40] #143 closed

[2018-11-01 11:40] irina060981 commented on #134
merged and closed

[2018-11-01 11:40] #134 closed

[2018-11-01 11:48] irina060981 commented on #135
@kirlat , yes, it was really surprising for me too :) I think all safari app extention technology is an original approach to creating webextensions.

[2018-11-01 11:51] kirlat commented on #135
I think that even with Safari behaving the way it does we should not introduce any `important` styles into our webextension stylesheets. Then it means we need to have two sets of CSS files: one for webextension, and another one for Safari. The only difference between them is that Safari version should have `!important` after every rule, or, at best, after some rules that we absolutely need to rede

[2018-11-01 12:01] irina060981 commented on #135
My suggestion is the same - produce two style files - for webextension and for safari, also I think we should
 - refactor styles a little and wrap all our definitions into our ID attributes
 - I like your suggestion with PostCSS addition to webpack with important flag!

[2018-11-01 12:03] balmas commented on #135
Agree with both points.  We need to make sure all of our styles only apply to Alpheios ui elements and only use !important for Safari. I really like the idea of using postcss-important to add the !important flag when building for Safari.

[2018-11-01 12:07] balmas commented on #133
Ah I was only suggesting that we change it at build time, not run time (i.e. by having a build script update the Info.plist files before creating the bundle. But since we don't actually *have* an automated build for Safari right now anyway, it might not be worth the effort at the moment.

[2018-11-01 12:13] monzug commented on #141
between the cult movie I watched yesterday and this, I am changing my
opinion on Apple...

On Thu, Nov 1, 2018 at 7:34 AM Bridget Almas <notifications@github.com>
wrote:

[2018-11-01 12:29] irina060981 commented on #133
Bridget, I am really surprised with this Apple's approach - there is no normal automated build process with any easy update of Info.plist using some scripts.
And I was even embaraced with that phrase - that if you will find it - you would be punushed by Apple team on checking your extension. I just realized that I didn't ever find information what else could be reasons for rejection.
I am a newbie

[2018-11-01 12:36] kirlat commented on #133
What if we stick with the best practices and use Conventional Commits (https://www.conventionalcommits.org/en/v1.0.0-beta.2/) as a base of our versioning protocol? If we add a special tag into each commit (`fix:`, `feat:`), then, based on that, an automated tool like https://github.com/conventional-changelog/standard-version could bump a corresponding version number automatically. It supports Life

[2018-11-01 12:54] balmas commented on #133
I think generally, yes. I think all of this requires discipline and clear communication of the practices we have been and will be following. We haven't been using squash commits so that would be a change although i think this methodology doesn't absolutely require that .

Let's all think about it over the next couple of days and talk about this together in Monday's check-in and make some decisions

[2018-11-01 16:30] kirlat commented on #133
In the latest version, 8450edb24a6bd6a48a1b48e35f371482897d4f27, we can specify Safari's App Extension version manually in a `content-safari.js` file. Maybe we can use this as an intermediary solution?

If that is acceptable, I can merge that into master as it will already be an improvement over what we have now in master and it will also introduce UIController updated that might benefit other app

[2018-11-01 17:19] balmas commented on #133
do you mean just duplicating the version information that's in Info.plist in the content-safari.js where it calls the UIController constructor? I'm fine with that as an intermediate solution while we figure out how we want to handle versioning in a more automated way.

[2018-11-01 17:40] kirlat commented on #133
Yes, so for now in `content-safari.js` we would have something like:
[code]
Just from our previous experience with Apple we might not expect of any fast and easy solution in build automation. But with this, we'll already have something to show in an info panel. That's probably better than nothing.

[2018-11-01 22:56] balmas commented on #133
Could we pull this version from the package.json file then, just like we do with the Chrome/FF version. If we commit to keeping that in sync with the version in the Info.plist even if we can't do it automatically just yet, that would be a step in the right direction.

[2018-11-02 07:00] kirlat commented on #133
That's a great idea! Will implement that.

[2018-11-02 11:46] balmas opened #145 "safari: uninstall procedure"
We need a better understanding of the uninstall procedure for the Safari extension. As @monzug noted , this is confusing. My experience has been that you need to first close Safari, then eject the app from devices, but I don't know if this is an artifact of the development build. We need to investigate the recommended practice for app extensions and make sure we comply, and then document.

[2018-11-02 11:47] balmas opened #146 "safari: fix typo in splash screen help"
Provides and not Provices

[2018-11-05 12:18] irina060981 commented on #146
Merged and closed

[2018-11-05 12:18] #146 closed

[2018-11-05 12:50] balmas opened #149 "safari: inconsistent behavior on deactivation."
Using the icon to deactivate the extension in Safari does not seem to work reliably, particularly if you deactivate it very soon after activating.

I'm not sure if this is due to a delay in Safari calling the toolbarItemClicked method, or a delay in the state message being received by the content script.

To reproduce, click on the Alpheios icon and as soon as the Alpheios panel appears, click the

[2018-11-05 14:36] monzug commented on #137
an other one from https://www.dizionario-latino.com/dizionario-latino-flessione.php - the endings are in one color and the lemma is in an other, so depending where I click on the verb, it takes only the initial part of the word or the ending. in both cases the lookup fails. e.g. amas lookup is either am or as

[2018-11-05 14:42] balmas commented on #133
This can be tested in Build 2.1.0.5.

@monzug it's not fully automated but the release/build number should now appear in the info screen for Safari too. We are incrementing the minor release version of the webextension with the Safari release, so this is build 5 of the 2.1.0 release.  It's a single code base for Safari and Chrome/FF.  We may or may not issue a 2.1.0 release of Chrome/FF at the sam

[2018-11-05 14:46] balmas commented on #126
I believe this can be closed with Build 2.1.0.5. Not sure it can be fully tested, other than to look at how memory is consumed in the browser. Handing to @monzug -- feel free to just remove the waiting_verification label  if you can't test it though.

[2018-11-05 14:46] #126 closed

[2018-11-05 14:48] balmas commented on #125
@monzug please let @irina060981 know if you need help testing this. Thanks!

[2018-11-05 17:48] monzug commented on #133
yes! it's there - Safari app Extension 2.1.0.5

[2018-11-05 17:49] #133 closed

[2018-11-05 18:03] monzug commented on #149
also in build 2.1.0.5, if I click on activate/deactivate the extension few times then the icon does not change any more (it does not get the small red icon) and it does not work, e.g. if I have the options panel and morphological panel open, I cannot close them, double click does not work anymore

[2018-11-05 18:16] monzug commented on #145
So far, I haven't been able to uninstall the alpheios app. these are the steps that I followed. from Extensions tab in Safari Preferences, I click on Uninstall the reading tools. I get the message that I have to remove the Alpheios app. I close safari and quit Alpheios app (no longer available from the dock). then I try to remove the Alpheios app from the application folder but I get: alpheios app

[2018-11-05 18:17] monzug commented on #136
an other example of style

![screen shot 2018-11-05 at 6 59 14 pm](https://user-images.githubusercontent.com/41396793/48017771-7821e580-e12f-11e8-9394-d5bceb2b9ea3.png)

[2018-11-06 00:51] irina060981 commented on #145
I have spent some time to find out how the uninstall procedure of safari app extension should be performed now.
And it was changed since Safari extensions became Safari App Extension.

Now we should remove them manually.

So There are the following steps (if it was installed from dmg):

1) close AlpheiosApp
2) close Safari
3) eject AlpheiosApp from devices

If it was installed from XCode debug pro

[2018-11-06 07:08] monzug commented on #145
Hi Irina, I come up with the same conclusion (I guess based on same investigation). so, here are few questions:
1) if the reader cannot be uninstall, the uninstall button shouldn't be there. correct?
2) as said above, I follow the steps suggested but I could not remove the alpheios app manually. how do I remove the app then?

[2018-11-06 07:36] irina060981 commented on #145
Hello, Monica!

1. As Apple staff said in the forum -
"There should be an Uninstall button for Safari App Extensions in the latest beta of macOS High Sierra 10.13.4. It won't move your app to the Trash automatically, but it will reveal it in the Finder and tell the user how to perform the action."
So the button Uninstall exists, but it doesn't uninstall.

2. I was able to remove manually after -

[2018-11-06 07:41] monzug commented on #145
hahaha, we are all discovering a new world!
ok, I am going to try with Safari quit and not close. THX

[2018-11-06 14:26] monzug opened #152 "we should update the Alpheios icon in the dock"
right now, it looks like it's out of focus. we should have a new one for the dock when u mouse on.

[2018-11-06 14:30] monzug commented on #145
no luck. Quit Safari and Alpheiosapp but could not uninstall it. why don't
we have the alpheiosapp icon listed in the Application folder?

On Tue, Nov 6, 2018 at 2:36 AM Sklyarova Irina <notifications@github.com>
wrote:

[2018-11-06 14:51] balmas commented on #145
I think we won't get that until we actually have an unrestricted app to install. We aren't yet building with a production profile. They don't make it to easy to test this install process.

@irina060981 I found some instructions at https://help.apple.com/xcode/mac/current/#/dev16fb2b911 that might be helpful here.

[2018-11-06 14:52] monzug opened #153 "(Greek) is not hidden in lookup - Safari"
in safari we have greek in parenthesis next to the lookup word in morphology panel. This is inconsistent with Chrome and Firefox.
@balmas comment: It's actually there but hidden that in the other
browsers. Another indication of Safari's different handling of styles -
it isn't correctly applying the style instruction to hide it.
We had some debates early on about whether or not to include that, so

[2018-11-06 15:41] monzug opened #154 "Inconsistency in the page context menu"
First, we should remove the Open Panel menu item from Chrome and Firefox context menu when tools are active and the panel is not open. the context menu should be only   -Deactivate  -Info.
When tools are not active, we should only have Activate (info does the same thing as Activate so it's redundant).
As per toolbar menu, we have Alpheios Reading tool (beta) that takes to the Alpheios.net site in

[2018-11-06 20:32] balmas commented on #154
oh... I thought you were talking about the right click context menu on the page itself, not the context menu for the icon. I don't actually know how much control we have over this menu.

(Although one of the long outstanding issues is that we should make use of the browser options menu for the extension -- see #78)

[2018-11-06 23:56] irina060981 commented on #145
@monzug , I am upset that there is no luck with it. But I couldn't understand - what exactly the error do you get trying to eject .dmg with AlpheiosApp?
I have re-read you first steps descriptions and you pointed something like the following:
" then I try to remove the dmg file but I get an other message that says that if I want to delete from my computer I have to use selective sync"
Could you ma

[2018-11-07 06:06] irina060981 commented on #138
Merged and closed

[2018-11-07 06:06] #138 closed

[2018-11-07 06:07] irina060981 commented on #138
Merged and closed

[2018-11-07 06:44] monzug commented on #154
yes, that was the misunderstanding. it's toolbar menu vs context menu. I
entered this issue so we have both in one place

On Tue, Nov 6, 2018 at 3:32 PM Bridget Almas <notifications@github.com>
wrote:

[2018-11-07 07:30] monzug commented on #149
![screen shot 2018-11-02 at 1 14 41 pm](https://user-images.githubusercontent.com/41396793/48116737-0764f100-e235-11e8-810f-c6e0adec0fdc.png)
![screen shot 2018-11-02 at 1 15 57 pm](https://user-images.githubusercontent.com/41396793/48116750-0f249580-e235-11e8-94d0-16174f10b166.png)

[2018-11-07 07:31] monzug commented on #145
here we are
![screen shot 2018-11-02 at 1 14 41 pm](https://user-images.githubusercontent.com/41396793/48116818-4135f780-e235-11e8-8121-d79da2099611.png)
![screen shot 2018-11-02 at 1 15 57 pm](https://user-images.githubusercontent.com/41396793/48116820-4135f780-e235-11e8-87b0-e3cdb0f42cf4.png)

[2018-11-07 11:44] irina060981 commented on #145
Hello, Monica!

It seems to me that you are trying to delete something not what should be deleted for uninstall, or may be you have some another installation process.

How I do this:

1) I could use built files from AppSafari folder (not .dmg file) from my build
<img width="273" alt="screen shot 2018-11-07 at 21 35 36" src="https://user-images.githubusercontent.com/12377640/48129403-18653f00-e2d5-

[2018-11-07 13:32] irina060981 commented on #145
No, I am creating builds on my Mac and install them from my local machine.
May be there is some conflict with deleting/ejecting data from network.
I will try to do it tomorrow from some dropbox account to get the same errors.

[2018-11-07 13:34] monzug commented on #145
I'll send a screenshot that will give you more inside. will talk tomorrow.
will be available earlier in the day.

On Wed, Nov 7, 2018 at 8:32 AM Sklyarova Irina <notifications@github.com>
wrote:

[2018-11-07 13:44] balmas commented on #145
@irina060981 i sent your email an invite to the Dropbox folder that i have been using the share builds with Monica.

[2018-11-07 22:57] irina060981 commented on #145
Sorry, @balmas and @monzug  , I have missed it in email box! I will test with it today!

[2018-11-08 00:19] irina060981 commented on #149
After the investigation it seems to me that the problem in the last components refactoring and moving some content functions to UIController.

I think that the problem is in the different way Safari and Chrome/Firefox handle with messages between front and back.

Now the problem looks like this:

when you are activating - it makes those steps:

<img width="515" alt="screen shot 2018-11-08 at 10 10

[2018-11-08 00:52] irina060981 commented on #145
I have no dropbox application and I haven't found any free variant.
So I downloaded last .dmg (and it said me that it is from unidentified developer), changed security properties and installed.
And then uninstalled the same as in 2) workflow - it was removed without any problems.

[2018-11-08 04:55] kirlat commented on #149
@irina060981 Sure, I will check it out

[2018-11-08 06:54] irina060981 commented on #149
Thank you, @kirlat  :)

[2018-11-08 08:06] monzug commented on #145
So, I delete my share folder with the alpheios app and then somehow I was able to remove the app. there are still files there so I might need to delete them one by one. so it's gone but not in a 'clean' way...

[2018-11-08 08:32] balmas commented on #145
Ok, so we should probably not waste too much time on issues that are specific to how I was sharing the build since this isn't how the actual release will be distributed...

@monzug maybe it would be better to copy the dmg file out of Dropbox onto your home directory or something on your mac, before installing it?

@irina060981 I was using Dropbox just because I didn't want to put binaries into Git

[2018-11-08 08:34] irina060981 commented on #145
@balmas , I could download it locally.
May be I don't know how to use from share folder?

[2018-11-08 09:05] balmas commented on #145
That's interesting. My mac came with a Dropbox client already installed.  In any event, I don't think it's worth worrying about this too much. When I get back I will finish creating the production certificate and profile so that we can try to get closer to the user experience of installation.

[2018-11-08 09:48] irina060981 commented on #145
oh, I have found how to install dropbox from the web-site.
I have installed it - so I have dropBox attached to the MAC

Then I have installed dmg from it, then launched application, turned on extension in Safari.
Then closed the application, closed Safari (quited of course :) ) and then ejected.
No errors

It seems to me that it is something specific with some sync procedure on Monica's MAC.

[2018-11-08 13:54] kirlat commented on #149
@irina060981, I think I fixed it 🙂. Please check `webext-i149` when you will have time. Want to be sure it is working for you too. Thanks!

[2018-11-08 13:59] monzug commented on #145
agree. it's most likely my environment. @balmas, I did install both way,
locally and from dropbox. I was trying to replicate Harry's issues with no
luck....

On Thu, Nov 8, 2018 at 10:48 AM Sklyarova Irina <notifications@github.com>
wrote:

[2018-11-09 01:33] irina060981 commented on #149
@kirlat , I have uploaded and tested - it works like a charm!
I looked through the code - you added details of handling with changing status - great :)

[2018-11-09 05:33] kirlat commented on #149
@irina060981, great!
So if you're doing other changes for Safari App Extensions (you probably do), can you please merge `webext-i149` to your changes so that they will be included into the next test release? Thanks!

[2018-11-09 05:51] irina060981 commented on #149
@kirlat, I have no current changes - it was my last Safari issue.
I am working on client-adapters, so you could be free and merge to master, I think.
You don't need to build it - as we are not placing binaries to the branch.

[2018-11-09 06:35] kirlat commented on #149
Has been merged to master with #155

[2018-11-09 08:49] monzug commented on #145
Irina,
after installing the latest safari build, did you experience any delays in
starting the alpheiosapp? Thx

On Thu, Nov 8, 2018 at 8:59 AM Monica Zugan <monzug@gmail.com> wrote:

[2018-11-09 08:58] irina060981 commented on #145
Monica, there was a bug with exchanging messages between content and background.
@kirlat has fixed it today.
May be those delays were because of that bug.
I have seen the delay - but as I am switching between several projects I thought that it was always and I simply forgot about it.

I could try to create a new build and upoad to dropbox - I think I use the correct certificate but I haven't check

[2018-11-09 09:01] monzug commented on #145
let's wait for @balmas to get back and get a new build. then I will check
again if there is still the delay. Thanks

On Fri, Nov 9, 2018 at 3:58 AM Sklyarova Irina <notifications@github.com>
wrote:

[2018-11-09 09:03] irina060981 commented on #145
I don't see a delay in a new build (I was testing it myself locally) - it opens and closes much faster.
But my eyes are not very objective :)

[2018-11-09 09:09] monzug commented on #145
good to know! will wait the new build then. Thx

On Fri, Nov 9, 2018 at 4:03 AM Sklyarova Irina <notifications@github.com>
wrote:

[2018-11-09 09:21] irina060981 commented on #145
ok - let's wait for Bridget! Hope she has a great time in Belgium! :)

[2018-11-11 09:38] ghost opened #156 "please hide dictionary title from arabic lookup"
this

"From An Advanced Learner's Arabic-English Dictionary (H. Anthony Salmoné, Beirut, Librairie du Liban, 1889)"

It is rare dictionary, I already know it, you may include it to "options/about" section or smth

[2018-11-11 09:39] MastQ opened #157 "need android offline app"
with selection menu what dictionaries to load

[2018-11-11 14:57] monzug opened #158 "Safari: can't close pop-up in a specific site"
go to http://penelope.uchicago.edu/Thayer/E/Roman/home.html and activate the tools. can't close the info pop-up or move to any other tab like Grammar, Options, Inflection
this works fine in Chrome on Mac.  reload the site, pop-up works fine. will try to reproduce this one.

[2018-11-11 15:09] monzug commented on #158
also, lookup for the greek word ἀλλήλαιν failed. reloading the page, all works fine.

[2018-11-11 15:18] monzug commented on #158
one more, the extension is reactivated by searching a word in look-up.

[2018-11-11 15:30] monzug commented on #125
Could not detect any relevant difference in activity monitor. @irina060981  are you running specific processes? I just lookup for latin or greek words in safari, chrome and firefox but could not see much difference in memory. Thanks

[2018-11-11 15:48] monzug opened #159 "Safari: new tab Status messages"
there is an extra tab in the info panel: Status Messages, which is missing from Chrome and Firefox. Is there for testing?

[2018-11-11 16:37] monzug commented on #158
an other one, can't close look-up pop-up for Aeneadum. unreproducible.

[2018-11-12 12:32] balmas commented on #145
ok, assigning this one back to Monica then to test with build 2.1.0.7 and then we'll see where we are.

[2018-11-12 15:53] balmas commented on #157
We are working on this.

[2018-11-12 15:55] balmas commented on #156
I am not sure I understand this request can you provide a bit more explanation? We currently offer Lane as the default dictionary, with an option to include Salmone or not.

[2018-11-12 16:11] monzug commented on #145
well, today I spent quite sometimes to install the 2.1.0.7. eventually it worked but honestly I do not know why. I did repeat the same steps 10 times and then it worked... I keep this one open as we want to retest this when we will have an installation (and uninstall) closer to user experience.

[2018-11-12 16:35] monzug opened #160 "Safari: activation issues after installation"
soon after installing the latest build 2.1.0.7, I did experience the following:
- info pop-up panel open with the webextension not activated (the red little icon on top of alpheios icon missing)
- double clicking on any words would activate the webextension (again the little red icon would appear on top of Alpheios icon)

in both cases, it could be that the little red icon hasn't been loaded yet.

[2018-11-12 16:41] monzug commented on #160
![screen shot 2018-11-12 at 5 40 20 pm](https://user-images.githubusercontent.com/41396793/48361580-19fe8080-e6a2-11e8-91df-df2ac64c03d0.png)

[2018-11-12 16:50] monzug commented on #158
in build 2.1.0.7 the options panel and look up are working fine. also lookup for ἀλλήλων works fine.
I'll keep an eye on these issues

[2018-11-12 17:01] monzug commented on #125
check the memory tab in the activity monitor for few words, the memory usage was not more than 50 MB

[2018-11-12 17:07] monzug commented on #126
related to issue #125  - haven't noticed any memory leak

[2018-11-12 19:06] balmas commented on #125
ok. thanks!

[2018-11-12 19:06] #125 closed

[2018-11-12 19:52] balmas commented on #154
I don't think we have any control over the context menu on the toolbar icon but we can investigate this. I would like to separate it out into its own issue though since we don't currently have any code for this at all.

[2018-11-12 19:54] balmas opened #161 "can we control the context menu on the toolbar icon?"
@monzug reports that the different browsers provide inconsistent behavior on a right click (or equivalent) on the Alpheios toolbar icon:

I don't know if the webextension api or its equivalent on MacOS offer any way to control this behavior.  Assigning to @irina060981 to investigate.

[2018-11-12 19:56] balmas commented on #154
This item should now only cover the page context menu (i.e. a right quick or equivalent on the page rather than on the toolbar icon)

1. Remove the Open Panel menu item from the context menu when tools are active and the panel is not open. the context menu should be only -Deactivate -Info.
2. When tools are not active, we should only have Activate (info does the same thing as Activate so it's redu

[2018-11-13 11:50] MastQ commented on #156
where meanings of words appear in side-window there is dictionary title mentioned among, it appears many times and for me it is unnecessary info

[2018-11-13 12:51] irina060981 commented on #161
Hello, @monzug  and @balmas !
I have made some investigation and there are two variants of using icon popup: default (as it is now) and we can design and add our own html with css and even js.
here it is a documentation for that - https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/browser_action
It could be done with the help of manifest and additional html/css/js

[2018-11-13 13:09] irina060981 commented on #145
Thank you, Bridget, for sharing this information :) So much details for working with Apple that could "messes up Apple's own engineers"

[2018-11-13 15:12] monzug opened #162 "Safari: not activate after page reload"
in Safari, if I reload the page in http://www.poesialatina.it/_ns/Greek/testi/Homerus/Ilias01.htm, the red icon is on but the webextension does not work (e.g. double click does not work).
same site in Chrome in Windows, on page reload the info panel (or any other tab in Options panel) is generated and webextension is on.
same in http://www.thelatinlibrary.com/lucretius/lucretius1.shtml  and   http

[2018-11-13 15:15] balmas commented on #161
Ok, this is helpful. I am inclined to postpone a decision on what should go in this menu and make it a part of the concept redesign that (I think) we will be undergoing.   @monzug if you have suggestions for what you would like to see in this menu though please make them!

[2018-11-13 15:39] monzug commented on #161
1) fix the link that takes to Alpheios site in Chrome
2) be consistent with context menu (e.g. Activate Info)

[2018-11-14 07:46] irina060981 commented on #161
@balmas and @monzug , I am sorry, but I have misled you both.
The described workflow changes the click LEFT mouse button , not right - and it changes NOT context menu - but the simple click - that can give popup.
So the right answer - I didn't find the way to define context menu for toolbar icon.

[2018-11-14 07:57] kirlat commented on #160
@monzug, need your help in reproducing it. I'm testing with the latest version of master now, and I don't see the issue you've described; probably, I'm doing something wrong, but don't know what exactly.

Here is my test sequence:
1. Load an extension. Once loaded, the only option o activate it is either via a menu option ("Alpheios Activate") or through clicking on an Alpheios toolbar icon. In bo

[2018-11-14 09:57] monzug commented on #160
@kirlat, I will wait for a new build and try again to see if I can repro
the problem. It could be my test environment on Safari.

On Wed, Nov 14, 2018 at 2:57 AM kirlat <notifications@github.com> wrote:

[2018-11-14 11:56] kirlat commented on #160
Thank you, @monzug! Please let me know of the results

[2018-11-14 13:07] monzug commented on #160
I will. Thanks

On Wed, Nov 14, 2018 at 6:56 AM kirlat <notifications@github.com> wrote:

[2018-11-14 14:10] balmas commented on #162
assigning this to @kirlat to investigate. I suspect there must be something in the code of these pages that is causing the javascript to stop executing, although I'm surprised to see the Latin Library on the list of sites with problems because there is little to no javascript on on that site. It could be an HTML markup issue rather than Javascript specifically.

[2018-11-14 14:12] balmas commented on #161
ah, okay. well that makes things simpler :-) I think we might have to live with what the browser puts here.

[2018-11-14 15:17] monzug commented on #115
reassign to myself to test again in new build post-release and in safari

[2018-11-14 15:19] monzug commented on #113
@balmas should we add to one of the next releases?

[2018-11-14 15:58] balmas commented on #145
a few more notes on the install process:

1) I have run the validation process in XCode (https://help.apple.com/xcode/mac/current/#/dev37441e273) which is supposed to validate that the app meets minimum requirements and passes standard app store connect tests

2) I have also run the package installation test as described at https://help.apple.com/xcode/mac/current/#/dev16fb2b911 and that passed as

[2018-11-14 16:07] monzug commented on #145
How much you like the Apple world????? I am wondering how the other apps
do. I trust you,@balmas

On Wed, Nov 14, 2018 at 10:58 AM Bridget Almas <notifications@github.com>
wrote:

[2018-11-14 16:09] monzug commented on #145
as you mentioned: TestFlight supports apps for iOS, watchOS, tvOS, and
iMessage.

On Wed, Nov 14, 2018 at 11:07 AM Monica Zugan <monzug@gmail.com> wrote:

[2018-11-14 16:32] balmas commented on #113
yes we should. I think we could try to do this as part of the Safari code changes.  Assigning to @irina060981 to investigate.

[2018-11-15 00:59] irina060981 commented on #145
I hope that Apple team will be interested in to help us in developing a Safari App Extension as there are few of them now - because of there ignoring standards and making the development workflow so immature.
So they should be interested to popularize it while there tools are still in alpha/beta modes.
Oh how are they going to re-developing Safari App Extensions in there App Store after removing a

[2018-11-15 12:18] kirlat commented on #162
This issue is specific not to any particular sites, but to every site, actually. This is related to idiosyncrasies of Safari app extension architecture.

This is how it works in webextension. In background script we have state objects that reflect a state of extension instance within each browser tab. Also, we have a callback in a background script that is triggered by a tab reload. Once we catch

[2018-11-15 12:56] irina060981 commented on #135
I have faced with problems while applying `postcss-important` plugin:
it is very old (3 years ago) and completely oudated,
I have found a similiar plugin - `postcss-safe-important` - but it is outdated partly. (1 year ago)

I was not able to find any working plugins for Postcss to add important flag.

I will try to update it to use with our webpack/postcss version - I need to solve the following p

[2018-11-15 13:02] balmas commented on #162
If we can't catch the page reload event then I think your solution is fine.

[2018-11-15 13:13] balmas commented on #135
Ok. Maybe it's worth taking a step back to think about other approaches to this problem as alternatives to investing time in the post-css-important plugin? I'm coming up blank right now unfortunately.

[2018-11-15 13:21] kirlat commented on #135
I will try to get with some alternative solutions in the next couple of days, maybe there is something somewhere. It would be a maintenance nightmare to keep two set of similar files for different browsers.

[2018-11-15 13:22] irina060981 commented on #135
There are really several problems here:

1) we are not currently using postcss - we use different loaders

2) I couldn't create a clear webpack task that produces only css - it will produce css and js (because webpack - is js bundler) - so build and build-safari will both create the same js, but different css

3) But we need important near some styles for known problem sites and may be adding impo

[2018-11-15 13:51] balmas commented on #135
I think, unspecific to the Safari problem, we do still need additional specificity in some of our styles, because occasionally underlying page styles are still bleeding through. So, some additional cleanup and reorganization of styles generally might help with that .

[2018-11-15 14:13] kirlat commented on #135
That's maybe not related to the topic directly, but since we're discussing CSS organization and processing I think it might be worth discussing here. The question I want to bring is whether a UIKit is an asset or a liability in our current design.

I have a feeling we do not follow UIKit styles extensively throughout our apps because our custom styles (and our style requirements) are so different

[2018-11-15 14:34] balmas commented on #152
@monzug I'm not sure I understand which icon you are talking about and what you mean by "mouse on".
Can you attach a screenshot with details? Thanks!

[2018-11-15 14:41] balmas commented on #119
This is a problem with panel state on reload. Will be addressed via alpheios-project/components#254

[2018-11-15 14:41] #119 closed

[2018-11-15 16:03] kirlat commented on #162
Merged into master

[2018-11-16 07:46] monzug commented on #152
mouse over on the Alpheios icon in the dock. the icon is out of focus - see
screenshot

On Thu, Nov 15, 2018 at 3:34 PM Bridget Almas <notifications@github.com>
wrote:

[2018-11-16 10:48] monzug opened #164 "Safari: double clicking instability after installation"
after installing a new build (in this case 2.1.0.7), the double-clicking does not work properly. this might be related to issue alpheios-project/components/issues/280  and  #160, I will update this one with a screenshot.
Activate the tool for page http://www.thelatinlibrary.com/lucretius/lucretius2.shtml
double click on the words of the first two rows, sometimes double click opens up the correct m

[2018-11-16 10:55] monzug commented on #160
reinstall build 2.1.0.7 and I experience some issues as reported in /alpheios-project/webextension/issues/164.
related to this one, I took a screenshot with tools deactivated but the morphology still working

![screen shot 2018-11-16 at 11 33 16 am](https://user-images.githubusercontent.com/41396793/48617327-76111f80-e996-11e8-8f06-b5398d068a80.png)

the  site is  http://www.thelatinlibrary.com/lu

[2018-11-16 11:50] kirlat commented on #160
@monzug, is there any particular sentence of steps I can use to reproduce this? Can't achieve this on my macBook at the moment 🙁

[2018-11-16 12:04] balmas commented on #164
I was experiencing something similar myself when using the latest components code with the embedded library yesterday.  @kirlat I was able to reproduce this pretty easily by introducing a breakpoint in the debugger, so I think it may have to do with timings of initial activation.  Can you take a look at your changes and see if you can see anything that would cause this?

[2018-11-16 12:07] balmas commented on #160
@kirlat I don't think this is necessarily specific to Safari.  As noted in #164 I was seeing very similar behavior using the embedded library on my Ubuntu machine yesterday.  I was using a break point in the inflections component (because that's what I was working on)

[2018-11-16 13:09] balmas commented on #152
I don't have a screenshot but I think I see what you mean. It looks okay in the fixed dock but is fuzzy in the one that appears when you control tab through the open apps. I am currently looking at hiring a designer to help with some things and this may need to wait until then.

[2018-11-17 09:13] irina060981 commented on #135
https://github.com/alpheios-project/node-build/pull/10
https://github.com/alpheios-project/webextension/pull/165
https://github.com/alpheios-project/components/pull/282

[2018-11-17 09:17] irina060981 commented on #135
Fixes for the issue:
**poesialatina.it**   (buttons styles)
**Firefox**
![image](https://user-images.githubusercontent.com/12377640/48659454-4ef14580-ea9d-11e8-9149-05080f3ceae2.png)

**Safari**

[2018-11-17 12:49] irina060981 commented on #136
Solved upon https://github.com/alpheios-project/webextension/issues/135
Fixed styles

[2018-11-17 12:52] irina060981 commented on #139
https://github.com/alpheios-project/webextension/issues/135

[2018-11-19 08:15] irina060981 commented on #140
Fixed
**Safari**
<img width="828" alt="screen shot 2018-11-19 at 18 14 36" src="https://user-images.githubusercontent.com/12377640/48694062-036aa300-ec27-11e8-937f-39caeac0373b.png">

[2018-11-19 08:16] irina060981 commented on #140
**Firefox**
![image](https://user-images.githubusercontent.com/12377640/48694102-28f7ac80-ec27-11e8-9369-74f8c11f8056.png)

[2018-11-19 09:20] irina060981 commented on #153
There was a problem with verboseMode in all browsers - Chrome, Firefox, Safari.
I have fixed it
**Chrome**
![image](https://user-images.githubusercontent.com/12377640/48697374-2cdbfc80-ec30-11e8-9139-c0279f12fe32.png)

**Safari**

[2018-11-19 14:13] irina060981 commented on #135
Merged and closed

[2018-11-19 14:14] irina060981 commented on #136
Merged and closed

[2018-11-19 14:14] #136 closed

[2018-11-19 14:59] balmas commented on #153
Ready for testing in build 2.1.0.9

[2018-11-19 15:01] balmas commented on #139
ready for testing in build 2.1.0.9

[2018-11-19 15:01] balmas commented on #140
ready for testing in build 2.1.0.9

[2018-11-19 15:02] balmas commented on #159
ready for testing in build 2.1.0.9

[2018-11-19 15:03] balmas commented on #136
ready for testing in build 2.1.0.9

[2018-11-19 15:04] balmas commented on #135
ready for testing in build 2.1.0.9

[2018-11-19 15:57] monzug commented on #135
Hello Irina (@irina060981 ),
Bridget suggested that this fix might be the cause of the inflection tables messed up in latest build 2.1.0.9.
see screenshot
![screen shot 2018-11-19 at 4 44 55 pm](https://user-images.githubusercontent.com/41396793/48718731-3d827780-ec1c-11e8-9b02-f4366a8dc2fd.png)

[2018-11-19 16:02] monzug commented on #159
this is fixed in safari 2.1.0.9 - Thanks

[2018-11-19 16:02] #159 closed

[2018-11-19 16:03] monzug commented on #153
this is fixed in build 2.1.0.9 - Thanks

[2018-11-19 16:03] #153 closed

[2018-11-19 16:36] monzug commented on #136
the define looks great in 2.1.0.9 however i can't check the inflection table as they are all messed up. will wait for fix 135

[2018-11-19 17:03] monzug opened #166 "Safari: issues in build 2.1.0.9"
few issues that I have just noticed:
1) can't enlarge Option panel or Define panel and can't scroll down
2) problem activating the tools in Loeb Classics

to be retested in next build

[2018-11-19 17:57] balmas commented on #135
@irina060981 I was thinking this was the removal of the flex styles, but I see that you are right that the class that you removed wasn't used so it must be something else

[2018-11-20 11:47] irina060981 commented on #135
Hello, @monzug and @balmas !
I am very sorry, that I missed the issue with inflection tables while testing my changes.
I have made an investigation - what is happening with panel width and inflection table layout.
And it is a curious problem here - it is the problem from how Safari set priority to styles.
Both problems (panel width and grid layout) were from redefining styles writing inline styles

[2018-11-20 11:52] irina060981 commented on #135
About wrapping inside ID - yes, Bridget, I have forgotten about this flexibility too.
As for Safari issues - there is no need in adding ID attribute, important flag is quite enough.
About others - I think we should spend more time on different variants of styles.
Then I will remove ID wrapping from sass.

[2018-11-20 12:54] kirlat commented on #135
There are custom elements that are part of webcomponents specification. Unfortunately, they are no go for Safari and MS Edge. Even in FF it is still in development: https://caniuse.com/#feat=custom-elements. But that's much more than we need because webcomponents also present a JS API that we're not going to use for this task.

However, if I understand correctly, we can just use our own HTML tags,

[2018-11-20 12:56] irina060981 commented on #166
1) The problem with scroll and enlarge was the same as for incorrect panel width (inflection table messed up). Solved in https://github.com/alpheios-project/webextension/issues/135#issuecomment-440245480

2) problem activating the tools in Loeb Classics
@monzug , what do you mean here?

[2018-11-20 13:10] irina060981 commented on #166
https://github.com/alpheios-project/components/pull/285

[2018-11-20 13:16] irina060981 commented on #136
I have fixed it upon https://github.com/alpheios-project/webextension/issues/135
https://github.com/alpheios-project/components/pull/285

[2018-11-20 13:30] irina060981 commented on #166
Monicf, I have similiar problems with http://www.poesialatina.it/ sometimes - but i haven't found any consistent pattern in it.
I think it comes from our way of exchanging activation status between browser and application.
It seems to me that it could be solved during future refactoring of states .
What do you think @kirlat ?

[2018-11-20 13:35] monzug commented on #166
I just compare Loeb classics in chrome and safari. In safari again double clicking is not working, while in chrome it does. I have screenshots if needed. can't find reproducible steps, though. working on it...

[2018-11-20 13:41] balmas commented on #135
If we can get Safari working well enough with a majority of sites without using a custom tag, I would prefer that for now. We will likely need to revisit this with the upcoming design refresh.

[2018-11-21 04:58] irina060981 commented on #135
merged and closed

[2018-11-21 04:58] #135 closed

[2018-11-21 04:59] irina060981 commented on #166
merged
I didn't close it while investigation of activation problems is not ended

[2018-11-21 12:18] kirlat commented on #166
It's hard for me to assume what the problem is without being able to reproduce it, but, as well as timing (although I haven't seen any timing issues in my tests), it might be a complex multi frame host page structure. The content script in Safari is loaded on every frame of the page because that's how it was architectured by Apple engineers. We don't need this behavior, so we're using a filter to

[2018-11-21 13:10] monzug commented on #166
interesting. In this case, it would apply to all sites. Unfortunately my
experience is on a specific site (loeb classic). I will spend more time on
different site and see what happens. I thought it could be related to the
number of sites already opened on safari browser with alpheios activated,
but again could not find a reproducible scenario yet. Thanks

On Wed, Nov 21, 2018 at 7:18 AM kirlat <no

[2018-11-21 14:57] monzug commented on #166
@kirlat, could it be that it's waiting for the option panel (or info panel) to be generated and it hangs there? let me explain, I just tested again the activation issue on latest build 2.1.0.10. what I noticed this time, tools are active and double click works on Loebclassics but as soon as I browse away from the main page to go to the authors section, the tools are still active (red icon is on) b

[2018-11-21 15:00] monzug opened #168 "Safari: can't move the footnotes pop-up"
Safari, build 2.1.0.10
check footnotes pop-up and notice that the pop-up is way up the page so I cannot close the pop-up and cannot move it down, the only option is to close the inflection table.
see screenshot
![screen shot 2018-11-21 at 4 02 20 pm](https://user-images.githubusercontent.com/41396793/48849595-fbd20800-eda6-11e8-8a7c-25cd5c2d9df7.png)

[2018-11-21 15:10] monzug commented on #136
safari 2.1.0.10, verified

[2018-11-21 15:19] monzug commented on #140
one more about the verb browser, Safari build 2.1.0.10 see screenshots
![screen shot 2018-11-21 at 4 15 47 pm](https://user-images.githubusercontent.com/41396793/48850493-1e652080-eda9-11e8-9fa7-143de702d4a2.png)
![screen shot 2018-11-21 at 4 15 58 pm](https://user-images.githubusercontent.com/41396793/48850504-258c2e80-eda9-11e8-9950-c9bbd7810ad0.png)

[2018-11-21 17:37] monzug commented on #166
thanks. more complicated than I thought. I will have to do extensive
testing on different sites.

On Wed, Nov 21, 2018 at 6:27 PM kirlat <notifications@github.com> wrote:

[2018-11-21 20:37] balmas commented on #166
we may have to accept that Alpheios won't work properly on complex sites like this in Safari, at least not for the initial release of the Safari extension.

[2018-11-22 00:08] irina060981 commented on #140
I have made my tests with the last version of webextension repo (I am not sure that it is the same as the last build) on https://www.loebclassics.com

**Safari - latin selection**
<img width="926" alt="screen shot 2018-11-22 at 10 06 14" src="https://user-images.githubusercontent.com/12377640/48874296-4783c080-ee3e-11e8-8677-500a12f37a08.png">

**Safari - no selection**
<img width="858" alt="scree

[2018-11-22 06:07] irina060981 commented on #168
After some investigation - the probem was with `transform` property - that we define in style and inline - so there was a conflict (like previous width and display).
I have fixed it here - https://github.com/alpheios-project/components/pull/291

[2018-11-22 12:51] irina060981 commented on #113
Bridget, Monica, I am sorry - I have missed somehow this issue - and found it only now.
I think we need some flags - to filter real issues and discussions - now there are many of them and it becomes not so easy to track that issue's queue is empty :)

Ok, I have made some investigation - and I need to say that browsers capability is very poor in this field, as I could found in Google.

I haven't f

[2018-11-22 18:04] kirlat commented on #113
@irina060981, the link you've provided (an excellent one!) mentions the use of  `port.onDisconnect` within a content script to catch the moment when a background script is gone. Here are some more information on this that I've found: https://discourse.mozilla.org/t/unload-content-scripts/13303. If this will work for us, it can be a relatively simple solution to deal with deactivation.

It is a Chr

[2018-11-23 12:15] irina060981 commented on #113
If to be honest I didn't point attention to it as I didn't find any other information first how to use it in a real project - document is very poor about it. And then I forgot about it.
ok, I will try to use it, thank you for pointing attention to it :)

[2018-11-24 04:43] irina060981 commented on #168
merged and closed

[2018-11-24 04:43] #168 closed

[2018-11-26 14:36] monzug commented on #139
tested in 2.1.0.10 - style and double click has been fixed. Thanks

[2018-11-26 14:36] #139 closed

[2018-11-26 14:58] balmas commented on #140
@monzug can you retest with build 2.1.0.11? Neither Irina nor I could reproduce this. Thanks!

[2018-11-26 15:00] balmas commented on #164
@monzug is this still an issue in build 2.1.0.11?

[2018-11-26 15:01] balmas commented on #162
Please test in build 2.1.0.11

[2018-11-26 15:02] balmas commented on #154
@irina060981 can you take a look at this?

[2018-11-26 15:30] monzug opened #170 "Safari: tools deactivated after browsing to a new tab"
Originally reported in issue #164 - Alpheios is deactivated after browsing to other pages.
tested again in 2.1.0.11 in http://thelatinlibrary.com/lucretius/lucretius2.shtml

[2018-11-26 15:44] monzug commented on #140
we still have different size in verb browser as reported in the two screenshots above e.g. poesialatina (super small size) and latin library (super size in http://thelatinlibrary.com/lucretius/lucretius2.shtml) I guess we can live with it. @balmas?

[2018-11-26 16:39] balmas commented on #140
well, I can live with it, but it probably means we've missed a style that needs to be protected so we should probably look at that. Handing back to @irina060981

[2018-11-26 16:56] monzug commented on #140
it's pretty much the same in Chrome so we can pass on this, I think.

On Mon, Nov 26, 2018 at 5:39 PM Bridget Almas <notifications@github.com>
wrote:

[2018-11-26 17:04] balmas commented on #140
agree it's not a critical thing, but it does mean we have a style that can be leaked from the site, so as long as we are trying to tackle that I think we can probably fix it.

[2018-11-26 20:33] balmas commented on #170
I would guess that this was caused by, or at least is related to the change in 84296dceca5330333893b6c2c955ec6a75d80659 for #162

We ideally want alpheios to stay active once activated in the browser tab, so that if you navigate to new pages you don't have to keep reactivating it. Is there a conflict between this functionality and resetting state on page reload? can we distinguish between those sc

[2018-11-26 20:36] balmas opened #171 "panel re-appearing on page reload in Chrome after tools are deactivated"
Maybe caused by some of the changes we made to activation state handling for Safari, if you use the latest webextension and components code in the Chrome webextension, the panel reappears on page reload after you have deactivated the tools. To reproduce:

1. navigate to a page (e.g. www.thelatinlibrary.com/apuleius/apuleius4.shtml)
2. activate Alpheios by clicking on the icon
3. deactivate Alpheio

[2018-11-26 20:37] balmas commented on #170
See also #171

[2018-11-27 14:44] monzug commented on #162
tested in build 2.1.0.11. on page reload, the tools are automatically deactivated

[2018-11-27 15:04] balmas commented on #162
I think that was the only option in Safari. Passing to @kirlat to confirm.

[2018-11-27 15:46] monzug commented on #135
tested in Safari build 2.1.0.11 - looks good, checked several sites so far so good

[2018-11-27 15:50] monzug commented on #158
tested again in build 2.1.0.11 - all works fine

[2018-11-27 15:50] #158 closed

[2018-11-27 15:58] monzug commented on #166
tested again in build 2.1.0.11 - confirmed that tools don't work on Loeb Classical Library, I mean they partially work but as soon as I browse the site, the Alpheios functionality is gone. @balmas, assign back to you to be consider for further releases

[2018-11-27 17:12] kirlat commented on #171
I think I found a solution for this one. I will check other related issues and will try to fix them as well. They seem to be related, so the fixes should better go together.

[2018-11-27 17:19] kirlat commented on #162
Yes, if there are several frames on the page and we cannot determine the one that will hold an activated script (that's the usual case), the only option we have is deactivate extension completely. That's without going too dip into hacking macOS app networking filters and stuff which we decided is better not to touch right now (if ever).

So the correct behavior on pages with multiple frames for Sa

[2018-11-28 05:39] kirlat commented on #162
Also, despite extension functionality being deactivated, an Alpheios icon can still be turned on and off. That's because there is no way for an app extension part (the one that controls the icon state) to know that a content script is disabled and because there is no way for the content script to tell an app extension part about it (without going into extreme complications, at least).

This might

[2018-11-28 10:48] irina060981 commented on #140
I have found styles, that should be redefined with the greater weight.
https://github.com/alpheios-project/components/pull/295

[2018-11-28 10:49] irina060981 commented on #140
![image](https://user-images.githubusercontent.com/12377640/49146934-fea49e00-f34e-11e8-9db5-0c8657717637.png)

![image](https://user-images.githubusercontent.com/12377640/49146948-095f3300-f34f-11e8-98cf-44acaeb903d7.png)

[2018-11-28 12:08] kirlat commented on #170
While working on #170 I tried an approach that can allow us to disable icon and menu item on sites where extension will be disabled (i.e. with frames). This is how it works.

Once content script is loaded into a page with frames, it creates a state with `DISABLED` status and sends that to the Safari app extension. Once the app extension receives this message, it knows that a content script cannot

[2018-11-28 12:08] kirlat commented on #162
While working on #170 I tried an approach that can allow us to disable icon and menu item on sites where extension will be disabled (i.e. with frames). This is how it works.

Once content script is loaded into a page with frames, it creates a state with `DISABLED` status and sends that to the Safari app extension. Once the app extension receives this message, it knows that a content script cannot

[2018-11-28 13:02] kirlat commented on #170
Made some changes to eliminate this behavior. Will issue a PR for this.

[2018-11-28 13:08] balmas commented on #162
@kirlat a couple things:
1) I think this particular issue isn't actually specific to pages with frames. The original report was that on page reload of various pages, all without frames, the state was not being retained. In the FF/Chrome extension, the background process catches browser.webNavigation.onCompleted event, checks for the tab in its state object and uses the tab id to restore state acco

[2018-11-28 14:17] monzug commented on #162
@kirlat - this issue is reproducible in all sites that I tested:
http://dcc.dickinson.edu/allen-greenough/Chapters/Chapter-100.html
http://www.poesialatina.it/_ns/Greek/testi/Homerus/Ilias01.htm
http://www.tradurreantico.it/latino/grammatica-latina/morfologia/verbo/possum-latino/
https://it.wikibooks.org/wiki/Greco_antico/Aggettivi_della_seconda_classe#Temi_in_liquida
http://penelope.uchicago.edu/

[2018-11-28 14:44] monzug commented on #160
@kirlat, I was able to repro this issue in build 2.1.0.11. When I logged in this afternoon , all the sites in Safari had the tools disabled and the pop-ups still opened (inflection table or look-up or option panel). double clicking on any words did activate the webextension again.

[2018-11-29 19:29] balmas commented on #171
please test in build 2.1.0.12.  Changes affect Safari as well as FF and Chrome so please test both.

[2018-11-29 19:30] balmas commented on #170
please test in build 2.1.0.12. Changes affect Safari as well as FF and Chrome so please test in both.

[2018-11-29 19:31] balmas commented on #154
please test in build 2.1.0.12 all browsers

[2018-11-29 19:31] balmas commented on #140
please test in build 2.1.0.12

[2018-11-29 19:35] balmas commented on #166
I believe the Loeb Classics site may actually be working now in build 2.1.0.12. Please retest. Thank you!

[2018-11-29 19:36] balmas commented on #160
We are hopeful this might be fixed in build 2.1.0.12

[2018-11-30 11:20] monzug commented on #170
Tested in Safari in build 2.1.012 - happy to say that the issue reported above is not longer reproducible.
need to test in FF and Chrome

[2018-11-30 11:40] monzug commented on #160
retest in  Safari build 2.1.012 - confirm what I reported in previous comment related to build 2.1.0.11. the tools are disabled when navigating away from the browser with any pop-ups still opened. when I go back to the tab, the tools are reactivated by using look-up or double-clicking

[2018-11-30 11:51] monzug commented on #166
this works now. However we are still missing the pop-up when browsing through pages. In chrome the pop-up is generated every time I browse a new page.

[2018-11-30 12:06] monzug opened #174 "Safari: issues with build 2.1.0.12"
1) Safari: poesialatina.it does not work any longer: tools are activated but double-clicking is not working and no pop-up is generated, also reloading the page does not do anything. this used to work in previous builds.
2) Safari: on reload, the info panel is generated in all sites. in Chrome (previous build) the inflection table or the define panel  or the Grammar (the latest open panel) is gener

[2018-11-30 13:03] monzug commented on #160
FF and Chrome do not have this issue.

[2018-11-30 13:05] balmas commented on #160
Monica, I don't really understand what you mean by "navigating away from the browser with any pop-ups still opened"

[2018-11-30 13:08] balmas commented on #166
I am not actually sure we *want* the popup to be generated everytime we browse a new page. A couple of questions:
1) do you mean the popup that you get when you select a word or the panel?
2) what should happen is that if you activate the tools, then browse to a new page, the panel status should be restored with each new page. So, for example, if the panel was open when you browsed to a new page,

[2018-11-30 13:15] monzug commented on #160
I have safari, chrome and Firefox. let's say I have two tabs in safari one
with grammar on and an other with look-up. if I go to Chrome or Firefox and
then back to Safari, the tools are not active but pop-ups are still on.

On Fri, Nov 30, 2018 at 8:05 AM Bridget Almas <notifications@github.com>
wrote:

[2018-11-30 13:37] balmas commented on #174
1. Re poesialatina.it : @kirlat it seems this is because that site reports 0 as the body.clientHeight value. I am afraid this isn't going to be a reliable measure to use to determine if the frame is big enough to host Alpheios content.  MDN says this property "is zero for elements with no CSS or inline layout boxes;" so I think we either need to find another way to restrict use.  I wonder about th

[2018-11-30 13:45] balmas commented on #166
Ok, @kirlat this is interesting. The behavior seems to change depending upon *how* you navigate to a new page.  For example, if I have the panel open and then enter a new URL in the Safari location bar, the panel reopens after the new page loads. However, if I follow a link on the page to a new page, the panel status is not restored.

[2018-11-30 13:48] monzug commented on #174
FF: poesialatina.it, it.wikibooks.org 1) on reload, no pop-up is generated 2) go to a new page, no panel is generated
Chrome: poesialatina. it 1) on reload, only info panel is generated (no matter which panel was on before) 2) go to a new page, no panel is generated

@balmas as per issue 3, I have seen it few times soon after installation.

[2018-11-30 14:02] balmas commented on #166
Actually, I think this is also an issue in Chrome too. For example, on http://www.poesialatina.it/, the navigation options are offered as menu options on the page. If you use those to navigate, first the panel and popup are closed (due to the clickaway) directive, then the navigation happens, so by the time the new page is loaded, the last status is that the panel was closed.

I'm not really sure

[2018-11-30 14:18] balmas commented on #160
Ok, that is helpful but I cannot actually reproduce that.  Can you tell me the exact steps you take to switch to Chrome or Firefox from Safari? I have tried using command+tab as well as clicking directly on the chrome and safari icons in the Mac launch bar, and both of those keep the tools activated when I return to Safari.  (NB that I have not yet upgraded to Mojave so we might be running differe

[2018-11-30 15:32] kirlat commented on #174
This would bring a high complexity price, because this can be tracked only in background (content scripts are isolated from one another and only background know how many of them run through content state messages). So we'll have to:
* Add an activation counter for each tab to the background script
* Store each frame's URL so we'll be able to distinguish between them (and URL might be an ID not rel

[2018-11-30 15:51] balmas commented on #174
ok.  you have convinced me that going down the counter road would be a bad idea!

[2018-11-30 16:17] monzug commented on #160
interesting. I just click directly to the icon in the dock to go from
safari to chrome or firefox. please perform any tasks in the new tab before
going back to safari. all tabs have the tools disabled. Initially I thought
there was a timer... I know this is not possible.

On Fri, Nov 30, 2018 at 9:18 AM Bridget Almas <notifications@github.com>
wrote:

[2018-11-30 16:19] monzug commented on #166
Plus users are used to see the panel so it's an expecting behavior.

On Fri, Nov 30, 2018 at 9:02 AM Bridget Almas <notifications@github.com>
wrote:

[2018-11-30 16:53] balmas commented on #160
So, I reproduced this once and now cannot reproduce it again. Actually I produced the following scenarios:

1. Open a page in Safari
2. Activate Alpheios
3. Do a lookup, leave popup open
4. Click on Chrome icon in task bar
5. load a new page in Chome
6. Click on Safari icon in task bar
7. Alpheios popup is still there but tools are deactivated

I reloaded the page in Safari, that reactivated the t

[2018-11-30 17:21] balmas commented on #160
More inconsistency:

1. Open a page in Safari
2. Activate Alpheios
3. Open a new tab
4. Navigate to a new page, leave Alpheios inactive
5. Open a new tab
6. Navigate to a new page, Activate Alpheios
7. Click between tabs, note that each time Alpheios retains the correct activation status, no matter what order you click on the tabs
8. Leave the 1st tab with focus
9. Stop touching the computer
10. W

[2018-11-30 17:31] monzug commented on #160
there are many inconsistencies, you are right. so there might be a timer
somewhere... anyhow, I do not remember when I have seen these issues. has
it been there from day 1????

On Fri, Nov 30, 2018 at 12:24 PM Bridget Almas <notifications@github.com>
wrote:

[2018-11-30 17:37] balmas commented on #160
quite possibly. Or it's possible that they have become more apparent as the application becomes overall more stable.

[2018-11-30 19:46] balmas opened #176 "the alpheios embedded response isn't working right for any browser now"
I'm not sure if this wasn't working perfectly in 2.0.3.x either but it's very off now.

The way this was designed to work is the following:

1. user clicks icon or context menu item to Activate
2. background process executes a script in the current page page that sends Alpheios_Embedded_Check Event on document.body
3. Alpheios embedlib has a listener on Alpheios_Embedded_Check and issues in respon

[2018-11-30 22:19] balmas commented on #162
please test in build 2.0.1.13

[2018-11-30 22:21] balmas commented on #174
issues 1 and 2 should be fixed in build 2.0.1.13 which is available in Dropbox for Safari and from https://github.com/alpheios-project/webextension/tree/release-2.1.0.x/dist from FF and Chrome.

Note on item 2, panel tab state: we cannot always restore the state of the panel tab on a new page. For example, if we are viewing an inflection table which is the result of a query, that tab is no longer

[2018-12-02 15:57] monzug commented on #174
poesialatina.it: after installing the latest build, I was able to activate the tools with the info panel opened, also double-clicking works fine. However, as soon as I browse away from the page, the tools are deactivated and I am not able to activate the webextension any longer: double clicking and reloading the page do not produce any results.

[2018-12-03 06:55] kirlat commented on #174
Do I understand correctly that the issue is that a Safari icon becomes disabled (i.e. the icon in a red circle disappears)? What happens to the functionality of an extension then? Would it show a popup if one doubleclick a word? How did a browse away happen: did you click on the link on a page, or did you enter a new URL into the address bar, or did you switch to some other app.

I did some extens

[2018-12-03 07:05] monzug commented on #174
@kirlat  yes, still the same problem that has been reported in issue #160 related to switching to an other browser.  what's left to test in this bug is the panel state in FF and Chrome.

[2018-12-03 11:52] kirlat commented on #174
OK, the problem with icon being deactivated after switching to the other app we could probably solve by making content script to ping background periodically (i.e. sending a state request once a couple of seconds). This is definitely not perfect technically, but within Safari App Extension bounds that's probably the best we can do. @balmas, what do you think?

[2018-12-03 12:49] balmas commented on #174
I think that is not ideal, but might be okay. Could we limit the pinging to when the extension is in the "activated" state?

[2018-12-03 13:01] monzug commented on #174
Panel state in FF, tested in 2 sites, poesialatina.it and thelatinlibrary.com
build 2.1.0.13 vs 2.0.2.20, differences below:
on install and then on reload, no panel opened (info panel in 2.0.2.20)
inflection table and grammar with chapter viewed, on reload info panel is generated (old build opens the verb browser or the grammar panel)
lookup, reload, no panel  (old build opens definitions panel)
n

[2018-12-03 14:22] monzug commented on #174
Panel state in Chrome, tested in 2 sites, poesialatina.it and thelatinlibrary.com
build 2.1.0.13 vs 2.0.2.20, differences below:
on reload after installation, no panel opened (info panel in 2.0.2.20) - there is an improvement compare with old build as the info panel is generated after installation in poesialatina.it, this was not working in 2.0.2.20
inflection table and grammar with chapter viewed

[2018-12-03 14:37] monzug commented on #174
will edit my comments above about the reloading after installation. it does not make much sense as it's one of the situation listed later.

[2018-12-03 14:45] monzug commented on #174
@balmas - I remove the comments on installation and reloading as they are also reported later. so the only issue is the panel not generated on activation. I checked that Panel on activate is checked in Options.

[2018-12-03 15:32] monzug commented on #174
1) yes.

On Mon, Dec 3, 2018 at 10:26 AM Bridget Almas <notifications@github.com>
wrote:

[2018-12-03 15:41] kirlat commented on #174
I'm on it. Added the ping already, investigating a panel issue now. Thanks for detailed description of the issues, very helpful!

[2018-12-03 22:21] balmas commented on #176
@kirlat I have a start on this in https://github.com/alpheios-project/webextension/tree/issue-176 but I haven't tested it or finished the UI for Safari. I'm afraid other tasks are bogging me down this week though and I would like to get a new build to Monica soon, so if you don't mind I'm going to hand it off to you.

For now, I would like the Safari UI to just be the same as FF/Chrome -- i.e. whe

[2018-12-04 11:15] kirlat commented on #176
Thanks for a detailed description. I will try to fix this ASAP.

[2018-12-04 14:40] monzug commented on #140
YES!!!! font size for verb browser looks good in poesialatina, loeb classic, latin library. Thanks!!!!!

[2018-12-04 14:48] monzug commented on #171
tested in all 3 browser in 2.1.0.13. no panel is generated on page reload with tools not active

[2018-12-04 14:48] #171 closed

[2018-12-04 15:08] monzug commented on #162
tested in few sites on safari build 2.1.0.13 - on reload with tools active, the functionality is still there

[2018-12-04 15:08] #162 closed

[2018-12-04 15:15] monzug commented on #154
let me clarify the question about panel not generated on activate. so, if I do use the context menu to activate the tools after installing a new build or opening for first time the tab etc, I get the info panel. any subsequent activation does not generate the info panel. should it be?

[2018-12-04 15:34] balmas commented on #154
it doesn't offer the Info menu option if the panel is open. It should if the panel is closed though. That is what I was seeing. Does it match with your experience @monzug ? Does it make sense for the user?

[2018-12-04 15:44] monzug commented on #154
if I use activate/deactivate from the context menu, I do not get the info panel on activate (panel on activate is checked). the info panel option in the context menu works perfectly.

[2018-12-04 15:46] balmas commented on #154
ah, that's interesting. Is that the case for all browsers or just safari?

[2018-12-04 15:47] balmas commented on #154
Assigning to @kirlat -- to clarify, the problem @monzug is seeing is that the panel isn't opening upon activation, with Panel on Activate checked, if the context menu item is used to activate the tools, rather than the icon.  I think this might be limited to Safari but am waiting for confirmation.

[2018-12-04 15:48] balmas commented on #154
(assigning to @kirlat instead of back to @irina060981 because it's in the same area of code as #176)

[2018-12-04 16:20] monzug commented on #154
yes.

[2018-12-05 06:54] monzug commented on #145
sure

On Tue, Dec 4, 2018 at 9:27 PM Bridget Almas <notifications@github.com>
wrote:

[2018-12-05 13:44] monzug commented on #170
tested again in build 2.1.0.13 in safari. chrome and FF. tools stay active while browsing through the tabs on same browser.

[2018-12-05 13:44] #170 closed

[2018-12-05 13:57] monzug commented on #174
see also some explanation from Bridget added to issue #166

[2018-12-05 13:58] monzug commented on #166
see panel state issue #174

[2018-12-05 13:58] #166 closed

[2018-12-07 21:19] balmas commented on #174
Hopefully mostly fixed in build 2.1.0.14 although panel state upon page navigation is now broken again in Safari at least. Passing to @monzug to verify what she can.

[2018-12-07 21:35] balmas commented on #160
please test in build 2.1.0.14

[2018-12-08 14:47] monzug commented on #154
tested in Chrome and FF, build 2.0.1.14.
1) Panel on Activate is checked
info panel is generated when clicking on Activate from context menu. if info panel is already open , Deactivate is the only option in context menu. If info pane is not open, Deactivate, Info are the two options in context menu.
If Tools are not active, Activate is the only option in context menu.
2) Panel on Activate is not c

[2018-12-08 14:52] monzug opened #179 "Chrome: tooltip for toolbar icon has extra text"
tested in build 2.1.0.14 in Chrome.
tooltip says: "Deactivate Apheios Has access to this site"  and
"Activate Alpheios Has access to this site"

[2018-12-09 09:51] monzug commented on #160
Cannot repro the issues described above in build 2.1.0.14, e.g. switching browser from Safari to Chrome or  opening new tabs.
However I was able to reproduce the above issues once with computer in sleep mode and after leaving the tools on overnite.
Glad to see that tools stay in activate state when browsing through browsers. Pass it to @balmas to confirm that this is good enough for the release.

[2018-12-09 16:37] monzug commented on #174
Thanks! Mostly ping works. I added a comment about this in /components/issues/254.
panel is generated when tools are activated for first time. any subsequent activation, panel is not longer generated. in Chrome and FF

[2018-12-10 04:51] kirlat commented on #160
I'm not sure there is any way to prevent Safari app extension deactivation after mac going to sleep. Probably we do not have any options here at all 🙁.

[2018-12-10 05:01] kirlat commented on #176
I've made fixes for the "disabled" menu item text in Safari and for all browsers to retain panel state between inter-page navigations.

[2018-12-10 12:06] kirlat commented on #179
I think it is a Chrome specific tooltip that indicates what permissions a webextension has:
https://chromium.googlesource.com/chromium/src/+/master/chrome/app/generated_resources.grd#3892

[2018-12-10 12:34] balmas commented on #160
I think it's good enough for release. We should enter a separate issue for reactivation upon sleep state, just so that we can remember to come back to it post-release and investigate further with Apple if necessary. @monzug can you do that and then close this one? Thanks!

[2018-12-10 12:36] balmas commented on #174
maybe my fix for panel state in chrome and ff wasn't correct. @kirlat can you review?

[2018-12-10 12:40] balmas commented on #179
yes, probably we can't do anything about that. Just curious - what version of Chrome are you running @monzug ? I don't get that in mine (version 69) , but I might be a few updates behind.

[2018-12-10 12:44] #160 closed

[2018-12-10 12:49] monzug opened #180 "Safari: tools loose activate state after sleep mode"
see issue #160
tools loose activate state after sleep mode.  to do post-release

[2018-12-10 12:51] monzug commented on #179
interesting. my Chrome version is Version 70.0.3538.110 (Official Build) (64-bit)

[2018-12-10 12:53] balmas commented on #176
A commemt on the "(Disabled)" context menu item -- I had changed this to "(Alpheios Disabled)" in Safari because in Safari we don't have the Alpheios menu item in the context menu.  i.e. in FF/Safari we have:

Alpheios ->
   (Diabled)

But in Safari just:

(Disabled)

with no indication that it has to do with Alpheios.  I don't know if we can have a sub menu in Safari, nor do I care too much about

[2018-12-10 14:17] kirlat commented on #179
I do see it on 71.0.3578.80 too.

[2018-12-10 15:58] balmas commented on #176
In build 2.1.0.15 Dropbox for Safari and https://github.com/alpheios-project/webextension/tree/qa-2.1.0.15/dist for FF and Chrome expect that

- (Alpheios Disabled) remains as context menu item for Safari when on embedded library page, because we don't have the Alpheios submenu
- Safari should now respect state of panel/tab between pages

See more in #174

[2018-12-10 16:03] balmas commented on #174
In build 2.1.0.15 Dropbox for Safari and https://github.com/alpheios-project/webextension/tree/qa-2.1.0.15/dist for FF and Chrome

expect the behavior as described at https://github.com/alpheios-project/webextension/tree/release-2.1.0.x#usage-scenarios

I believe this should be working in all browsers, except I see that there is a slight discrepancy with the following scenario:

*On the same page:

[2018-12-11 16:06] balmas commented on #154
this should be fixed in build 2.1.0.16

[2018-12-11 16:13] monzug commented on #174
besides the above scenario described by Bridget, here is an other one that does not work as supposed:
1)  Activated, navigate to the new page
When an extension is activated, and user navigates to the other page, the webextension retains its active state, as well as whether a panel is open or not and what tab is active within a panel.
in loebclassics in Chrome, the tools are still active when navig

[2018-12-11 16:14] balmas commented on #145
an installer package for build 2.1.0.16 is available in the Dropbox folder, named Alpheios.pkg

To test this install you need to
1. Make sure any development build of Alpheios are ejected and removed from your home directory and gone from Safari.
2. Run the following command in a terminal: `sudo installer -store -pkg Alpheios.pkg -target /`

What you should see is
- [ ] that the Alpheios app is no

[2018-12-11 16:15] balmas commented on #174
can you retest in build 2.1.0.16?

[2018-12-11 16:17] monzug commented on #174
I will but the quick test I did in safari, it worked as in build 15.  I am
installing it right now on chrome and ff

On Tue, Dec 11, 2018 at 11:15 AM Bridget Almas <notifications@github.com>
wrote:

[2018-12-11 16:54] monzug commented on #174
definitely, it does not work in loebclassics (tested in Chrome, FF and Safari).
e.g.
- open new loebclassic page and activate the tools. tools are activate and info panel is generated.
- go to authors page, info panel is generated again. select any author and open any related books. No panel generated. double click any word and open inflection page (or define or grammar), go to the next page of th

[2018-12-11 17:06] balmas commented on #174
Ah, okay, I think we are running into the known limitation that if you use page elements to navigate to a new page, the clickaway directive we have active in Alpheios, in which clicking outside of the panel or popup closes them both, takes effect before the page navigation, so that the status is changed to closed first.  There isn't anything we can do about this right now.  If that's the only thin

[2018-12-11 17:10] monzug commented on #176
build 2.1.0.16 - confirmed that in Safari on page reload the below comment reported previously is still reproducible:
 - Scenario 1b: YES in Chrome and FF. in Safari on page reload of the test site with embedded library, the tools are activated (red icon is on).

[2018-12-11 17:15] monzug commented on #174
this used to work on previous release 2.0.2.20 (just re-tested in chrome). I still have to test other issues.

[2018-12-11 18:13] monzug commented on #154
retested in Safari, Chrome and FF, build 2.1.0.16, the info panel is generated on activation after rechecked the Panel on activate option. YES, IT WORKS!

[2018-12-11 18:13] #154 closed

[2018-12-11 19:16] balmas commented on #176
See notes in https://github.com/alpheios-project/embed-lib/issues/27, I cannot reproduce the problem in Safari. @monzug please clear browser cache on Safari and try again ?

[2018-12-11 19:17] balmas commented on #174
I think it was actually broken in the previous release, in that we didn't retain state properly between pages.

[2018-12-12 07:53] monzug commented on #145
first, the last / backslash should be removed
then I am stuck here

![screen shot 2018-12-12 at 8 51 36 am](https://user-images.githubusercontent.com/41396793/49854727-7234b980-fdeb-11e8-9414-4eed86bf1a02.png)

[2018-12-12 08:21] monzug commented on #145
as per installation process, Alpheios is checked in the Safari Extensions

[2018-12-12 12:11] kirlat commented on #174
@monzug, how do you navigate to other pages? Do you click on a link on a page or use page's menu? If so, then it is working as expected, I think: clicking anywhere on a page closes a panel automatically and this closed panel state is transferred to the other page. As @balmas noted, it was broken in the previous release as it was not respecting the closed state on a new page but rather was activati

[2018-12-12 12:18] kirlat commented on #176
@balmas, that might be a timing issue described in https://github.com/alpheios-project/embed-lib/issues/27#issuecomment-446552969. It might be failing in some tests and succeeding in others. And this is ... expected? I think embedded lib sending a message when activated and a UI message upon extension's deactivation might do the good.

[2018-12-12 12:41] balmas commented on #145
ok, I'm going to consider this done then. Thanks!

[2018-12-12 14:30] monzug commented on #145
how about the Alpheios extension checked at installation. I had to uncheck
and check again to run it.

On Wed, Dec 12, 2018 at 7:41 AM Bridget Almas <notifications@github.com>
wrote:

[2018-12-12 14:34] balmas commented on #145
I am not going to worry too much about this. I suspect it it is some artifact of the fact that we are testing with different versions of the extension installed in different ways. As we cannot really test what the user experience is here, I think we will have to rely on the Apple review and validation mechanisms to make sure our install package works as it should.

[2018-12-12 15:17] monzug commented on #145
ok. let me do an other installation before giving a go.

On Wed, Dec 12, 2018 at 9:34 AM Bridget Almas <notifications@github.com>
wrote:

[2018-12-12 15:31] monzug commented on #176
to be retested with fix #27

[2018-12-12 15:48] monzug commented on #174
yes, it works as you described so well. Thanks.
I just reported all the differences between current release builds and  2.0.2.20. glad that the problem is in the old one....

[2018-12-12 15:48] #174 closed

[2018-12-12 20:04] balmas commented on #176
Please retest in Build 2.1.0.17 (in Dropbox and https://github.com/alpheios-project/webextension/tree/qa-2.1.0.17/dist) using http://www-test.alpheios.net/alpheios-texts/Perseus.text.1999.02.0066/book1_poem1.html for the embedded library test page. Clear your browser cache first to be sure to get the updated code on the embedded page.

I haven't been able to reproduce this myself, but you should s

[2018-12-13 13:33] balmas commented on #179
This is probably related to the extension security changes in Chrome 70 described at
https://blog.chromium.org/2018/10/trustworthy-chrome-extensions-by-default.html and
https://developer.chrome.com/extensions/runtime_host_permissions

It isn't explicitly mentioned in there but they introduced a set a of changes intended to increase user visibility and control over extension permissions.

@kirlat C

[2018-12-13 13:41] monzug commented on #115
tested in Chrome and FF build 2.1.017. all sites listed above generate the info panel on activation.
I can confirm that lookup does not work in https://www.studenti.it/verbi_anomali.html

[2018-12-13 13:48] kirlat commented on #179
Will check it out

[2018-12-13 13:57] balmas commented on #115
@monzug lookup is working for me at https://www.studenti.it/verbi_anomali.html in Chrome and Safari. What words aren't working for you?

[2018-12-13 14:05] monzug commented on #115
Confirm that all sites work on Safari, including studenti.it.

[2018-12-13 14:06] monzug commented on #115
reconfirm that lookup for caro in studenti.it does not work (Chrome)

[2018-12-13 14:08] #115 closed

[2018-12-13 14:15] monzug commented on #176
there is only a quick activation (Alpheios icon turns blue) when clicking on the icon just after opening the site for the first time in FF and Chrome. other than that, it looks good.
in Safari, I am not longer able to reproduce the activation in the embedded library test page. the red icon was on only once and got the message, see attachment. GOOD!!!!!

[2018-12-13 14:20] monzug commented on #176
@balmas, see message above. I closed this issue, feel free to reopen it if there is anything u don't like in the message.

[2018-12-13 17:21] kirlat commented on #179
There are three possible settings of user controls for host permissions: "On all sites" (this is a default now and this is the one we've tested our extension with), "On a specific site" (on sites that do not have any explicit permissions it requires user to click on either an icon or a menu to allow access for a site), "When you click the extension" (as previous, but requires user to click for all

[2018-12-13 17:40] kirlat commented on #179
I think we fully obey rules of Google's Content Policies. We do very minimal minification (can do more, I think) and we do not obfuscate any pieces of code. We do satisfy all other requirements too.

Once we start collecting user data, we should clearly specify what data is collected and how it might be used.

[2018-12-13 18:17] balmas commented on #179
super, thanks. Closing this.

[2018-12-13 18:17] #179 closed

[2018-12-13 18:19] balmas opened #184 "detect and react to user-specified host permissions"
There are three possible settings of user controls for host permissions: "On all sites" (this is a default now and this is the one we've tested our extension with), "On a specific site" (on sites that do not have any explicit permissions it requires user to click on either an icon or a menu to allow access for a site), "When you click the extension" (as previous, but requires user to click for all

[2018-12-13 18:20] balmas commented on #179
I have entered a separate issue to track whether or not we want to detect and respond to user overrides of host permissions for the issue @kirlat describes above.

[2018-12-14 13:37] monzug opened #185 "Safari: Local files don't work with the extension"
Safari only, tested in build 2.1.0.17
The extension doesn't work with local files loaded in the browser in Safari.
Open the text file with all the supported languages. Turn on Alpheios. the red icon is on but info panel is not generated and double clicking is not working. also the context menu does not have any reference to Alpheios tools.

[2018-12-20 20:53] balmas commented on #127
build is documented in the BUILD.md file at the root of the webextension repo. See also #145

[2018-12-20 20:53] #127 closed

[2019-01-09 16:45] balmas opened #190 "use access token for user data api authentication"
we should use an access token rather than an identity token when retrieving data from the user data api

[2019-01-10 14:58] balmas opened #192 "implement logout of AuthO"
The BGAuthenticator logout method currently removes the stored token but it doesn't actually log the user out of the AuthO service. In a situation where a user uses Alpheios on a shared machine, they might think they are logged out but they aren't really. Unfortunately it looks like we probably need to do this in an iFrame for the webextension because it isn't exposed by the AuthO api without a re

[2019-01-10 19:17] balmas commented on #192
https://stackoverflow.com/questions/26080632/how-do-i-log-out-of-a-chrome-identity-oauth-provider

[2019-01-30 13:26] balmas opened #195 "notify page of Alpheios activated status"
moved from alpheios-project/components#326

requested by PHI -- for sites that want to change their behavior if the user has the Alpheios extension installed, it would be useful if there was a reliable way to check whether or not the Alpheios tools are enabled or not, such as the use of a data attribute on the Alpheios popup or on the document body.

I think the better way to handle this is via an

[2019-02-01 18:10] balmas commented on #192
this is partially implemented now (for Chrome). It uses the change in alpheios-project/auth0-chrome#1 which fetches the Auth0 logout url. This works to log the user out of the Auth0 session, and it results in the logout url for the application being displayed in a popup window. I'm not sure if there is any way to avoid that behavior. The logout page is currently configured as a page on our server,

[2019-02-01 18:10] balmas commented on #190
this is done.

[2019-02-01 18:10] #190 closed

[2019-02-01 18:11] #176 closed

[2019-02-01 18:16] balmas opened #199 "add Auth0 support to Safari"
Perhaps using  https://github.com/auth0/Auth0.swift

[2019-02-01 18:39] balmas commented on #80
closing this issue in favor of individual issues for remaining work

[2019-02-01 18:39] #80 closed

[2019-02-25 21:41] balmas opened #202 "add auth polyfill for Firefox"
make the auth code work in the Firefox extension

[2019-02-25 21:42] balmas commented on #192
@kirlat please let me know if you can come up with any improvements to what I did here

[2019-03-04 19:43] #195 closed

[2019-03-04 19:50] balmas commented on #156
Will be addressed vi alpheios-project/components#345

[2019-03-04 19:50] #156 closed

[2019-03-04 19:53] #41 closed

[2019-03-04 19:55] balmas commented on #130
I think we have mostly implemented the refactoring we plan to do here now.

[2019-03-04 19:55] #130 closed

[2019-03-04 19:58] balmas commented on #137
closing in favor alpheios-project/components#337

[2019-03-04 19:58] #137 closed

[2019-03-06 14:27] kirlat commented on #202
This works with the Mozilla's browser polyfill we're using right now. No special changes to the `auth0-chorme` are required.

The only problem is that authentication is taking 60+ seconds. This seems to be caused by a bug in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1528562. A way to fix it is to change the pref **extensions.webextensions.identity.redirectDomain** to use **extensions.m

[2019-04-01 13:08] balmas commented on #192
I think this has been addressed now for Chrome and FF by using interactive=false on the logout call.  Giving to Monica to test.

[2019-04-01 16:59] balmas commented on #152
Safari Build 3.0.0.24 (in the Dropbox folder) has the new icons. @monzug let me know if it looks better to you.

[2019-04-01 19:13] balmas commented on #199
or maybe this https://gluu.org/docs/ce/integration/native-apps/appauth-ios/

[2019-04-02 06:49] monzug commented on #152
I did not succeed with the installation (missing from the extension tab in
safari). however I could mouse over the Alpheios logo and it does still
look not quite right. see screenshot

On Mon, Apr 1, 2019 at 6:59 PM Bridget Almas <notifications@github.com>
wrote:

[2019-04-02 12:09] balmas commented on #152
hmm. I wonder if it actually got installed because it looks pretty good for me (the color is slightly lighter than previously -- this is because we are sticking to the new design palette)

[2019-04-02 12:12] balmas commented on #152
![Screenshot 2019-04-02 08 10 25](https://user-images.githubusercontent.com/644870/55401508-ffc52200-551e-11e9-8fb0-06ab8360dab8.png)

I can't figure out how to get a screenshot of the command+tab dock open

[2019-04-02 12:31] monzug commented on #152
it didn't get install for sure. shouldn't the icon still be the right one?
oh well, if it's good for u, then it's ok.
to take screenshot, do command shift 4

On Tue, Apr 2, 2019 at 2:12 PM Bridget Almas <notifications@github.com>
wrote:

[2019-04-02 12:39] balmas commented on #152
Let's just leave this open until you can verify it with a clean install.

[2019-04-02 12:41] monzug commented on #152
I had install the other dmg as there was no date on the reading tools. I did download it but it does not open. is there anything different that I have to do?

[2019-04-02 12:44] balmas commented on #152
Ah, I think this is my fault. I forgot the step of building the dmg .. when I test I just use the folder. Let me build you an image. Sorry!!

[2019-04-02 12:44] monzug commented on #152
No problem at all. At least I know what's going on.

[2019-04-02 12:48] balmas commented on #152
Image is there now!

[2019-04-02 12:51] monzug commented on #152
YES!!!! I can see the new logo in lighter blue and the mouse over. I'll
take a screenshot in a sec (I have to switch to mac)

On Tue, Apr 2, 2019 at 8:48 AM Bridget Almas <notifications@github.com>
wrote:

[2019-04-02 12:56] monzug commented on #152
![Screen Shot 2019-04-02 at 2 51 55 PM](https://user-images.githubusercontent.com/41396793/55404063-6e25d680-5557-11e9-86ca-f198944539eb.png)

[2019-04-02 12:56] #152 closed

[2019-04-09 15:43] monzug commented on #192
tested in Chrome build 3.0.0.23
when I logout, the side and top navigation should go back to the initial state: either only the Alpheios icon + the lookup and option to expand or with the following icons open already: help, browse inflection table, grammar, option, user login. right now I do have all the icons that were active with previous user including the world user example.
see screenshot
![t

[2019-04-12 18:28] balmas commented on #202
If I understand the Firefox bug tracking system properly, this should be fixed in Firefox 68

[2019-04-17 19:30] balmas opened #210 "add status badge for chrome and ff too"
requested by @abrasax it seems that at least chrome supports badges on the toolbar icons and we'd like to use them to indicate status on chrome and ff too if we can.

[2019-04-22 18:27] balmas commented on #202
or actually maybe the next Firefox release, 67. It has been approved for 67 beta 12

Closing this and setting to wailing_verification.

[2019-04-22 18:27] #202 closed

[2019-04-24 15:33] balmas opened #212 "update Auth0 registered callback urls for deployment"
we need to update all the Auth0 registered URLs to the official released extension ids before release.

[2019-04-24 20:09] balmas opened #213 "request and use refresh tokens to keep user session alive"
We should consider requesting and use refresh tokens to keep a user authenticated.

See https://auth0.com/docs/tokens/refresh-token/current#use-a-refresh-token

[2019-04-25 18:32] balmas opened #216 "detection and deactivation on page with embedded library is broken"
seems we broke this at some point.  not sure if the bug is in the webextension or the embedded library.

[2019-04-25 18:33] balmas commented on #216
we probably also don't want to display the little ui notification about the tools being automatically disabled when the embedded library is used on an Alpheios-hosted page.

[2019-05-01 12:56] balmas opened #217 "clear extension sync storage upon uninstall"
we should clear the extension sync storage upon uninstall of the extension.  This is not happening automatically, at least in Firefox. See alpheios-project/components#489

[2019-05-06 16:27] monzug commented on #216
tested in text environment 1.0.0.7. Alpheios can be activate in Collection and it's disabled in Alpheios reader. should be disabled everywhere in text env.

[2019-05-09 11:58] balmas opened #219 "don't open panel upon activation"
Requested by @abrasax . Now that we have the toolbar, it isn't so necessary to open the panel upon activation. Let's change the default behavior.

[2019-05-09 19:53] balmas commented on #219
can be tested in 3.0.0.33

[2019-05-09 19:53] #219 closed

[2019-05-10 14:04] monzug commented on #219
verified in 3.0.0.33

[2019-05-14 13:33] monzug commented on #202
I have Firefox Quantum 66.0.4 (64-bit)  and it does take sometimes. we should test when the version with the fix is available.

[2019-05-14 14:51] kirlat commented on #202
According to the FF release schedule (https://wiki.mozilla.org/Releases/Firefox_67), version 67 shall be available on May 14th, which is today. As it will probably be rolled out in stages, it can arrive any time from now.

[2019-05-14 15:01] monzug commented on #202
I checked the Firefox page when testing the issue and it was not available
yet

On Tue, May 14, 2019 at 10:51 AM kirlat <notifications@github.com> wrote:

[2019-05-20 16:10] monzug commented on #202
Firefox 67 ships to the stable release tomorrow, May 21st

[2019-06-06 14:24] monzug commented on #202
Tested in firefox 67.0.1 (64-bit) - authentication was superfast, both sign up and log in.

the fix to this issue is supposed to be released in 67 beta 12. will test again then but looks good to me

[2019-06-10 13:45] balmas opened #221 "when I logout, the side and top navigation should go back to the initial state"
tested in Chrome build 3.0.0.23
when I logout, the side and top navigation should go back to the initial state: either only the Alpheios icon + the lookup and option to expand or with the following icons open already: help, browse inflection table, grammar, option, user login. right now I do have all the icons that were active with previous user including the world user example. @balmas how do we

[2019-06-10 13:46] balmas commented on #192
entered #221 for remaining issue.

[2019-06-10 13:46] #192 closed

[2019-06-13 12:39] balmas commented on #210
@abrasax has also requested that instead of the open book emoticon we just use the word "on"

[2019-06-13 12:59] irina060981 commented on #210
As I could see Firefox has ability to add a badge
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/browserAction/setBadgeText

And Chrome could too - https://developer.chrome.com/extensions/browserAction#method-setBadgeText

[2019-06-13 16:59] balmas commented on #210
yes, please go ahead and implement it. Thanks!

[2019-06-21 05:44] irina060981 commented on #210
Chrome
![image](https://user-images.githubusercontent.com/12377640/59900355-56197100-943b-11e9-95e5-742ebb2f25b7.png)

Firefox
![image](https://user-images.githubusercontent.com/12377640/59900373-64678d00-943b-11e9-8f8a-83427b41af19.png)

[2019-06-21 06:00] irina060981 commented on #210
Safari
<img width="872" alt="Screen Shot 2019-06-21 at 15 57 57" src="https://user-images.githubusercontent.com/12377640/59901166-bb6e6180-943d-11e9-8a94-57bae45e8f8c.png">

[2019-06-21 06:03] irina060981 commented on #210
I have also set muted color for badge in Firefox and Chrome (to be in brand color)
I didn't find the way to change the coor for Safari badge, but from my point of view it is not consistent to have red everywhere.

@balmas , what do you think - could we use muted and red in different extensions?
or should I do all in red?

[2019-06-24 05:38] irina060981 commented on #210
Changed to red and text badge to On
![image](https://user-images.githubusercontent.com/12377640/59994121-0e425600-9696-11e9-86cb-4ed934ed0301.png)

[2019-06-24 11:40] irina060981 commented on #210
Merged and closed

[2019-06-25 15:49] balmas commented on #210
I think we need some additional tests here, to make sure the initial state for a new tab has the badge text off

[2019-06-25 15:51] balmas commented on #210
the code to set the badge text probably should be moved into the activateContent and deactivateContent methods, rather than in the browserActionListener

[2019-06-26 05:36] irina060981 commented on #210
I have made additional investigation - and it turns out to be a little more complex than simply move to activate/deactivate.
Because badge is not removed by default.

[2019-06-26 12:25] irina060981 commented on #210
merged and closed

[2019-07-02 20:44] balmas commented on #210
@monzug reports that the badge status is not being cleared when in the texts environment. Maybe the test for isEmbedLibActive() is failing?

[2019-07-02 20:45] balmas commented on #210
Or maybe I haven't given an updated version of the webextension with this fix yet.  taking this myself to double check.

[2019-07-09 15:37] balmas commented on #210
status badge should now be off in texts environment as long as the latest webextension is installed
webextension qa-3.0.0.45/Safari3.0.0.45)/embed-lib 1.0.0.27

[2019-07-09 15:40] balmas opened #226 "update documentation and faq for release"
reminder not to forget to do this.

[2019-07-10 12:55] balmas commented on #221
I believe this has been fixed by alpheios-project/components#519

[2019-07-10 12:55] #221 closed

[2019-07-10 15:09] monzug commented on #210
I have installed latest build in Chroma and FF. the on status badge gets contaminated when passing from web extension to text environment and back. see screenshots.
![status-bar-on-2](https://user-images.githubusercontent.com/41396793/60980781-1f7c9b00-a303-11e9-8eb3-96137a9818f0.JPG)
![status-bar-on](https://user-images.githubusercontent.com/41396793/60980782-20153180-a303-11e9-9dea-5c1a0715197e.

[2019-07-10 15:37] monzug commented on #210
![status-bar-on-3](https://user-images.githubusercontent.com/41396793/60982941-168dc880-a307-11e9-91bd-ec718d47bb13.JPG)

[2019-07-10 15:53] balmas commented on #210
hmm, okay, so it's when switching between tabs that it's broken?

[2019-07-10 15:54] monzug commented on #210
yes.

On Wed, Jul 10, 2019 at 11:53 AM Bridget Almas <notifications@github.com>
wrote:

[2019-07-10 16:21] balmas commented on #210
ok thanks, will fix.

[2019-07-11 20:46] balmas commented on #210
fixed in in qa-3.0.0.46

[2019-07-11 20:46] #210 closed

[2019-07-22 14:10] monzug commented on #210
tested in chrome and ff. fixed. thanks

[2019-07-24 18:36] monzug commented on #202
looks good to me - FF 68.0

[2019-08-19 12:26] irina060981 opened #232 "The user could not log out from the extension"
@balmas , here it is an issue
The user is not really log out from the extention.
The steps to reproduce:
   - Activate the extension
   - Log in with any user
   - log out
    - Reload the page
The result you are again logged in. (Chrome extension and Firefox extension)

[2019-08-19 12:47] balmas commented on #232
yep, I can reproduce this too. Will investigate.

[2019-08-19 14:41] balmas opened #233 "review embedded library notice"
@monzug reports receiving the embedded library notice in the texts environment:

![Screen Shot 2019-08-13 at 4 04 19 PM](https://user-images.githubusercontent.com/644870/63274442-cc84f480-c26d-11e9-8564-cdfa12879be8.png)

Need to review the situations under which this occurs and decide if we want to keep it or not.

[2019-08-19 20:05] balmas commented on #233
the embedded lib active notice was implemented in 2.1.0.x as part of this issue:

https://github.com/alpheios-project/webextension/issues/176 to deal with the timing issue in Safari which @kirlat explained so helpfully here:

https://github.com/alpheios-project/embed-lib/issues/27#issuecomment-446552969

[2019-08-19 20:07] balmas commented on #233
sadly, the I did not follow up on my comment in alpheios-project/embed-lib#27 about needing to make sure this was addressed in this release...

[2019-08-19 20:08] balmas commented on #233
That said, I think that there still isn't a huge amount we can do here. I am thinking we do NOT want to display the notice on the Alpheios Reader though, because it would just add confusion to the user. So I am leaning towards just hiding the notice there, but leaving it for other uses of the embed-lib, but with updated branding colors.

@monzug what do you think?

[2019-08-21 17:51] monzug commented on #233
after all it's not a misleading message so we can live with it for now.

[2019-08-21 18:04] balmas commented on #232
qa-3.0.0.57/components 1.2.27 (still not in Safari)

[2019-08-22 12:26] balmas commented on #233
the notice actually already has been updated with the new colors and fonts, so we just need to hide it nemo.

[2019-08-22 13:59] monzug commented on #232
@balmas, I think we had a discussion about this and my understanding was that we wanted to keep the user logged in on reload.

[2019-08-22 14:00] balmas commented on #232
@monzug yes, but only if they hadn't explicitly logged out.  If you actually logout, it should not keep you logged in.

[2019-08-22 14:03] monzug commented on #232
ok, my misunderstanding!!!!

On Thu, Aug 22, 2019 at 10:00 AM Bridget Almas <notifications@github.com>
wrote:

[2019-08-30 15:33] monzug commented on #232
tested in chrome and FF, when logged out you don't log in back after a reload.  I had the following experience in Chrome: only once the authentication window stayed open in the front but I could see that I was logged in.
see screenshot
![login-still on](https://user-images.githubusercontent.com/41396793/64033115-c7e7f800-cb19-11e9-8ede-b686bcc79e02.JPG)